<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <title>Home</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            Home
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li><a href="/cns">Information</a></li>
                                    <li class="active"><a>Actions</a></li>
                                </ul>
                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h1>
                                                    Automated Notifications
                                                </h1>
                                                <div class="panel-body">
                                                    <button id="setCompNotify" class="btn btn-primary btn-block">Set Customer Service Notifications</button>
                                                    <button id="resetCompNotify" class="btn btn-primary btn-block">Reset Customer Service Notifications</button>
                                                    <button id="setDriverNotify" class="btn btn-primary btn-block">Set Driver Form Notifications</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <script src="/static/js/global-notify.js" charset="utf-8"></script>

    </body>
</html>
