<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->


        <style media="screen">
            .radio-inline {
                padding-left: 0;
            }
        </style>

        <title>Company</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Company: {{ .company.Name }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li><a href="/cns/company/{{ .company.Id }}">Customer Center</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/service">Service</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/vehicle">Vehicles</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/form">Forms</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/file">Files</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/notification">Notifications</a></li>
                                    <li class="active"><a>Features</a></li>
                                    <li><a href="/cns/company/{{ .company.Id }}/violation">Stats</a></li>
                                    {{ if eq .session.ROLE "ADMIN" "DEVELOPER" }}
                                        <li><a href="/admin/company/{{ .company.Id }}/task">Tasks</a></li>
                                    {{ end }}
                                </ul>

                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="col-lg-12 col-xl-10 col-xl-offset-1 text-center">
                                            <form action="/cns/company/{{ .company.Id }}/feature" method="post">
                                                <div class="col-lg-2">
                                                    <label class="radio-label">Driver Managment</label>
                                                    <br>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="driversTrue">
                                                            <input type="radio" id="driversTrue" name="drivers" value="true" {{ if .companyFeatures.Drivers }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="driversFalse">
                                                            <input type="radio" id="driversFalse" name="drivers" value="false" {{ if not .companyFeatures.Drivers }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label class="radio-label">Vehicle Managment</label>
                                                    <br>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="vehiclesTrue">
                                                            <input type="radio" id="vehiclesTrue" name="vehicles" value="true" {{ if .companyFeatures.Vehicles }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="vehiclesFalse">
                                                            <input type="radio" id="vehiclesFalse" name="vehicles" value="false" {{ if not .companyFeatures.Vehicles }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-lg-offset-1">
                                                    <label class="radio-label">State Form Managment</label>
                                                    <br>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="formsTrue">
                                                            <input type="radio" id="formsTrue" name="forms" value="true" {{ if .companyFeatures.Forms }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="formsFalse">
                                                            <input type="radio" id="formsFalse" name="forms" value="false" {{ if not .companyFeatures.Forms }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-lg-offset-1">
                                                    <label class="radio-label">File Managment</label>
                                                    <br>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="filesTrue">
                                                            <input type="radio" id="filesTrue" name="files" value="true" {{ if .companyFeatures.Files }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="filesFalse">
                                                            <input type="radio" id="filesFalse" name="files" value="false" {{ if not .companyFeatures.Files }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label class="radio-label">Login</label>
                                                    <br>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="loginTrue">
                                                            <input type="radio" id="loginTrue" name="login" value="true" {{ if .company.Active }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline">
                                                        <label class="cr-styled" for="loginFalse">
                                                            <input type="radio" id="loginFalse" name="login" value="false" {{ if not .company.Active }}checked{{ end }}>
                                                            <i class="fa"></i>
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ if .companyFeatures.Id }}
                                                    <input type="hidden" name="id" value="{{ .companyFeatures.Id }}">
                                                {{ end }}
                                                <br><br><br>
                                                <button class="btn btn-primary">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>


        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>

        {{ template "session.tmpl" . }}


  </body>
</html>
