<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "head.tmpl" . }}

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/static/morris/morris.css">

        <!-- DataTables -->
        <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <title>All Drivers</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">


                <div class="row">
                    <div class="col-lg-12">

                        <p class="lead">
                            Drivers
                            <span class="pull-right">
                                <a href="/cns/driver/new">Add <i class="fa fa-plus"></i></a>
                            </span>
                        </p>

                        <table id="drivers" class="table table-bordered table-hover" width="100%" style="width: 100%;background-color:white;">
                            <thead>
                                <tr id="search">
                                    <th>name</th>
                                    <th>email</th>
                                    <th>phone</th>
                                    <th>status</th>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $driver := .drivers }}
                                    <tr id="{{ $driver.Id }}" class="clickable" data-url="/cns/driver/{{ $driver.Id }}">
                                        <td>{{ $driver.FirstName }} {{ $driver.LastName }}</td>
                                        <td>{{ $driver.Email }}</td>
                                        <td>{{ $driver.Phone }}</td>
                                        <td>{{ $driver.GetStatus }}</td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div> <!-- END Wraper -->

            {{ template "footer.tmpl" . }}

        </section>

        {{ template "scripts.tmpl" . }}

        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">
            var table = $('#drivers').DataTable({
                "lengthMenu":[10,15,20],
                //"dom": 'lrtip',
                "columnDefs": [
                    { "orderable": false, "targets": [2] },
                    { "name": "name",     "targets": 0 },
                    { "name": "email",    "targets": 1 },
                    { "name": "phone",    "targets": 2 },
                    { "name": "status",    "targets": 3 }
                ]
            });

        </script>

    </body>
</html>
