<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->

        <link href="/static/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

        <title>Driver</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Driver: {{ if .driver.Id }}{{ .driver.FirstName }} {{ .driver.LastName}}{{ else }}NEW{{ end }}
                            {{ if .driver.Id }}{{ if .driver.CompanyId }}<a href="/cns/company/{{ .driver.CompanyId }}/driver" class="pull-right return">Return to Customer</a>{{ end }}{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a class="tab" href="">Information</a></li>
                                    <li><a class="tab" href="/cns/company/{{ .company.Id }}/driver/{{ .driver.Id }}/form">Forms</a></li>
                                    <li><a class="tab" href="/cns/company/{{ .company.Id }}/driver/{{ .driver.Id }}/file">Files</a></li>
                                </ul>

                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div id="view">
                                            <h1 class="clearfix">
                                                {{ if  .company.Id }}Works For: <a href="/cns/company/{{ .company.Id }}" >{{ .company.Name }}</a>{{ end }}
                                                <span class="pull-right">
                                                    <button class="btn btn-primary btn-xs" id="editButton">Edit</button>
                                                    {{ if eq .driver.Status "Working" }}
                                                        <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#transferModal">Transfer</button>
                                                    {{ end }}
                                                    <button data-message="Are you sure you would like to delete this driver? This will also delete all forms and files associated with this driver. This CANNOT be undone" data-color="red" data-url="/cns/driver/{{ .driver.Id}}" class="confirm-action btn btn-danger btn-xs" data-type="warning">Delete</button>
                                                </span>
                                            </h1>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <table class="table table-condensed">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>First Name</b></td>
                                                                <td>{{ .driver.FirstName }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>LastName</b></td>
                                                                <td>{{ .driver.LastName }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Email</b></td>
                                                                <td>{{ .driver.Email }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Phone</b></td>
                                                                <td>{{ .driver.Phone }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Employee Id</b></td>
                                                                <td>{{ .driver.EmployeeId }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Address</b></td>
                                                                <td>{{ .driver.AddrHTML }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Date of Birth</b></td>
                                                                <td>{{ .driver.DOB }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Age</b></td>
                                                                <td>{{ if .driver.DOB }}{{ .driver.GetAge }}{{ end }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Emergency Contact</b></td>
                                                                <td>
                                                                    {{ .driver.EmergencyContactName }}<br>
                                                                    {{ .driver.EmergencyContactPhone }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-6">
                                                    <table class="table table-condensed">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>License Number</b></td>
                                                                <td>{{ .driver.LicenseNum }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>License State</b></td>
                                                                <td>{{ .driver.LicenseState }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>License Expiration</b></td>
                                                                <td>{{ .driver.LicenseExpire }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Medical Card Expiration</b></td>
                                                                <td>{{ .driver.MedCardExpiry }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>MVR Expiration</b></td>
                                                                <td>{{ .driver.MVRExpiry }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Review Expiration</b></td>
                                                                <td>{{ .driver.ReviewExpiry }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>180 Expiration</b></td>
                                                                <td>{{ .driver.OneEightyExpiry }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Hire Date</b></td>
                                                                <td>{{ .driver.HireDate }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Termination Date</b></td>
                                                                <td>{{ .driver.TermDate }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Status</b></td>
                                                                <td>{{ .driver.Status }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="edit" class="hide">
                                            <h1 class="clearfix">
                                                <button class="btn btn-danger btn-xs pull-right" id="cancelButton">Cancel</button>
                                            </h1>
                                            <div class="row">
                                                <form id="edit" action="/cns/driver" method="post">
                                                    <input type="hidden" name="companyId" value="{{ .company.Id }}">
                                                    <div class="col-lg-6">
                                                        <table class="table table-condensed">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>First Name</b></td>
                                                                    <td><input type="text" class="form-control" name="firstName" value="{{ .driver.FirstName }}" placeholder="First Name"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>LastName</b></td>
                                                                    <td><input type="text" class="form-control" name="lastName" value="{{ .driver.LastName }}" placeholder="Last Name"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Email</b></td>
                                                                    <td><input type="text" class="form-control" name="auth.email" value="{{ .driver.Email }}" placeholder="Email"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Phone</b></td>
                                                                    <td><input type="text" class="form-control" name="phone" value="{{ .driver.Phone }}" placeholder="Phone"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Employee Id</b></td>
                                                                    <td><input type="text" class="form-control" name="employeeId" value="{{ .driver.EmployeeId }}" placeholder="Employee Id"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Address</b></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" name="address.street" value="{{ .driver.Street }}" placeholder="Street"><br>
                                                                        <input type="text" class="form-control" name="address.city" value="{{ .driver.City }}" placeholder="City"><br>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <input type="text" class="form-control" name="address.state" value="{{ .driver.State }}" placeholder="State">
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <input type="text" class="form-control" name="address.zip" value="{{ .driver.Zip }}" placeholder="Zip">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Date of Birth</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="dOB" value="{{ .driver.DOB }}" placeholder="Date of Birth">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Emergency Contact</b></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" name="emergencyContactName" value="{{ .driver.EmergencyContactName }}" placeholder="Name"><br>
                                                                        <input type="text" class="form-control" name="emergencyContactPhone" value="{{ .driver.EmergencyContactPhone }}" placeholder="Phone">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <table class="table table-condensed">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>License Number</b></td>
                                                                    <td><input type="text" class="form-control" name="licenseNum" value="{{ .driver.LicenseNum }}" placeholder="License Number"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>License State</b></td>
                                                                    <td><input type="text" class="form-control" name="licenseState" value="{{ .driver.LicenseState }}" placeholder="License State"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>License Expiration</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="licenseExpire" value="{{ .driver.LicenseExpire }}" placeholder="License Expiration">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Medical Card Expiration</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="medCardExpiry" value="{{ .driver.MedCardExpiry }}" placeholder="Medical Card Expiration">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>MVR Expiration</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="mVRExpiry" value="{{ .driver.MVRExpiry }}" placeholder="MVR Expiration">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Review Expiration</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="reviewExpiry" value="{{ .driver.ReviewExpiry }}" placeholder="Review Expiration">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>180 Expiration</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="oneEightyExpiry" value="{{ .driver.OneEightyExpiry }}" placeholder="180 Expiration">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Hire Date</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="hireDate" value="{{ .driver.HireDate }}" placeholder="Hire Date">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Termination Date</b></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control datepicker" name="termDate" value="{{ .driver.TermDate }}" placeholder="Termination Date">
                                                                            <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Status</b></td>
                                                                    <td>
                                                                        <select class="form-control" name="status">
                                                                            <option value="Working" {{ if eq .driver.Status "Working" }}selected{{ end }}>Working</option>
                                                                            <option value="Fired" {{ if eq .driver.Status "Fired" }}selected{{ end }}>Fired</option>
                                                                            <option value="Transfered" {{ if eq .driver.Status "Transfered" }}selected{{ end }}>Transfered</option>
                                                                            <option value="Laid Off" {{ if eq .driver.Status "Laid Off" }}selected{{ end }}>Laid Off</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <button class="btn btn-success btn-block">Save</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    {{ if .driver.Id }}
                                                        <input type="hidden" name="id" value="{{ .driver.Id }}">
                                                    {{ else }}
                                                        <input type="hidden" name="companyId" value="{{ .companyId }}">
                                                    {{ end }}
                                                </form>
                                            </div>
                                        </div>
                                    </dvi>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

            <div class="modal fade" id="transferModal" tabindex="-1" role="dialog" >
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="transferModalLabel">Transfer Driver</h4>
                        </div>
                        <div class="modal-body">
                            <form class="" action="/cns/driver/{{ .driver.Id }}/transfer" method="post">
                                <div class="form-group">
                                    <select class="form-control" name="companyId">
                                        {{ range $company := .companies }}
                                            <option value="{{ $company.Id }}">{{ $company.Name }}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <button class="btn btn-block btn-primary">Transfer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <form id="delete-form" class="hide" action="" method="post">
            <input name="companyId" value="{{ .company.Id }}">
        </form>

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/dropzone/dropzone.min.js"></script>
        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/timepicker/bootstrap-datepicker.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">

            var companyId = '{{ .company.Id }}'

            jQuery('.datepicker').datepicker().on('changeDate', function(e) {
                $(this).datepicker('hide');
            });

            var newDriver = {{ if .driver.Id }}false{{ else }}true{{ end }};

            $('button#editButton').click(function() {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            });

            $('button#cancelButton').click(function() {
                if (newDriver) {
                    window.location.href = '/cns/company/' + companyId + '/driver';
                    return;
                }
                $('div#edit').addClass('hide');
                $('div#view').removeClass('hide');
                $('form#edit')[0].reset();
            });

            if (newDriver) {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            }

            $('a.tab').click(function(e) {
                if (newDriver) {
                    e.preventDefault()
                    $.Notification.autoHideNotify('error', 'top right', 'Please save driver first');
                }
            });

            confirm.yes = function(btn) {
                $('form#delete-form').attr('action', btn.attr('data-url'));
                $('form#delete-form').submit();
                // $('<form method="post" action="' + btn.attr('data-url') + '"><input name="companyId" value="{{ .company.Id }}"></form>').submit();
            }
        </script>

    </body>
</html>
