<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->

        <!-- DataTables -->
        <link href="/static/datatables/data-tables-bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <title>Driver Forms</title>

    </head>

    <body>

        {{ template "customer-side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Driver: {{ .driver.FirstName }} {{ .driver.LastName}}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li><a class="view"  href="/customer/driver/{{ .driver.Id }}">Information</a></li>
                                    <li class="active"><a class="tab" href="">Forms</a></li>
                                    <li><a class="tab" href="/customer/driver/{{ .driver.Id }}/file">Files</a></li>
                                </ul>

                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="col-lg-offset-1 col-lg-10">
                                            <div class="table-responsive">
                                                <table id="formsTable" width="100%" style="width: 100%" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr id="search">
                                                            <th>dqf</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>DQF</th>
                                                            <th>Complete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{ $driver := .driver }}
                                                        {{ range $doc := .docs }}
                                                            <tr class="clickable" data-url="/document/{{ $doc.Id }}" >
                                                                <td>{{ $doc.DocumentId }}</td>
                                                                <td>{{ $doc.Complete }}</td>
                                                            </tr>
                                                        {{ end }}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/dropzone/dropzone.min.js"></script>
        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script>

            var table = $('#formsTable').DataTable({
                "lengthMenu":[5,10,15,20],
                "columnDefs": [
                    { "orderable": false, "targets": [1] },
                    { "name": "dqf",      "targets": 0 }
                ]
            });

        </script>

    </body>
</html>
