<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        
        <link href="/static/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

        <title>Vehicle</title>
    </head>
    <body>

        {{ template "customer-side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <div class="tabPane clearfix">
                                    <div id="view" class="profile-desk">
                                        <h1>
                                            {{ .vehicle.VehicleType }}
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <small>{{ if .vehicle.Active }}Active{{ else }}Inactive{{ end }}</small>
                                            <a href="/customer/vehicle/{{ .vehicle.Id }}/file" class="pull-right btn btn-success btn-xs" style="text-transform: none;">Files</a>
                                        </h1>

                                        <div class="col-lg-6">
                                            <table class="table table-condensed" style="margin-bottom:0;">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Unit #</b></td>
                                                        <td>{{ .vehicle.UnitNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Make</b></td>
                                                        <td>{{ .vehicle.Make }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>VIN</b></td>
                                                        <td>{{ .vehicle.VIN }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Title #</b></td>
                                                        <td>{{ .vehicle.Title }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>GVW</b></td>
                                                        <td>{{ .vehicle.GVW }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>GCR</b></td>
                                                        <td>{{ .vehicle.GCR }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Unladen Weight</b></td>
                                                        <td>{{ .vehicle.UnladenWeight }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Purchase Price</b></td>
                                                        <td>{{ .vehicle.PurchasePrice }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Purchase Date</b></td>
                                                        <td>{{ .vehicle.PurchaseDate }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-6">
                                            <table class="table table-condensed" style="margin-bottom:0;">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Current Value</b></td>
                                                        <td>{{ .vehicle.CurrentValue }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Axle Amount</b></td>
                                                        <td>{{ .vehicle.AxleAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Fuel Type</b></td>
                                                        <td>{{ .vehicle.FuelType }}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><b>Owner</b></td>
                                                        <td>{{ .vehicle.Owner }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Year</b></td>
                                                        <td>{{ .vehicle.Year }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Plate Number</b></td>
                                                        <td>{{ .vehicle.PlateNum }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Plate Expiration</b></td>
                                                        <td>{{ .vehicle.PlateExpire }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Body Type</b></td>
                                                        <td>{{ .vehicle.GetBodyType }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/timepicker/bootstrap-datepicker.js"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">
            //
            // jQuery('.datepicker').datepicker();
            //
            // var newVehicle = {{ if .vehicle.Id }}false{{ else }}true{{ end }};
            //
            // $('button#editButton').click(function() {
            //     $('div#view').addClass('hide');
            //     $('div#edit').removeClass('hide');
            //     if ($('select#bodyType').val() === '{{ .vehicleConsts.BODY_OTHER }}') {
            //         $('#bodyTypeDiv').addClass('form-group');
            //         $('#bodyTypeOther').removeClass('hide');
            //         $('#bodyTypeOther').prop('required', true);
            //     }
            // });
            //
            // $('a#cancelButton').click(function() {
            //     if (newVehicle) {
            //         window.location.href = '/cns/company/{{ .company.Id }}/vehicle';
            //         return;
            //     }
            //     $('form#edit')[0].reset();
            //     $('div#edit').addClass('hide');
            //     $('div#view').removeClass('hide');
            //
            //     if ($('select#bodyType').val() !== '{{ .vehicleConsts.BODY_OTHER }}') {
            //         console.log('in if');
            //         $('#bodyTypeDiv').removeClass('form-group');
            //         $('#bodyTypeOther').addClass('hide');
            //         $('#bodyTypeOther').prop('required', false);
            //     }
            // });
            //
            // if (newVehicle) {
            //     $('div#view').addClass('hide');
            //     $('div#edit').removeClass('hide');
            // }
            //
            // $('a.tab').click(function(e) {
            //     if (newVehicle) {
            //         e.preventDefault()
            //         $.Notification.autoHideNotify('error', 'top right', 'Please save vehicle first');
            //     }
            // });
            //
            // $('select#bodyType').change(function() {
            //     if ($(this).val() === '{{ .vehicleConsts.BODY_OTHER }}') {
            //         $('#bodyTypeDiv').addClass('form-group');
            //         $('#bodyTypeOther').removeClass('hide');
            //         $('#bodyTypeOther').val('');
            //         $('#bodyTypeOther').prop('required', true);
            //     } else {
            //         $('#bodyTypeDiv').removeClass('form-group');
            //         $('#bodyTypeOther').addClass('hide');
            //         $('#bodyTypeOther').val('');
            //         $('#bodyTypeOther').prop('required', false);
            //     }
            // });

        </script>

  </body>
</html>
