<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/static/morris/morris.css">

        <!-- DataTables -->
        <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <title>All Employees</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <p class="lead">
                            Employees
                            <span class="pull-right">
                                <a href="/admin/employee/new">Add <i class="fa fa-plus"></i></a>
                            </span>
                        </p>

                        <table id="employees" class="table table-bordered table-hover" width="100%" style="width: 100%;background-color:white;">
                            <thead>
                                <tr id="search">
                                    <!-- <th></th> -->
                                    <th>name</th>
                                    <th>email</th>
                                    <th>phone</th>
                                </tr>
                                <tr>
                                    <!-- <th>Id</th> -->
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $employee := .employees }}
                                    <tr id="{{ $employee.Id }}" class="clickable" data-url="/admin/employee/{{ $employee.Id }}">
                                        <!-- <td>{{ $employee.Id }}</td> -->
                                        <td>{{ $employee.FirstName }} {{ $employee.LastName }}</td>
                                        <td>{{ $employee.Email }}</td>
                                        <td>{{ $employee.Phone }}</td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            {{ template "footer.tmpl" . }}

        </section>

        {{ template "scripts.tmpl" . }}

        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">
            var table = $('#employees').DataTable({
                "lengthMenu":[10,15,20],
                //"dom": 'lrtip',
                "columnDefs": [
                    { "orderable": false, "targets": [2] },
                    { "name": "name",     "targets": 0 },
                    { "name": "email",    "targets": 1 },
                    { "name": "phone",    "targets": 2 }
                ]
            });
        </script>

    </body>
</html>
