<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->


        <title>Employee</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Employee: {{ if .employee.Id }}{{ .employee.FirstName }} {{ .employee.LastName }}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h1 class="clearfix">
                                                    {{ .employee.FirstName}} {{ .employee.LastName }}
                                                    <span class="pull-right">
                                                        <button class="btn btn-primary btn-xs" id="editButton">Edit</button>
                                                        <button data-message="Are you sure you would like to delete this employee? This CANNOT be undone" data-color="red" data-url="/admin/employee/{{ .employee.Id}}" class="confirm-action btn btn-danger btn-xs" data-type="warning">Delete</button>
                                                    </span>
                                                </h1>

                                                <table class="table table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <td><b>First Name</b></td>
                                                            <td>{{ .employee.FirstName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Last Name</b></td>
                                                            <td>{{ .employee.LastName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Email</b></td>
                                                            <td>{{ .employee.Email }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Phone</b></td>
                                                            <td>{{ .employee.Phone }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Address</b></td>
                                                            <td>{{ .employee.AddrHTML }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Role</b></td>
                                                            <td>{{ .employee.Auth.Role }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Active</b></td>
                                                            <td>{{ .employee.Auth.Active }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="edit" class="profile-desk hide">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h1 class="clearfix">
                                                    {{ .employee.FirstName}} {{ .employee.LastName }}
                                                    <button type="button" class="btn btn-danger btn-xs pull-right" id="cancelButton">Cancel</button>
                                                </h1>
                                                <form id="employeeForm" action="/admin/employee" method="post">
                                                    <table class="table table-condensed">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>First Name</b></td>
                                                                <td><input name="firstName" class="form-control" placeholder="First Name" value="{{ .employee.FirstName }}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Last Name</b></td>
                                                                <td><input name="lastName" class="form-control" placeholder="Last Name" value="{{ .employee.LastName }}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Email</b></td>
                                                                <td><input name="auth.email" class="form-control" placeholder="Email" value="{{ .employee.Email }}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Password</b></td>
                                                                <td>
                                                                    <div class="input-group">
                														<input type="password" id="password" name="auth.password" class="form-control" placeholder="Password" {{ if not .employee.Id}}required{{ end }}/>
                														<span class="input-group-btn">
                															<button id="toggle-pass" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right"
                																	title="Click to show/hide your password">
                																<i class="fa fa-eye-slash"></i>
                															</button>
                														</span>
                													</div>
                                                                    {{ if .employee.Id }}*Leave blank to keep current password{{ end }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Phone</b></td>
                                                                <td><input name="phone" class="form-control" placeholder="Phone" value="{{ .employee.Phone }}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Address</b></td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="address.street" value="{{ .employee.Address.Street }}" placeholder="Street"><br>
                                                                    <input type="text" class="form-control" name="address.city" value="{{ .employee.Address.City }}" placeholder="City"><br>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="address.state" value="{{ .employee.Address.State }}" placeholder="State">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="address.zip" value="{{ .employee.Address.Zip }}" placeholder="Zip">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Role</b></td>
                                                                <td>
                                                                    <select class="form-control" name="auth.role">
                                                                        <option {{if eq .employee.Auth.Role "EMPLOYEE" }}selected{{ end }} value="EMPLOYEE">Employee</option>
                                                                        <option {{if eq .employee.Auth.Role "ADMIN" }}selected{{ end }} value="ADMIN">Admin</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Active</b></td>
                                                                <td>
                                                                    <div class="radio-inline">
                                                                        <label class="cr-styled" for="activeYes">
                                                                            <input type="radio" name="auth.active" value="true" id="activeYes" {{ if .employee.Auth.Active }}checked{{ end }}>
                                                                            <i class="fa"></i>
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio-inline">
                                                                        <label class="cr-styled" for="activeNo">
                                                                            <input type="radio" name="auth.active" value="false" id="activeNo" {{ if not .employee.Auth.Active  }}checked{{ end }}>
                                                                            <i class="fa"></i>
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <button id="save" class="btn btn-success btn-block">Save</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {{ if .employee.Id }}
                                                        <input type="hidden" name="id" value="{{ .employee.Id }}">
                                                    {{ end }}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

            <form id="delete-form" class="hide" action="" method="post">
            </form>

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}
        <script src="/static/js/jquery.scrollTo.min.js"></script>

        {{ template "session.tmpl" . }}
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script type="text/javascript">
            var newEmployee = {{ if .employee.Id }}false{{ else }}true{{ end }};

            $('button#editButton').click(function() {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            });

            $('#cancelButton').click(function() {
                if (newEmployee) {
                    window.location.href = '/admin/employee';
                    return;
                }
                $('div#edit').addClass('hide');
                $('div#view').removeClass('hide');
                $('form#edit')[0].reset();
            });

            if (newEmployee) {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            }

            $(document).ready(function() {
                $('button[id="toggle-pass"]').on("click", function() {
                    var s = $('button#toggle-pass > i'),
                    a = $('input#password');
                    s.hasClass("fa-eye-slash") ? (s.removeClass("fa-eye-slash").addClass("fa-eye"), a.attr("type", "text")) : (s.removeClass("fa-eye").addClass("fa-eye-slash"), a.attr("type", "password"))
                })
            });

            $('form#employeeForm').submit(function() {
                if ($('input#password').val() === '') {
                    $('input#password').attr('name', '');
                }
            });

            confirm.yes = function(btn) {
                $('form#delete-form').attr('action', btn.attr('data-url'));
                $('form#delete-form').submit();
                // $('<form method="post" action="' + btn.attr('data-url') + '"></form>').submit();
            }
        </script>


    </body>
</html>
