<script type="text/javascript">
    var vehicleWeights = [];
    {{ range $i, $vehicle := .vehicles }}
        vehicleWeights.push('{{ $vehicle.HigherWeight }}');
    {{ end }}

    $('select#weightSelect').change(function() {
        var val = '';

        if (this.value != '') {
            var idx =+ this.value;
            val = vehicleWeights[idx];
        }
        $('div#weights input').val(val);
    });

    $(document).ready(function() {
        var weight = $('input[name="weight-pa"]').val();
        if (weight !== '' && weight !== undefined) {

            for (var i = 0; i < vehicleWeights.length; i++) {
                if (weight === vehicleWeights[i]) {
                    $('select#weightSelect').val(i);
                }
            }

        }
    });
</script>
