<!DOCTYPE html>
<html>
    <head>
        {{ template "dqf-head.tmpl" . }}
        <title>DQF-450</title>
    </head>
    <body>

        <div class="container-fluid">

            {{ template "dqf-warning.tmpl" . }}

            <div class="row">
        		<div class="col-xs-12">
        			<legend>Alcohol and Drug Employee’s Certified Receipt<span class="pull-right">DQF 450</span></legend>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label left col-xs-3">Employee's Name:</label>
                            <div class="col-xs-9">
                                <input type="text" name="employee-name" class="form-control input-sm" value="{{ .driver.FirstName }} {{ .driver.LastName }}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label left col-xs-3">Company/ Department:</label>
                            <div class="col-xs-9">
                                <input type="text" name="employee-company" class="form-control input-sm" value="{{ .company.Name }}" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
        		<div class="col-xs-12">
                    This is to certify that I have been provided educational materials regarding 49 CFR §382.601 and company policies and
                    procedures with respect to meeting the requirements of Part 382. The materials include detailed discussion of the
                    following checked (√) items:
                    <br><br>
        		</div>
            </div>

            <div class="row">
        		<div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="identity">1. The identity of the person designated by the employer to answer questions about the materials.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="categories">2. The categories of drivers who are subject to the provisions of Part 382.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="sufficient-information">
                            3. Sufficient information about the safety-sensitive functions and periods of the workday that require compliance with Part 382.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="specific-information">
                            4. Specific information concerning driver conduct that is prohibited by Part 382.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="testing-circumstances">
                            5. Circumstances under which a driver will be tested for alcohol and/or controlled substances under Part 382, including post-
                            accident testing under §382.303 (d).
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="testing-procedures">
                            6. The procedures that will be used to test for the presence of alcohol and controlled substances, protect the driver and the
                            integrity of the testing processes, safeguard the validity of the test results, and ensure that those results are attributed
                            to the correct driver, including post-accident information, procedures and instructions required by §382.303 (d).
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="test-requirement">
                            7. The requirement that a driver submit to alcohol and controlled substances tests administered in accordance with part 382.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="refusal-consequences">
                            8. An explanation of what constitutes a refusal to submit to an alcohol or controlled substances test and the attendant consequences.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="violation-consequences">
                            9. The consequences for drivers found to have violated subpart B of Part 382, including the requirement that the driver be
                            removed immediately from safety-sensitive functions, and the procedures under Part 40, subpart O, of the 49 CFR.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="alcohol-consequences">
                            10. The consequences for drivers found to have an alcohol concentration of 0.02 or greater but less than 0.04.
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="effects-information">
                            11. Information concerning the effects of alcohol and controlled substances use on:
                            <ul>
                                <li>An individual’s health, work, and personal life</li>
                                <li>Signs and symptoms of an alcohol or controlled substances problem</li>
                                <li>
                                    Available methods of intervention when a problem
                                    is suspected (confrontation, referral to any
                                    employee assistance program or to management,
                                    etc.)
                                </li>
                            </ul>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="required" name="optional-information">
                            12. Optional information:
                        </label>
                    </div>
                </div>
        	</div>
            <div class="row">
        		<div class="col-xs-12">
        			<hr/>
        			<div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-2">Employee's Signature:</label>
        					<div class="col-xs-6">
        						<input type="text" name="employee-signature" class="form-control input-sm" required>
        					</div>
        					<label class="control-label left col-xs-1">Date:</label>
        					<div class="col-xs-3">
        						<input type="text" name="employee-signature-date" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
                </div>
                <div class="col-xs-12">
                    <div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-2">Authorized Employer Representative:</label>
        					<div class="col-xs-6">
        						<input type="text" name="authorized-employer-representative-signature" class="form-control input-sm" required>
        					</div>
        					<label class="control-label left col-xs-1">Date:</label>
        					<div class="col-xs-3">
        						<input type="text" name="authorized-employer-representative-signature-date" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>

        </div>

        {{ template "dqf-scripts.tmpl" . }}

    </body>
</html>
