<!DOCTYPE html>
<html>
    <head>
        {{ template "dqf-head.tmpl" . }}
        <title>DQF-475</title>
    </head>
    <body>

        <div class="container-fluid">

            {{ template "dqf-warning.tmpl" . }}

            <div class="row">
        		<div class="col-xs-12">
        			<legend>Alcohol and/or Drug Test Notification<span class="pull-right">DQF 475</span></legend>
        			<div>
                        49 CFR 382.113, Requirement for Notice: Before performing each alcohol or controlled substances test under this part, each
                        employer shall notify a driver that the alcohol or controlled substance test is required by this part. No employer shall falsely
                        represent that a test is administered under this part.
        			</div>
        			<hr/>
                    <p>
                        Notice is hereby given for the following test, administered in compliance with section 382.113 of the
                        Federal Motor Carrier Safety Regulations.
                    </p>
                    <br>
        		</div>

                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
        		            <label class="col-xs-2 control-label">Company Name</label>
                            <div class="col-xs-6">
                                <input type="text" name="company-name" class="form-control" value="{{ .company.Name }}">
                            </div>
        		        </div>
        		    </div>
        		</div>
                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
        		            <label class="col-xs-2 control-label">Driver/Applicant Name</label>
                            <div class="col-xs-6">
                                <input type="text" name="applicant-name" class="form-control" value="{{ .driver.FirstName }} {{ .driver.LastName }}">
                            </div>
        		        </div>
        		    </div>
                    <div class="col-xs-offset-2 col-xs-6 text-center">
                        First, M. I., Last
                    </div>
        		</div>
        	</div>
            <br><br>
        	<div class="row">
        		<div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
        		            <label class="col-xs-2 control-label">Date of Test</label>
                            <div class="col-xs-3">
                                <input type="text" name="date-of-test" class="form-control" >
                            </div>
        		        </div>
        		    </div>
        		</div>
                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
        		            <label class="col-xs-2 control-label">Location</label>
                            <div class="col-xs-6">
                                <input type="text" name="test-location" class="form-control" value="{{ .company.Name }}">
                            </div>
        		        </div>
        		    </div>
        		</div>
                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
        		            <label class="col-xs-2 control-label">Appointment Time</label>
                            <div class="col-xs-6">
                                <input type="text" name="appointment-time" class="form-control" value="{{ .company.Name }}">
                            </div>
        		        </div>
        		    </div>
        		</div>
        	</div>

        	<div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
                            <label class="col-xs-2 control-label">Test Type: </label>
                            <div class="col-xs-offset-1 col-xs-2">
                                <label class="checkbox-inline">
                                    <input name="test-type-alcohol" type="checkbox"> Alcohol
                                </label>
                            </div>

                            <div class="col-xs-2">
                                <label class="checkbox-inline">
                                    <input name="test-type-controlled-substance" type="checkbox"> Controlled Substance
                                </label>
                            </div>
        		        </div>
        		    </div>
        		</div>
        	</div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal">
        		        <div class="form-group">
                            <label class="col-xs-2 control-label">Test Reason: </label>
                            <div class="col-xs-offset-1 col-xs-2">
                                <label class="checkbox-inline">
                                    <input name="test-reason-pre-employmenr" type="checkbox"> Pre-Employment
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input name="test-reason-reasonable-suspicion" type="checkbox"> Reasonable Suspicion
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input name="test-reason-return-to-duty" type="checkbox"> Return to Duty
                                </label>
                            </div>

                            <div class="col-xs-2">
                                <label class="checkbox-inline">
                                    <input name="test-reason-random" type="checkbox"> Random
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input name="test-reason-post-accident" type="checkbox"> Post Accident
                                </label>
                                <br>
                                <label class="checkbox-inline">
                                    <input name="test-reason-follow-up" type="checkbox"> Follow-up
                                </label>
                            </div>
        		        </div>
        		    </div>
        		</div>
        	</div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <p>
                                <b>Instructions/additional comments:</b>
                            </p>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-7">
                                <textarea name="comments" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="page-break"><br></div>
            <div class="row">
        		<div class="col-xs-12">
                    <br>
                    <p>
                        I acknowledge that the above identified test(s) are required as a condition of my employment with this company.
                    </p>
        			<div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-2">Driver/Applicant's Signature:</label>
        					<div class="col-xs-6">
        						<input type="text" name="applicant-signature" class="form-control input-sm" required>
        					</div>
        					<label class="control-label left col-xs-1">Date:</label>
        					<div class="col-xs-3">
        						<input type="text" name="applicant-signature-date" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
        		</div>
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label left col-xs-2">Witnessed by: Company Representative:</label>
                            <div class="col-xs-6">
                                <input type="text" name="representative-signature" class="form-control input-sm" required>
                            </div>
                            <label class="control-label left col-xs-1">Date:</label>
                            <div class="col-xs-3">
                                <input type="text" name="representative-signature-date" class="form-control input-sm" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ template "dqf-scripts.tmpl" . }}

    </body>
</html>
