<!DOCTYPE html>
<html>
    <head>
        {{ template "dqf-head.tmpl" . }}
        <title>DQF-775</title>
    </head>
    <body>

        <div class="container-fluid">

            {{ template "dqf-warning.tmpl" . }}

            <div class="row">
        		<div class="col-lg-12">
        	        <legend>Fair Credit Reporting Act<span class="pull-right">DQF 775</span></legend>
        	        <p><strong>
        	            In accordance with the provisions of Section 604(b)(2)(A) of the Air Credit Reporting Act, Public
        	            Law91-508, as amended by the consumer Credit Reporting Act of 1996 (Title II, Subtitle D, Chapter
        	            I, of Public Law 104-208), you are giving permission to the listed employer below to receive and
        	            verify your previous employment records. These records include the following, previous drug and
        	            alcohol test results and driving record. These documents will be verified for employment purposes.
        	            The Federal Motor Carrier Administration requires an employer to hold these records according to
        	            Sections 382.413, 391.23, 391.25.
        	        </strong></p>
        	        <hr>
        	        <div class="form-inline">
        	            I
        	            <input type="text" class="form-control input-sm" name="name" value="{{ .driver.FirstName }} {{ .driver.LastName }}" required>
        	            , give my employer
        	            <input type="text" class="form-control input-sm" name="employer" value="{{ .company.Name }}" required>, permission to receive and
        	            review my records in the accordance of the Fair Credit Reporting Act.
        	        </div>
        	        <br><br><br><br><br><br>
                    <div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-2">Applicant Signature:</label>
        					<div class="col-xs-6">
        						<input type="text" name="driver-signature" class="form-control input-sm" required>
        					</div>
        					<label class="control-label left col-xs-1">Date:</label>
        					<div class="col-xs-3">
        						<input type="text" name="driver-signature-date" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
        		</div>
            </div>

        </div>

        {{ template "dqf-scripts.tmpl" . }}

    </body>
</html>
