<!DOCTYPE html>
<html>
    <head>
        {{ template "dqf-head.tmpl" . }}
        <title>DQF-250</title>
    </head>
    <body>

        <div class="container-fluid">

            {{ template "dqf-warning.tmpl" . }}

            <div class="row">
        		<div class="col-lg-12">
        			<legend>Road Test Certification<span class="pull-right">DQF 250</span></legend>
        			<div>
                        § 391.31 A person shall not drive a commercial motor vehicle unless he/she has first successfully completed a road test and
                        has been issued a certificate of driver's road test in accordance with this section.
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        The road test shall be given by the motor carrier or a person designated by it. However, a driver who is a motor
                        carrier must be given the test by a person other than himself/herself. The test shall be given by a person who is competent to
                        evaluate and determine whether the person who takes the test has demonstrated that he/she is capable of operating the
                        commercial motor vehicle, and associated equipment, that the motor carrier intends to assign him/her.
                    </div>
                    <br>
                    <div>
                        Code of Federal Regulations353
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        The road test must be of sufficient duration to enable the person who gives it to evaluate the skill of the person who
                        takes it at handling the commercial motor vehicle, and associated equipment, that the motor carriers intends to assign to
                        him/her.
        			</div>
        			<hr/>
        		</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
        			<div class="form-horizontal">
        				<h4>Driver's Information</h4>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Name: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-name" class="form-control input-sm" value="{{ .driver.FirstName }} {{ .driver.LastName }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Address: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-address" class="form-control input-sm" required value="{{ .driver.Street }}">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Driver's License #: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-license-number" class="form-control input-sm" required value="{{ .driver.LicenseNum }}">
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">State: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-license-state" class="form-control input-sm" value="{{ .driver.LicenseState }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Motor Carrier: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-name" class="form-control input-sm" value="{{ .company.Name }}" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">Address: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-address" class="form-control input-sm" value="{{ .company.PhysicalAddress.Street }} {{ .company.PhysicalAddress.City }}, {{ .company.PhysicalAddress.State }} {{ .company.PhysicalAddress.Zip }}" required>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-lg-12">
        			<div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        In place of, and as equivalent to, the road test required by §391.31, a person who seeks to drive a commercial motor
                        vehicle may present, and a motor carrier may accept:
        			</div>
                    <br>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        (1) A valid Commercial Driver's License as defined in §383.5 of this subchapter, but not including double/triple
                        trailer or tank vehicle endorsements, which has been issued to him/her to operate specific categories of commercial motor
                        vehicles and which, under the laws of that State, licenses him/her after successful completion of a road test in a commercial
                        motor vehicle of the type the motor carrier intends to assign to him/her.
                    </div>
                    <br>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        (2) A copy of a valid certificate of driver's road test issued to him/her pursuant to §391.31 within the preceding 3
                        years. (b) If a driver presents, and a motor carrier accepts, a license or certificate as equivalent to the road test, the motor
                        carrier shall retain a legible copy of the license or certificate in its files as part of the driver's qualification file.
                    </div>
                    <br>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        A motor carrier may require any person who presents a license or certificate as equivalent to the road test to take a
                        road test or any other test of his/her driving skill as a condition to his/her employment as a driver.
                    </div>
        		</div>
        	</div>
            <div class="page-break"></div>
        	<div class="row">
        		<div class="col-lg-12">
        			<hr/>
                    <h4>Road Test</h4>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>
                            <div>
                                Pre-Trip Inspection
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-pre-trip-inspection" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-pre-trip-inspection" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Checks general condition</li>
                                    <li>Looks for leaks</li>
                                    <li>Checks under hood-Condition,Oil,Water and Steering</li>
                                    <li>Checks around the unit- Tires,Lights,Trailer Hookup,Brakes,Lights,Body,Horn</li>
                                    <li>Brake test</li>
                                    <li>Instruments</li>
                                    <li>Checks previous report</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Coupling and Uncoupling of Combination Units
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-combination-units" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-combination-units" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Lines up unit</li>
                                    <li>Couples without difficulty</li>
                                    <li>Connects glad hands</li>
                                    <li>Checks king pin</li>
                                    <li>Verifies surface can support the trailer before uncoupling</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Placing the Commercial Motor Vehicle in Operation
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-vehicle-opperation" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-vehicle-opperation" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Engine</li>
                                    <li>Clutch and Transmission</li>
                                    <li>Brakes</li>
                                    <li>Steering</li>
                                    <li>Lights</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Use of the Commercial Motor Vehicle’s Controls and Emergency Equipment
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-controls" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-controls" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Turn Signals</li>
                                    <li>Auxiliary Lights</li>
                                    <li>Cones</li>
                                    <li>Flares</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Operating the Commercial Motor Vehicle in Traffic and While Passing Other Motor Vehicles
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-in-traffic" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-in-traffic" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Turning</li>
                                    <li>Traffic signals and signs</li>
                                    <li>Grade Crossings</li>
                                    <li>Passing</li>
                                    <li>Stopping</li>
                                    <li>Speed</li>
                                    <li>Safety</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
        		</div>
                <div class="page-break">
                    <br><br>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>
                            <div>
                                Turning the Commercial Motor Vehicle
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-turning" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-turning" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Signals</li>
                                    <li>Lane Choice</li>
                                    <li>Safety</li>
                                    <li>Yields to Right of Way</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Braking and Slowing the Commercial Motor Vehicle by Means Other Than Braking
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-slowing" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-slowing" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Use of Gears</li>
                                    <li>Test Brakes before Descending Grades</li>
                                    <li>Avoids Sudden Stops</li>
                                    <li>Use of Brakes During Grades</li>
                                    <li>Use of Mirrors</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Backing and Parking the Commercial Motor Vehicle
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-parking" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-parking" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>City Parking</li>
                                    <li>Road Side Parking</li>
                                    <li>Checks before parking</li>
                                    <li>Signals</li>
                                    <li>Control of Vehicle</li>
                                </ul>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                Other
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-other" value="pass" checked>Pass
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="road-test-other" value="fail">Fail
                                        </label>
                                    </div>
                                </div>
                                <ul>
                                    <br>
                                    <li>Knowledge of Rules</li>
                                    <li>Courteous to other vehicles</li>
                                    <li>Confidence</li>
                                    <li>Positive Attitude</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
        	</div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-xs-11">
                            Notes
            			</div>
                        <textarea name="road-test-notes" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
        			<hr/>
                    <h4>Certification of Road Test</h4>
                    <br>
                    <div>
                        If the road test is successfully completed, the person who gave it shall complete a
                        certificate of driver's road test.
                    </div>
                    <br>
                    <div>
                        § 391.31 (g)
                    </div>
                    <div>
                        A copy of the certificate required by paragraph (e) of this section shall be given to the person
                        who was examined. The motor carrier shall retain in the driver qualification file of the
                        person who was examined
                    </div>
                </div>
                <div class="page-break"></div>
                <div class="col-lg-6">
        			<div class="form-horizontal">
                        <br>
        				<h4>Driver's Information</h4>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Driver's Name: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-name" class="form-control input-sm" value="{{ .driver.FirstName }} {{ .driver.LastName }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">SS#: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-ss" class="form-control input-sm" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Type of Unit: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-type-of-unit" class="form-control input-sm" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Type of Trailer: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-type-of-trailer" class="form-control input-sm" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Driver's License #: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-license-number" class="form-control input-sm" value="{{ .driver.LicenseNum }}" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">State: </label>
        					<div class="col-xs-9">
        						<input type="text" name="certification-license-state" class="form-control input-sm" value="{{ .driver.LicenseState }}" required>
        					</div>
        				</div>
        			</div>
        		</div>
                <div class="col-lg-12">
                    <br>
                    <ul>
                        <li class="">
                            If Passenger Carrier, Type of Bus
                            <div class="row">
                                <div class="col-lg-3">
                                    <input type="text" name="certication-type-of-bus" class="form-control input-sm" required>
                                </div>
                            </div>
                        </li>
                        <li>
                            This is to certify that the above-named driver was given a road test under my supervision
                            on
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" name="certification-date" class="form-control input-sm" required>
                                </div>
                                <div class="col-lg-2">
                                    , consisting of approximately
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" name="certificaion-miles" class="form-control input-sm" required>
                                </div>
                                <div class="col-lg-2">
                                    miles of driving.
                                </div>
                            </div>
                        </li>
                        <li>
                            Duration of the Road Test:
                            <div class="row">
                                <label class="control-label left col-xs-1">Hours: </label>
                                <div class="col-lg-1">
                                    <input type="text" name="duration-hours" class="form-control input-sm" required>
                                </div>
                                <label class="control-label left col-xs-1">Miles: </label>
                                <div class="col-lg-1">
                                    <input type="text" name="duration-miles" class="form-control input-sm" required>
                                </div>
                            </div>
                        </li>
                        <li>
                            It is my considered opinion that this driver possesses sufficient driving skill to operate
                            safely the type of commercial motor vehicle listed above.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
        		<div class="col-lg-12">
        			<hr/>
                </div>
                <div class="col-lg-6">
        			<div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-4">Signature of Examiner:</label>
        					<div class="col-xs-8">
        						<input type="text" name="examiner-signature" class="form-control input-sm" required>
        					</div>
        				</div>
                        <div class="form-group">
                            <label class="control-label left col-xs-4">Organization of Examiner:</label>
                            <div class="col-xs-8">
                                <input type="text" name="examiner-organization" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label left col-xs-4">Address:</label>
                            <div class="col-xs-8">
                                <input type="text" name="examiner-organization-address" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label left col-xs-4">City:</label>
                            <div class="col-xs-8">
                                <input type="text" name="examiner-organization-city" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label left col-xs-4">State:</label>
                            <div class="col-xs-8">
                                <input type="text" name="examiner-organization-state" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label left col-xs-4">Zip Code:</label>
                            <div class="col-xs-8">
                                <input type="text" name="examiner-organization-zip" class="form-control input-sm" required>
                            </div>
                        </div>
        			</div>
        		</div>
                <div class="col-lg-12">
        			<div class="form-horizontal">
        			</div>
        		</div>
        	</div>

        </div>

        {{ template "dqf-scripts.tmpl" . }}

    </body>
</html>
