<!DOCTYPE html>
<html>
    <head>
        {{ template "dqf-head.tmpl" . }}
        <title>DQF-200</title>
    </head>
    <body>

        <div class="container-fluid">

            {{ template "dqf-warning.tmpl" . }}

            <div class="row">
        		<div class="col-lg-12">
        			<legend>Annual Inquiry and Review of Driving Record<span class="pull-right">DQF 200</span></legend>
        			<div>
                        § 391.25 Each motor carrier shall, at least once every 12 months, make an inquiry to obtain the motor vehicle
                        record of each driver it employs, covering at least the preceding 12 months, to the appropriate agency of every
                        State in which the driver held a commercial motor vehicle operator's license or permit during the time period.
        			</div>
                    <br>
                    <ol>
                        <li>
                            The motor carrier must consider any evidence that the driver has violated any applicable Federal
                            Motor Carrier Safety Regulations in this subchapter or Hazardous Materials Regulations (49 CFR
                            chapter I, subchapter C).
                        </li>
                        <li>
                            The motor carrier must consider the driver's accident record and any evidence that the driver has
                            violated laws governing the operation of motor vehicles, and must give great weight to violations, such
                            as speeding, reckless driving, and operating while under the influence of alcohol or drugs, that indicate
                            that the driver has exhibited a disregard for the safety of the public.
                        </li>
                    </ol>
        			<hr/>
        		</div>

        		<div class="col-lg-6">
        			<div class="form-horizontal">
        				<h4>Driver's Information</h4>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Last: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-last-name" class="form-control input-sm" value="{{ .driver.LastName }}" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">First: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-first-name" class="form-control input-sm" value="{{ .driver.FirstName }}" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">Middle Initial: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-middle-initial" class="form-control input-sm" value="" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Address: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-address" class="form-control input-sm" value="{{ .driver.Street }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">City: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-city" class="form-control input-sm" value="{{ .driver.City }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">State: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-state" class="form-control input-sm" value="{{ .driver.State }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Zip: </label>
        					<div class="col-xs-9">
        						<input type="text" name="applicant-zip" class="form-control input-sm" value="{{ .driver.Zip }}" required>
        					</div>
        				</div>
        			</div>
        		</div>

        		<div class="col-lg-6">
        			<div class="form-horizontal">
        				<h4>Motor Carrier Information</h4>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Motor Carrier Name:</label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-name" class="form-control input-sm" value="{{ .company.Name }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Street: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-street" class="form-control input-sm" value="{{ .company.PhysicalAddress.Street }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">City: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-city" class="form-control input-sm" value="{{ .company.PhysicalAddress.City }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">State: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-state" class="form-control input-sm" value="{{ .company.PhysicalAddress.State }}" required>
        					</div>
        				</div>
        				<div class="form-group">
        					<label class="control-label left col-xs-3">Zip: </label>
        					<div class="col-xs-9">
        						<input type="text" name="motor-carrier-zip" class="form-control input-sm" value="{{ .company.PhysicalAddress.Zip }}" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">Reviewer Name: </label>
        					<div class="col-xs-9">
        						<input type="text" name="reviewer-name" class="form-control input-sm" required>
        					</div>
        				</div>
                        <div class="form-group">
        					<label class="control-label left col-xs-3">Title: </label>
        					<div class="col-xs-9">
        						<input type="text" name="reviewer-title" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
            <div class="page-break"></div>
        	<div class="row">
        		<div class="col-lg-12">
        			<hr>
        			<div>
                        I have reviewed the driving record provided by the DMV and the certification of violations of the
                        driver listed above. With this information I have come to the conclusion that this driver: (Check one)
        			</div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="qualifies" value="yes" checked>
                                Qualifies for the requirements for safe driving
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="qualifies" value="no">
                                Is disqualified to drive a Commercial Motor Vehicle.
                            </label>
                        </div>
                    </div>
        		</div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <br>
                        Action Taken with this driver:
                        <textarea name="action-required" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
        	</div>
        	<div class="row">
        		<div class="col-lg-12">
        			<hr/>
        			<div class="form-horizontal">
        				<div class="form-group">
        					<label class="control-label left col-xs-2">Reviewer's Signature:</label>
        					<div class="col-xs-6">
        						<input type="text" name="reviewer-signature" class="form-control input-sm" required>
        					</div>
        					<label class="control-label left col-xs-1">Date:</label>
        					<div class="col-xs-3">
        						<input type="text" name="signature-date" class="form-control input-sm" required>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>

        </div>

        {{ template "dqf-scripts.tmpl" . }}

    </body>
</html>
