<div class="container-fluid">
    <div class="col-lg-12">
        <div class="pull-right">
            {{ if eq .session.ROLE "ADMIN" "DEVELOPER" "EMPLOYEE"}}
                <button class="btn btn-primary" type="button" name="button" id="save" >Save</button>
                <button class="btn btn-success" type="button" name="button" id="complete" >Complete</button>
            {{ else if eq .session.ROLE "COMPANY"}}
                <a href="/customer/driver/{{ .driver.Id }}/form" class="btn btn-primary">Back</a>
            {{ end }}
        </div>
    </div>
    <br/><br/>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/input-tools.js"></script>
<script>
    {{ if eq .session.ROLE "COMPANY" }}
        $('input, select, textarea, button.add').prop('disabled', true);
    {{ end }}
    {{ if eq .session.ROLE "DEVELOPER" "ADMIN" "EMPLOYEE" }}
        var redirect = '/cns/company/{{ .driver.CompanyId }}/driver/{{ .driver.Id }}/form';
    {{ else }}
        var redirect = '/document/';
    {{ end }}
    var url = '/document';
    var id = '{{ .document.Id }}';
    var data = {{ if .document.Data }}{{ .document.Data }}{{ else }}{}{{ end }}
</script>
<script src="/static/js/document.js"></script>
