<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/static/img/favicon.ico">
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/print.css" charset="utf-8">
<style>
    textarea {
        resize: none;
    }

    @media print {
        .panel,
        .panel-heading,
        .panel-body,
        input,
        textarea {
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
        }
        .btn {
            display: none !important;
        }
        .form-inline .form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }

        .page-break	{
            display: block !important;
            page-break-before: always !important;
        }
    }


    @media all {
    	.page-break	{
            display: none;
        }
    }

    @media print {
        .page-break	{
            display: block !important;
            page-break-before: always !important;
        }
    }

    .input-sm {
        font-size: 10px;
    }

</style>
