<div class="row">
    <br>
    <div class="col-lg-12">
        <div id="invalidMsg" class="hide alert alert-danger alert-dismissable">
            INVALID: Document is not filled out completely.
        </div>
    </div>
</div>
