<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stats</title>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>Companies:</td><td>{{ len .companies }}</td>
                </tr>
                <tr>
                    <td>Company Services:</td><td>{{ len .companyServices }}</td>
                </tr>
                <tr>
                    <td>Company Service Emails:</td><td>{{ len .companyServiceEmails }}</td>
                </tr>
                <tr>
                    <td>Company Features:</td><td>{{ len .companyFeatures }}</td>
                </tr>
                <tr>
                    <td>Notes:</td><td>{{ len .notes }}</td>
                </tr>
                <tr>
                    <td>Notifications:</td><td>{{ len .notifications }}</td>
                </tr>
                <tr>
                    <td>Documents:</td><td>{{ len .documents }}</td>
                </tr>
                <tr>
                    <td>Drivers:</td><td>{{ len .drivers }}</td>
                </tr>
                <tr>
                    <td>Vehicles:</td><td>{{ len .vehicles }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
