<!DOCTYPE html>
<html>
    <head>
        <title>Page 1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {{ template "st-head.tmpl" . }}

        <style type="text/css">
            @media print {
                @page {size: landscape}
                input,
                textarea {
                    border: none !important;
                    box-shadow: none !important;
                    outline: none !important;
                }
                .break {
                    page-break-after:always;
                }
            }

            input {
            font-size: 10px;
            }
            p {
            margin: 0;
            padding: 0;
            }
            .p1ft00 {
            font-size: 9px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft01 {
            font-size: 16px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft02 {
            font-size: 19px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft03 {
            font-size: 13px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft04 {
            font-size: 9px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft05 {
            font-size: 10px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft06 {
            font-size: 9px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft07 {
            font-size: 10px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft08 {
            font-size: 10px;
            font-family: Arial;
            color: #231f20;
            }
            .p1ft09 {
            font-size: 8px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft00 {
            font-size: 15px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft01 {
            font-size: 15px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft02 {
            font-size: 10px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft03 {
            font-size: 15px;
            line-height: 23px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft04 {
            font-size: 15px;
            line-height: 31px;
            font-family: Arial;
            color: #231f20;
            }
            .p2ft05 {
            font-size: 15px;
            line-height: 28px;
            font-family: Arial;
            color: #231f20;
            }
</style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">

        {{ if eq .session.ROLE "ADMIN" "DEVELOPER" "EMPLOYEE" }}
            <div id="" style="position:relative;width:1188px;margin:0 auto;" class="no-print">
                <br>
                <label for="addition1">Vehicle Addition 1</label>
                <select id="addition1" class="addSelect" data-vehicle="1">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="addition2">&nbsp;&nbsp;Vehicle Addition 2</label>
                <select id="addition2" class="addSelect" data-vehicle="2">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <br><br>

                <label for="deletion1">Vehicle Deletion 1</label>
                <select id="deletion1" class="delSelect" data-vehicle="1">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="deletion2">&nbsp;&nbsp;Vehicle Deletion 2</label>
                <select id="deletion2" class="delSelect" data-vehicle="2">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <br><br>
                <label for="weightSelect">Weights</label>
                <select id="weightSelect">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>
                <br><br>
            </div>
        {{ end }}

        <div id="page1-div" class="page break" style="position:relative;width:1188px;height:918px;margin:0 auto;">
            <img width="1188" height="918" src="/static/img/forms/mv-552a001.png" alt="background image">
            <p style="position:absolute;top:141px;left:62px;white-space:nowrap" class="p1ft012"><input type="text" name="applicant-account-number" value="{{ .company.IRPNum }}" style="width:147px;"></p>
            <p style="position:absolute;top:141px;left:218px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-name" value="{{ .company.Name }}" style="width:277px;"></p>
            <p style="position:absolute;top:141px;left:503px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-street" value="{{ .company.PhysicalAddress.Street }}" style="width:242px;"></p>
            <p style="position:absolute;top:141px;left:755px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-city" style="width:140px;" value="{{ .company.PhysicalAddress.City }}"></p>
            <p style="position:absolute;top:141px;left:905px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-county" value="{{ .company.PhysicalAddress.County }}" style="width:123px;"></p>
            <p style="position:absolute;top:141px;left:1035px;white-space:nowrap" class="p1ft013"><input type="text" style="width:42px;" name="applicant-business-address-state" value="{{ .company.PhysicalAddress.State }}"></p>
            <p style="position:absolute;top:141px;left:1085px;white-space:nowrap" class="p1ft013"><input type="text" style="width:62px;" name="applicant-business-address-zip" value="{{ .company.PhysicalAddress.Zip }}"></p>
            <p style="position:absolute;top:175px;left:503px;white-space:nowrap" class="p1ft015"><input type="text" name="applicant-mailing-address-street" style="width:242px;" value="{{ .company.MailingAddress.Street }}"></p>
            <p style="position:absolute;top:175px;left:755px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-city" style="width:140px;" value="{{ .company.MailingAddress.City }}"></p>
            <p style="position:absolute;top:175px;left:905px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-county" value="{{ .company.MailingAddress.County }}" style="width:123px;"></p>
            <p style="position:absolute;top:175px;left:1035px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-state" style="width:42px;" value="{{ .company.MailingAddress.State }}"></p>
            <p style="position:absolute;top:175px;left:1085px;white-space:nowrap" class="p1ft013"><input type="text" style="width:62px;" name="applicant-mailing-address-zip" value="{{ .company.MailingAddress.Zip }}"></p>
            <p style="position:absolute;top:175px;left:62px;white-space:nowrap" class="p1ft014"><input type="text" name="applicant-us-dot-number" style="width:147px;" value="{{ .company.DOTNum }}"></p>
            <p style="position:absolute;top:212px;left:62px;white-space:nowrap" class="p1ft014"><input type="text" name="applicant-ein" style="width:147px;" value="{{ .company.EINNum }}"></p>
            <p style="position:absolute;top:212px;left:505px;white-space:nowrap" class="p1ft015"><input type="text" style="width:132px;" name="applicant-registration-year"></p>
            <p style="position:absolute;top:195px;left:657px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="new-vehicle-only" value=""></p>
            <p style="position:absolute;top:225px;left:657px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-transfer" value=""></p>
            <p style="position:absolute;top:195px;left:850px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-transfer-weight-increase" value=""></p>
            <p style="position:absolute;top:210px;left:657px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="weight-increase" value=""></p>
            <p style="position:absolute;top:225px;left:1035px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="delete-only" value=""></p>
            <p style="position:absolute;top:242px;left:1035px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="lease-buy-out" value=""></p>
            <p style="position:absolute;top:225px;left:850px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="correct-information" value=""></p>
            <p style="position:absolute;top:242px;left:657px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-plate-replacement" value=""></p>
            <p style="position:absolute;top:240px;left:160px;white-space:nowrap" class="p1ft011 p1ft01">7176250280</p>
            <p style="position:absolute;top:240px;left:475px;white-space:nowrap" class="p1ft011 p1ft01">8883392490</p>
            <p style="position:absolute;top:212px;left:222px;white-space:nowrap" class="p1ft01">adam@cnsprotects.com</p>
            <p style="position:absolute;top:174px;left:220px;white-space:nowrap" class="p1ft02">CNS</p>
            <p style="position:absolute;top:490px;left:950px;white-space:nowrap" class="p1ft00">Equipment&nbsp;Number</p>
            <p style="position:absolute;top:527px;left:950px;white-space:nowrap" class="p1ft00">Vehicle&nbsp;Identification&nbsp;Number</p>
            <p style="position:absolute;top:563px;left:950px;white-space:nowrap" class="p1ft00">Current&nbsp;Registration&nbsp;Plate&nbsp;Number</p>
            <p style="position:absolute;top:573px;left:507px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:573px;left:551px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:133px;left:221px;white-space:nowrap" class="p1ft00">Name&nbsp;of&nbsp;Applicant</p>
            <p style="position:absolute;top:163px;left:505px;white-space:nowrap" class="p1ft00">Mailing&nbsp;Address</p>
            <p style="position:absolute;top:197px;left:63px;white-space:nowrap" class="p1ft00">****TIN/EIN</p>
            <p style="position:absolute;top:163px;left:63px;white-space:nowrap" class="p1ft00">***USDOT#</p>
            <p style="position:absolute;top:133px;left:506px;white-space:nowrap" class="p1ft00">Business&nbsp;Address</p>
            <p style="position:absolute;top:197px;left:507px;white-space:nowrap" class="p1ft00">Registration&nbsp;Year</p>
            <p style="position:absolute;top:133px;left:758px;white-space:nowrap" class="p1ft00">City</p>
            <p style="position:absolute;top:133px;left:905px;white-space:nowrap" class="p1ft00">County</p>
            <p style="position:absolute;top:133px;left:1087px;white-space:nowrap" class="p1ft00">Zip</p>
            <p style="position:absolute;top:163px;left:220px;white-space:nowrap" class="p1ft00">Person&nbsp;to&nbsp;Contact&nbsp;Regarding&nbsp;Application</p>
            <p style="position:absolute;top:236px;left:64px;white-space:nowrap" class="p1ft00">Telephone&nbsp;Number</p>
            <p style="position:absolute;top:236px;left:402px;white-space:nowrap" class="p1ft00">Fax&nbsp;Number</p>
            <p style="position:absolute;top:197px;left:221px;white-space:nowrap" class="p1ft00">E-mail&nbsp;Address</p>
            <p style="position:absolute;top:198px;left:679px;white-space:nowrap" class="p1ft00">New&nbsp;Vehicle&nbsp;Only</p>
            <p style="position:absolute;top:199px;left:872px;white-space:nowrap" class="p1ft00">Registration&nbsp;Transfer&nbsp;with&nbsp;Weight&nbsp;Increase</p>
            <p style="position:absolute;top:214px;left:679px;white-space:nowrap" class="p1ft00">Increase&nbsp;Weight&nbsp;on&nbsp;Vehicle&nbsp;Originally&nbsp;Registered&nbsp;at&nbsp;a&nbsp;Lower&nbsp;Weight</p>
            <p style="position:absolute;top:230px;left:1058px;white-space:nowrap" class="p1ft00">Delete&nbsp;Only</p>
            <p style="position:absolute;top:47px;left:471px;white-space:nowrap" class="p1ft02"><b>APPORTIONED&nbsp;REGISTRATION</b></p>
            <p style="position:absolute;top:72px;left:485px;white-space:nowrap" class="p1ft02"><b>SUPPLEMENT&nbsp;APPLICATION</b></p>
            <p style="position:absolute;top:265px;left:42px;white-space:nowrap" class="p1ft03"><b>B&nbsp;&nbsp;&nbsp;WEIGHTS</b></p>
            <p style="position:absolute;top:114px;left:42px;white-space:nowrap" class="p1ft03"><b>A&nbsp;&nbsp;&nbsp;APPLICANT&nbsp;INFORMATION</b></p>
            <p style="position:absolute;top:455px;left:63px;white-space:nowrap" class="p1ft04"><b>1)&nbsp;&nbsp;</b>Title&nbsp;# &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Vehicle&nbsp;Identification&nbsp;Number &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Equipment&nbsp;Number &nbsp; &nbsp; &nbsp; Year &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Make &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Body&nbsp;Type* &nbsp; &nbsp; &nbsp; &nbsp; Axes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Seats &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fuel**</p>
            <p style="position:absolute;top:455px;left:949px;white-space:nowrap" class="p1ft04"><b>1)&nbsp;&nbsp;</b></p>
            <p style="position:absolute;top:551px;left:63px;white-space:nowrap" class="p1ft00">Vehicle&nbsp;Owner&nbsp;(Lessor&nbsp;Name) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;PA&nbsp;Registration&nbsp;Plate&nbsp;Number &nbsp; &nbsp; UT&nbsp;Spec&nbsp;Truck &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;CO&nbsp;Miles</p>
            <p style="position:absolute;top:435px;left:951px;white-space:nowrap" class="p1ft03"><b>D&nbsp;&nbsp;&nbsp;DELETE&nbsp;OR&nbsp;TRANSFER</b></p>
            <p style="position:absolute;top:752px;left:66px;white-space:nowrap" class="p1ft05"><b>*Use&nbsp;one&nbsp;of&nbsp;the&nbsp;following&nbsp;designations&nbsp;for&nbsp;the&nbsp;Body&nbsp;Type:</b></p>
            <p style="position:absolute;top:752px;left:373px;white-space:nowrap" class="p1ft05"><b>BS&nbsp;</b>–&nbsp;Bus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TR&nbsp;</b>–&nbsp;Tractor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TK&nbsp;</b>–&nbsp;Truck&nbsp;(Single)</p>
            <p style="position:absolute;top:769px;left:66px;white-space:nowrap" class="p1ft05"><b>•••USDOT#&nbsp;</b>-&nbsp;US&nbsp;Department&nbsp;of&nbsp;Transportation&nbsp;Number</p>
            <p style="position:absolute;top:769px;left:346px;white-space:nowrap" class="p1ft06">••••<b>TIN/EIN&nbsp;</b>-&nbsp;Tax&nbsp;Identification&nbsp;Number/Employee&nbsp;Identification&nbsp;Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p style="position:absolute;top:753px;left:735px;white-space:nowrap" class="p1ft05"><b>**&nbsp;FUEL</b></p>
            <p style="position:absolute;top:890px;left:761px;white-space:nowrap" class="p1ft07"><b>Number&nbsp;of&nbsp;duplicate&nbsp;cab&nbsp;cards&nbsp;for&nbsp;each&nbsp;vehicle&nbsp;in&nbsp;the&nbsp;fleet&nbsp;&nbsp;_______</b></p>
            <p style="position:absolute;top:435px;left:43px;white-space:nowrap" class="p1ft03"><b>C &nbsp; VEHICLE&nbsp;ADDITIONS</b></p>
            <p style="position:absolute;top:55px;left:232px;white-space:nowrap" class="p1ft08">Commercial&nbsp;Registration&nbsp;Section</p>
            <p style="position:absolute;top:69px;left:232px;white-space:nowrap" class="p1ft08">P.&nbsp;O.&nbsp;Box&nbsp;68286</p>
            <p style="position:absolute;top:84px;left:232px;white-space:nowrap" class="p1ft08">Harrisburg,&nbsp;PA&nbsp;17106-8286</p>
            <p style="position:absolute;top:34px;left:35px;white-space:nowrap" class="p1ft08">MV-552A&nbsp;(7-16)</p>
            <p style="position:absolute;top:96px;left:923px;white-space:nowrap" class="p1ft06">For&nbsp;Department&nbsp;Use&nbsp;Only</p>
            <p style="position:absolute;top:133px;left:1038px;white-space:nowrap" class="p1ft00">State</p>
            <p style="position:absolute;top:163px;left:758px;white-space:nowrap" class="p1ft00">City</p>
            <p style="position:absolute;top:163px;left:905px;white-space:nowrap" class="p1ft00">County</p>
            <p style="position:absolute;top:163px;left:1087px;white-space:nowrap" class="p1ft00">Zip</p>
            <p style="position:absolute;top:163px;left:1038px;white-space:nowrap" class="p1ft00">State</p>
            <p style="position:absolute;top:230px;left:679px;white-space:nowrap" class="p1ft00">Registration&nbsp;Transfer</p>
            <p style="position:absolute;top:230px;left:872px;white-space:nowrap" class="p1ft00">Correct&nbsp;Information/Update</p>
            <p style="position:absolute;top:245px;left:679px;white-space:nowrap" class="p1ft00">Registration&nbsp;Transfer&nbsp;and&nbsp;Registration&nbsp;Plate&nbsp;Replacement&nbsp;</p>
            <p style="position:absolute;top:812px;left:897px;white-space:nowrap" class="p1ft00">Insurance&nbsp;Company Name</p>
            <p style="position:absolute;top:848px;left:722px;white-space:nowrap" class="p1ft00">Policy&nbsp;Number</p>
            <p style="position:absolute;top:848px;left:898px;white-space:nowrap" class="p1ft00">Effective&nbsp;Date</p>
            <p style="position:absolute;top:848px;left:1031px;white-space:nowrap" class="p1ft00">Expiration&nbsp;Date</p>
            <p style="position:absolute;top:872px;left:68px;white-space:nowrap" class="p1ft08">By&nbsp;____________________________________&nbsp;&nbsp;&nbsp;Title&nbsp;____________________________________&nbsp;&nbsp;&nbsp;Date&nbsp;__________</p>
            <p style="position:absolute;top:884px;left:120px;white-space:nowrap" class="p1ft09">Owner&nbsp;or&nbsp;Authorized&nbsp;Representative</p>
            <p style="position:absolute;top:753px;left:806px;white-space:nowrap" class="p1ft05"><b>D&nbsp;</b>–&nbsp;Diesel&nbsp;&nbsp;</p>
            <p style="position:absolute;top:753px;left:899px;white-space:nowrap" class="p1ft05"><b>G&nbsp;</b>–&nbsp;Gas&nbsp;&nbsp;</p>
            <p style="position:absolute;top:753px;left:1012px;white-space:nowrap" class="p1ft05"><b>P&nbsp;</b>-&nbsp;Propane&nbsp;</p>
            <p style="position:absolute;top:768px;left:806px;white-space:nowrap" class="p1ft05"><b>H&nbsp;</b>-&nbsp;Hybrid&nbsp;</p>
            <p style="position:absolute;top:768px;left:899px;white-space:nowrap" class="p1ft05"><b>N&nbsp;</b>-&nbsp;Natural&nbsp;Gas&nbsp;</p>
            <p style="position:absolute;top:768px;left:1012px;white-space:nowrap" class="p1ft05"><b>O&nbsp;</b>-&nbsp;Other</p>
            <p style="position:absolute;top:813px;left:67px;white-space:nowrap" class="p1ft06">I&nbsp;acknowledge&nbsp;that&nbsp;I&nbsp;may&nbsp;lose&nbsp;my&nbsp;operating&nbsp;privilege&nbsp;or&nbsp;vehicle&nbsp;registration&nbsp;for&nbsp;failure&nbsp;to&nbsp;maintain&nbsp;financial&nbsp;responsibility&nbsp;on&nbsp;the&nbsp;currently&nbsp;registered</p>
            <p style="position:absolute;top:825px;left:67px;white-space:nowrap" class="p1ft06">vehicle&nbsp;for&nbsp;the&nbsp;period&nbsp;of&nbsp;registration.&nbsp;My&nbsp;signature&nbsp;attests&nbsp;to&nbsp;my&nbsp;knowledge&nbsp;of&nbsp;all&nbsp;applicable&nbsp;State&nbsp;and&nbsp;Federal&nbsp;Motor&nbsp;Carrier&nbsp;safety&nbsp;laws&nbsp;and</p>
            <p style="position:absolute;top:837px;left:67px;white-space:nowrap" class="p1ft06">regulations.&nbsp;My&nbsp;signature&nbsp;attests&nbsp;to&nbsp;the&nbsp;fact&nbsp;that&nbsp;this&nbsp;vehicle&nbsp;is&nbsp;a&nbsp;motor&nbsp;carrier&nbsp;vehicle&nbsp;and&nbsp;it&nbsp;has&nbsp;a&nbsp;current&nbsp;valid&nbsp;safety&nbsp;inspection.&nbsp;It&nbsp;also&nbsp;attests&nbsp;to</p>
            <p style="position:absolute;top:848px;left:67px;white-space:nowrap" class="p1ft06">my&nbsp;knowledge&nbsp;of&nbsp;all&nbsp;applicable&nbsp;State&nbsp;and&nbsp;Federal&nbsp;Motor&nbsp;Carrier&nbsp;safety&nbsp;laws&nbsp;and&nbsp;regulations.</p>

            <div id="weights">
                <p style="position:absolute;top:291px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-pa" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:322px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-il" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:352px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nc" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:383px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-sd" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:413px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nb" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:291px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-al" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:322px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-in" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:352px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nd" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:383px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-tn" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:413px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nf" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:291px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ar" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:322px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ks" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:352px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ne" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:383px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-tx" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:413px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ns" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:291px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-az" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:352px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nh" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:413px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-on" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:383px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ut" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:322px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ky" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:291px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ca" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:322px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-la" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:352px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nj" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:383px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-va" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:413px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-pe" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:291px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-co" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:322px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ma" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:352px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nm" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:383px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-vt" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:413px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-qc" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:291px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ct" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:322px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-md" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:352px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nv" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:383px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wa" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:413px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-sk" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:291px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-dc" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:322px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-me" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:352px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ny" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:383px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wi" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:291px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-de" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:322px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mi" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:352px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-oh" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:383px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wv" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:291px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-fl" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:322px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mn" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:352px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ok" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:383px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wy" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:291px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ga" style="text-align:center;width:77px;"></p>
                <p style="position:absolute;top:322px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mo" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:352px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-or" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:383px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ab" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:291px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ia" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:322px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ms" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:352px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ri" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:383px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-bc" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:291px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-id" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:322px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mt" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:352px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-sc" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:383px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mb" style="text-align:center;width:62px"></p>
            </div>

            <p style="position:absolute;top:285px;left:65px;white-space:nowrap" class="p1ft08">PA</p>
            <p style="position:absolute;top:285px;left:150px;white-space:nowrap" class="p1ft08">AL</p>
            <p style="position:absolute;top:285px;left:239px;white-space:nowrap" class="p1ft08">AR</p>
            <p style="position:absolute;top:285px;left:324px;white-space:nowrap" class="p1ft08">AZ</p>
            <p style="position:absolute;top:285px;left:410px;white-space:nowrap" class="p1ft08">CA</p>
            <p style="position:absolute;top:285px;left:495px;white-space:nowrap" class="p1ft08">CO</p>
            <p style="position:absolute;top:285px;left:584px;white-space:nowrap" class="p1ft08">CT</p>
            <p style="position:absolute;top:285px;left:669px;white-space:nowrap" class="p1ft08">DC</p>
            <p style="position:absolute;top:285px;left:756px;white-space:nowrap" class="p1ft08">DE</p>
            <p style="position:absolute;top:285px;left:842px;white-space:nowrap" class="p1ft08">FL</p>
            <p style="position:absolute;top:285px;left:926px;white-space:nowrap" class="p1ft08">GA</p>
            <p style="position:absolute;top:285px;left:1011px;white-space:nowrap" class="p1ft08">IA</p>
            <p style="position:absolute;top:285px;left:1092px;white-space:nowrap" class="p1ft08">ID</p>
            <p style="position:absolute;top:314px;left:65px;white-space:nowrap" class="p1ft08">IL</p>
            <p style="position:absolute;top:314px;left:150px;white-space:nowrap" class="p1ft08">IN</p>
            <p style="position:absolute;top:314px;left:239px;white-space:nowrap" class="p1ft08">kS</p>
            <p style="position:absolute;top:314px;left:324px;white-space:nowrap" class="p1ft08">kY</p>
            <p style="position:absolute;top:314px;left:410px;white-space:nowrap" class="p1ft08">LA</p>
            <p style="position:absolute;top:314px;left:495px;white-space:nowrap" class="p1ft08">MA</p>
            <p style="position:absolute;top:314px;left:584px;white-space:nowrap" class="p1ft08">MD</p>
            <p style="position:absolute;top:314px;left:669px;white-space:nowrap" class="p1ft08">ME</p>
            <p style="position:absolute;top:314px;left:756px;white-space:nowrap" class="p1ft08">MI</p>
            <p style="position:absolute;top:314px;left:842px;white-space:nowrap" class="p1ft08">MN</p>
            <p style="position:absolute;top:314px;left:926px;white-space:nowrap" class="p1ft08">MO</p>
            <p style="position:absolute;top:314px;left:1011px;white-space:nowrap" class="p1ft08">MS</p>
            <p style="position:absolute;top:314px;left:1092px;white-space:nowrap" class="p1ft08">MT</p>
            <p style="position:absolute;top:345px;left:65px;white-space:nowrap" class="p1ft08">NC</p>
            <p style="position:absolute;top:345px;left:150px;white-space:nowrap" class="p1ft08">ND</p>
            <p style="position:absolute;top:345px;left:239px;white-space:nowrap" class="p1ft08">NE</p>
            <p style="position:absolute;top:345px;left:324px;white-space:nowrap" class="p1ft08">NH</p>
            <p style="position:absolute;top:345px;left:410px;white-space:nowrap" class="p1ft08">NJ</p>
            <p style="position:absolute;top:345px;left:495px;white-space:nowrap" class="p1ft08">NM</p>
            <p style="position:absolute;top:345px;left:584px;white-space:nowrap" class="p1ft08">NV</p>
            <p style="position:absolute;top:345px;left:669px;white-space:nowrap" class="p1ft08">NY</p>
            <p style="position:absolute;top:345px;left:756px;white-space:nowrap" class="p1ft08">OH</p>
            <p style="position:absolute;top:345px;left:842px;white-space:nowrap" class="p1ft08">Ok</p>
            <p style="position:absolute;top:345px;left:926px;white-space:nowrap" class="p1ft08">OR</p>
            <p style="position:absolute;top:345px;left:1011px;white-space:nowrap" class="p1ft08">RI</p>
            <p style="position:absolute;top:345px;left:1092px;white-space:nowrap" class="p1ft08">SC</p>
            <p style="position:absolute;top:375px;left:65px;white-space:nowrap" class="p1ft08">SD</p>
            <p style="position:absolute;top:375px;left:150px;white-space:nowrap" class="p1ft08">TN</p>
            <p style="position:absolute;top:375px;left:239px;white-space:nowrap" class="p1ft08">TX</p>
            <p style="position:absolute;top:375px;left:324px;white-space:nowrap" class="p1ft08">UT</p>
            <p style="position:absolute;top:375px;left:410px;white-space:nowrap" class="p1ft08">VA</p>
            <p style="position:absolute;top:375px;left:495px;white-space:nowrap" class="p1ft08">VT</p>
            <p style="position:absolute;top:375px;left:584px;white-space:nowrap" class="p1ft08">WA</p>
            <p style="position:absolute;top:375px;left:669px;white-space:nowrap" class="p1ft08">WI</p>
            <p style="position:absolute;top:375px;left:756px;white-space:nowrap" class="p1ft08">WV</p>
            <p style="position:absolute;top:375px;left:842px;white-space:nowrap" class="p1ft08">WY</p>
            <p style="position:absolute;top:375px;left:926px;white-space:nowrap" class="p1ft08">AB</p>
            <p style="position:absolute;top:375px;left:1011px;white-space:nowrap" class="p1ft08">BC</p>
            <p style="position:absolute;top:375px;left:1092px;white-space:nowrap" class="p1ft08">MB</p>
            <p style="position:absolute;top:406px;left:65px;white-space:nowrap" class="p1ft08">NB</p>
            <p style="position:absolute;top:406px;left:150px;white-space:nowrap" class="p1ft08">NF</p>
            <p style="position:absolute;top:406px;left:239px;white-space:nowrap" class="p1ft08">NS</p>
            <p style="position:absolute;top:406px;left:324px;white-space:nowrap" class="p1ft08">ON</p>
            <p style="position:absolute;top:406px;left:410px;white-space:nowrap" class="p1ft08">PE</p>
            <p style="position:absolute;top:406px;left:495px;white-space:nowrap" class="p1ft08">QC</p>
            <p style="position:absolute;top:406px;left:584px;white-space:nowrap" class="p1ft08">SK</p>
            <p style="position:absolute;top:133px;left:64px;white-space:nowrap" class="p1ft00">Acct&nbsp;#</p>
            <p style="position:absolute;top:814px;left:722px;white-space:nowrap" class="p1ft00">NAIC&nbsp;#</p>
            <p style="position:absolute;top:573px;left:747px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:550px;left:640px;white-space:nowrap" class="p1ft00">Will&nbsp;the&nbsp;designated&nbsp;carrier&nbsp;responsible&nbsp;for&nbsp;safety&nbsp;change&nbsp;during&nbsp;the&nbsp;year?</p>
            <p style="position:absolute;top:573px;left:819px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:573px;left:602px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:245px;left:1058px;white-space:nowrap" class="p1ft00">Lease&nbsp;Buy&nbsp;Out</p>
            <p style="position:absolute;top:96px;left:81px;white-space:nowrap" class="p1ft00">www.dmv.pa.gov</p>
            <p style="position:absolute;top:793px;left:43px;white-space:nowrap" class="p1ft03"><b>E&nbsp;&nbsp;&nbsp;INSURANCE&nbsp;AND&nbsp;ACKNOWLEDGEMENT</b></p>
            <p style="position:absolute;top:502px;left:63px;white-space:nowrap" class="p1ft00">Unladen&nbsp;or&nbsp;Chassis&nbsp;Wt. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Gross&nbsp;Vehicle&nbsp;Weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gross&nbsp;Combination&nbsp;Weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Purchase&nbsp;Price &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Purchase&nbsp;Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Factory&nbsp;Price &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;***USDOT# &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ****TIN/EIN</p>
            <p style="position:absolute;top:463px;left:989px;white-space:nowrap" class="p1ft00">DELETE</p>
            <p style="position:absolute;top:463px;left:1072px;white-space:nowrap" class="p1ft00">TRANSFER</p>
            <p style="position:absolute;top:636px;left:950px;white-space:nowrap" class="p1ft00">Equipment&nbsp;Number</p>
            <p style="position:absolute;top:672px;left:950px;white-space:nowrap" class="p1ft00">Vehicle&nbsp;Identification&nbsp;Number</p>
            <p style="position:absolute;top:708px;left:950px;white-space:nowrap" class="p1ft00">Current&nbsp;Registration&nbsp;Plate&nbsp;Number</p>
            <p style="position:absolute;top:600px;left:949px;white-space:nowrap" class="p1ft04"><b>2)&nbsp;&nbsp;</b></p>
            <p style="position:absolute;top:609px;left:989px;white-space:nowrap" class="p1ft00">DELETE</p>
            <p style="position:absolute;top:609px;left:1072px;white-space:nowrap" class="p1ft00">TRANSFER</p>
            <p style="position:absolute;top:719px;left:507px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:719px;left:551px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:600px;left:63px;white-space:nowrap" class="p1ft04"><b>2)&nbsp;&nbsp;</b>Title&nbsp;#&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
				&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Vehicle&nbsp;Identification&nbsp;Number &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Equipment&nbsp;Number &nbsp; &nbsp; &nbsp; Year &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Make&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Body&nbsp;Type*&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Axes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Seats &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fuel**</p>
            <p style="position:absolute;top:696px;left:63px;white-space:nowrap" class="p1ft00">Vehicle&nbsp;Owner&nbsp;(Lessor&nbsp;Name)&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
				&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;PA&nbsp;Registration&nbsp;Plate&nbsp;Number &nbsp; &nbsp; UT&nbsp;Spec&nbsp;Truck &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;CO&nbsp;Miles</p>
            <p style="position:absolute;top:718px;left:747px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:695px;left:640px;white-space:nowrap" class="p1ft00">Will&nbsp;the&nbsp;designated&nbsp;carrier&nbsp;responsible&nbsp;for&nbsp;safety&nbsp;change&nbsp;during&nbsp;the&nbsp;year?</p>
            <p style="position:absolute;top:719px;left:819px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:719px;left:602px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:647px;left:63px;white-space:nowrap" class="p1ft00">Unladen&nbsp;or&nbsp;Chassis&nbsp;Wt.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Gross&nbsp;Vehicle&nbsp;Weight&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Gross&nbsp;Combination&nbsp;Weight&nbsp; &nbsp;&nbsp;
				&nbsp; &nbsp;&nbsp;Purchase&nbsp;Price&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; Purchase&nbsp;Date&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Factory&nbsp;Price&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
				&nbsp;&nbsp;***USDOT#&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;****TIN/EIN</p>

            <div id="addition-1">
                <p style="position:absolute;top:475px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-title-1" style="width:178px;"></p>
                <p style="position:absolute;top:475px;left:250px;white-space:nowrap"><input type="text" name="vehicle-additions-vin-1" style="width:192px;"></p>
                <p style="position:absolute;top:475px;left:451px;white-space:nowrap"><input type="text" name="vehicle-additions-equipment-number-1" style="width:85px;"></p>
                <p style="position:absolute;top:475px;left:545px;white-space:nowrap"><input type="text" name="vehicle-additions-year-1" style="width:59px;"></p>
                <p style="position:absolute;top:475px;left:613px;white-space:nowrap"><input type="text" name="vehicle-additions-make-1" style="width:60px;"></p>
                <p style="position:absolute;top:475px;left:752px;white-space:nowrap"><input type="text" name="vehicle-additions-axles-1" style="width:57px;"></p>
                <p style="position:absolute;top:475px;left:817px;white-space:nowrap"><input type="text" name="vehicle-additions-seats-1" style="width:57px;"></p>
                <p style="position:absolute;top:475px;left:882px;white-space:nowrap"><input type="text" name="vehicle-additions-fuel-1" style="width:57px;"></p>
                <p style="position:absolute;top:475px;left:682px;white-space:nowrap"><input type="text" name="vehicle-additions-body-type-1" style="width:61px;"></p>
                <p style="position:absolute;top:523px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-unladen-weight-1" style="width:120px;"></p>
                <p style="position:absolute;top:523px;left:192px;white-space:nowrap"><input type="text" name="vehicle-additions-gvw-1" style="width:120px;"></p>
                <p style="position:absolute;top:523px;left:321px;white-space:nowrap"><input type="text" name="vehicle-additions-gcw-1" style="width:120px;"></p>
                <p style="position:absolute;top:523px;left:451px;white-space:nowrap"><input type="text" name="vehicle-additions-purchase-price-1" style="width:85px;"></p>
                <p style="position:absolute;top:523px;left:545px;white-space:nowrap"><input type="text" name="vehicle-additions-purchase-date-1" style="width:83px;"></p>
                <p style="position:absolute;top:523px;left:638px;white-space:nowrap"><input type="text" name="vehicle-additions-factory-price-1" style="width:85px;"></p>
                <p style="position:absolute;top:523px;left:732px;white-space:nowrap"><input type="text" name="vehicle-additions-us-dot-number-1" style="width:99px;"></p>
                <p style="position:absolute;top:523px;left:841px;white-space:nowrap"><input type="text" name="vehicle-additions-ein-1" style="width:98px;"></p>
                <p style="position:absolute;top:570px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-owner-1" style="width:280px;"></p>
                <p style="position:absolute;top:570px;left:355px;white-space:nowrap"><input type="text" name="vehicle-additions-plate-number-1" style="width:120px;"></p>
                <p style="position:absolute;top:568px;left:487px;white-space:nowrap"><input type="radio" name="vehicle-additions-ut-spec-1" value="true"></p>
                <p style="position:absolute;top:568px;left:530px;white-space:nowrap"><input type="radio" name="vehicle-additions-ut-spec-1" value="false"></p>
                <p style="position:absolute;top:568px;left:580px;white-space:nowrap"><input type="checkbox" name="vehicle-additions-co-miles-1" value=""></p>
                <p style="position:absolute;top:568px;left:720px;white-space:nowrap"><input type="radio" name="vehicle-additions-safety-change-1" value="true"></p>
                <p style="position:absolute;top:568px;left:790px;white-space:nowrap"><input type="radio" name="vehicle-additions-safety-change-1" value="false"></p>
            </div>

            <div id="addition-2">
                <p style="position:absolute;top:622px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-title-2" style="width:178px;"></p>
                <p style="position:absolute;top:622px;left:250px;white-space:nowrap"><input type="text" name="vehicle-additions-vin-2" style="width:192px;"></p>
                <p style="position:absolute;top:622px;left:451px;white-space:nowrap"><input type="text" name="vehicle-additions-equipment-number-2" style="width:85px;"></p>
                <p style="position:absolute;top:622px;left:545px;white-space:nowrap"><input type="text" name="vehicle-additions-year-2" style="width:59px;"></p>
                <p style="position:absolute;top:622px;left:613px;white-space:nowrap"><input type="text" name="vehicle-additions-make-2" style="width:60px;"></p>
                <p style="position:absolute;top:622px;left:752px;white-space:nowrap"><input type="text" name="vehicle-additions-axles-2" style="width:57px;"></p>
                <p style="position:absolute;top:622px;left:817px;white-space:nowrap"><input type="text" name="vehicle-additions-seats-2" style="width:57px;"></p>
                <p style="position:absolute;top:622px;left:882px;white-space:nowrap"><input type="text" name="vehicle-additions-fuel-2" style="width:57px;"></p>
                <p style="position:absolute;top:622px;left:682px;white-space:nowrap"><input type="text" name="vehicle-additions-body-type-2" style="width:61px;"></p>
                <p style="position:absolute;top:670px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-unladen-weight-2" style="width:120px;"></p>
                <p style="position:absolute;top:670px;left:192px;white-space:nowrap"><input type="text" name="vehicle-additions-gvw-2" style="width:120px;"></p>
                <p style="position:absolute;top:670px;left:321px;white-space:nowrap"><input type="text" name="vehicle-additions-gcw-2" style="width:120px;"></p>
                <p style="position:absolute;top:670px;left:451px;white-space:nowrap"><input type="text" name="vehicle-additions-purchase-price-2" style="width:85px;"></p>
                <p style="position:absolute;top:670px;left:545px;white-space:nowrap"><input type="text" name="vehicle-additions-purchase-date-2" style="width:83px;"></p>
                <p style="position:absolute;top:670px;left:638px;white-space:nowrap"><input type="text" name="vehicle-additions-factory-price-2" style="width:85px;"></p>
                <p style="position:absolute;top:670px;left:732px;white-space:nowrap"><input type="text" name="vehicle-additions-us-dot-number-2" style="width:99px;"></p>
                <p style="position:absolute;top:670px;left:841px;white-space:nowrap"><input type="text" name="vehicle-additions-ein-2" style="width:98px;"></p>
                <p style="position:absolute;top:717px;left:63px;white-space:nowrap"><input type="text" name="vehicle-additions-owner-2" style="width:280px;"></p>
                <p style="position:absolute;top:717px;left:355px;white-space:nowrap"><input type="text" name="vehicle-additions-plate-number-2" style="width:120px;"></p>
                <p style="position:absolute;top:715px;left:487px;white-space:nowrap"><input type="radio" name="vehicle-additions-ut-spec-2" value="true"></p>
                <p style="position:absolute;top:715px;left:530px;white-space:nowrap"><input type="radio" name="vehicle-additions-ut-spec-2" value="false"></p>
                <p style="position:absolute;top:715px;left:580px;white-space:nowrap"><input type="checkbox" name="vehicle-additions-co-miles-2" value=""></p>
                <p style="position:absolute;top:715px;left:720px;white-space:nowrap"><input type="radio" name="vehicle-additions-safety-change-2" value="true"></p>
                <p style="position:absolute;top:715px;left:790px;white-space:nowrap"><input type="radio" name="vehicle-additions-safety-change-2" value="false"></p>
            </div>

            <div id="deletion-1">
                <p style="position:absolute;top:459px;left:966px;white-space:nowrap"><input type="radio" name="delete-transfer-1" value="delete"></p>
                <p style="position:absolute;top:459px;left:1050px;white-space:nowrap"><input type="radio" name="delete-transfer-1" value="transfer"></p>
                <p style="position:absolute;top:504px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-equipment-number-1" style="width:195px;"></p>
                <p style="position:absolute;top:540px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-vin-1" style="width:195px;"></p>
                <p style="position:absolute;top:575px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-plate-number-1" style="width:195px;"></p>
            </div>

            <div id="deletion-2">
                <p style="position:absolute;top:605px;left:966px;white-space:nowrap"><input type="radio" name="delete-transfer-2" value="delete"></p>
                <p style="position:absolute;top:605px;left:1050px;white-space:nowrap"><input type="radio" name="delete-transfer-2" value="transfer"></p>
                <p style="position:absolute;top:649px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-equipment-number-2" style="width:195px;"></p>
                <p style="position:absolute;top:685px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-vin-2" style="width:195px;"></p>
                <p style="position:absolute;top:721px;left:950px;white-space:nowrap"><input type="text" name="vehicle-deletions-plate-number-2" style="width:195px;"></p>
            </div>

            <p style="position:absolute;top:863px;left:314px;white-space:nowrap"><input type="text" name="signature-title" style="width:192px;"></p>
            <p style="position:absolute;top:863px;left:547px;white-space:nowrap"><input type="text" name="signature-date" style="width:47px;"></p>
            <p style="position:absolute;top:825px;left:898px;white-space:nowrap"><input type="text" name="insurance-company" value="{{ .company.InsuranceCompany }}" style="width:250px;"></p>
            <p style="position:absolute;top:860px;left:720px;white-space:nowrap"><input type="text" name="insurance-policy-number" value="{{ .company.InsurancePolicyNum }}" style="width:168px;"></p>
            <p style="position:absolute;top:825px;left:720px;white-space:nowrap"><input type="text" name="insurance-naic" value="{{ .company.InsuranceNaic }}" style="width:168px;"></p>
            <p style="position:absolute;top:860px;left:898px;white-space:nowrap"><input type="text" name="insurance-effective-date" value="{{ .company.InsuranceEffectiveDate }}" style="width:123px;"></p>
            <p style="position:absolute;top:860px;left:1028px;white-space:nowrap"><input type="text" name="insurance-expiration-date" value="{{ .company.InsuranceExpirationDate }}" style="width:120px;"></p>
            <p style="position:absolute;top:881px;left:1046px;white-space:nowrap"><input type="text" name="duplicate-cards" style="width:32px;"></p>

        </div>

        <br>
        
        <div id="page2-div" class="page" style="position:relative;width:1188px;height:918px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:24px;left:49px;white-space:nowrap" class="p2ft02">MV-552A&#160;(7-16)</p>
            <p style="position:absolute;top:50px;left:49px;white-space:nowrap" class="p2ft03"><b>Section&#160;A&#160;-&#160;Applicant&#160;Information<br /></b>Enter&#160;the&#160;apportioned&#160;account&#160;number,&#160;the&#160;applicant&#160;name&#160;that&#160;appears&#160;on&#160;the&#160;apportioned&#160;account,&#160;business&#160;address&#160;and&#160;mailing&#160;address&#160;(if&#160;the&#160;mailing</p>
            <p style="position:absolute;top:93px;left:49px;white-space:nowrap" class="p2ft01">address&#160;is&#160;different&#160;than&#160;the&#160;business&#160;address).&#160;Post&#160;Office&#160;Box&#160;addresses&#160;may&#160;only&#160;be&#160;used&#160;in&#160;conjunction&#160;with&#160;a&#160;bona&#160;fide&#160;numbered&#160;street&#160;address.</p>
            <p style="position:absolute;top:111px;left:49px;white-space:nowrap" class="p2ft01">Post&#160;Office&#160;Box&#160;addresses&#160;alone&#160;are&#160;not&#160;permitted.&#160;The&#160;Pennsylvania&#160;Vehicle&#160;Code&#160;requires&#160;actual&#160;or&#160;bona&#160;fide&#160;addresses&#160;on&#160;applications&#160;for&#160;title&#160;and</p>
            <p style="position:absolute;top:130px;left:49px;white-space:nowrap" class="p2ft01">registration.&#160;Also&#160;fill&#160;in&#160;the&#160;applicant's&#160;USDOT&#160;number&#160;(US&#160;Department&#160;of&#160;Transportation&#160;Number),&#160;contact&#160;person,&#160;TIN/EIN&#160;(Tax&#160;Identification</p>
            <p style="position:absolute;top:149px;left:49px;white-space:nowrap" class="p2ft01">Number/Employee&#160;Identification&#160;Number),&#160;e-mail&#160;address,&#160;and&#160;registration&#160;year,&#160;telephone&#160;number&#160;and&#160;fax&#160;number.&#160;Check&#160;the&#160;appropriate&#160;box&#160;that&#160;best</p>
            <p style="position:absolute;top:168px;left:49px;white-space:nowrap" class="p2ft03">describes&#160;the&#160;transaction&#160;you&#160;are&#160;requesting.<br /><b>Section&#160;B&#160;-&#160;Weights<br /></b>Enter&#160;the&#160;maximum&#160;weight&#160;of&#160;the&#160;vehicles&#160;you&#160;wish&#160;to&#160;register&#160;to&#160;your&#160;apportioned&#160;fleet&#160;in&#160;the&#160;boxes&#160;labeled&#160;for&#160;each&#160;jurisdiction.&#160;<br /><b>Section&#160;C&#160;-&#160;Vehicle&#160;Additions<br /></b>List&#160;the&#160;vehicle&#160;information&#160;to&#160;be&#160;added&#160;to&#160;the&#160;fleet.&#160;If&#160;the&#160;vehicle&#160;is&#160;leased,&#160;list&#160;the&#160;lessee's&#160;USDOT&#160;number&#160;and&#160;TIN/EIN.&#160;A&#160;copy&#160;of&#160;the&#160;lease&#160;agreement</p>
            <p style="position:absolute;top:296px;left:49px;white-space:nowrap" class="p2ft01">is&#160;required&#160;to&#160;be&#160;submitted&#160;with&#160;this&#160;application.&#160;If&#160;a&#160;vehicle&#160;is&#160;being&#160;added&#160;to&#160;the&#160;fleet&#160;with&#160;existing&#160;Pennsylvania&#160;registration,&#160;include&#160;&#160;the&#160;registration&#160;plate</p>
            <p style="position:absolute;top:315px;left:49px;white-space:nowrap" class="p2ft05">number&#160;in&#160;this&#160;section&#160;to&#160;obtain&#160;credit.&#160;If&#160;an&#160;existing&#160;apportioned&#160;plate&#160;is&#160;being&#160;transfered&#160;to&#160;the&#160;added&#160;vehicle,&#160;list&#160;the&#160;transfer&#160;information&#160;in&#160;Section&#160;D.<br /><b>NOTE:&#160;</b>For&#160;body&#160;type,&#160;use&#160;one&#160;of&#160;the&#160;following:&#160;tractor&#160;(TR),&#160;single&#160;truck&#160;(Tk)&#160;or&#160;bus&#160;(BS).&#160;If&#160;a&#160;truck,&#160;list&#160;total&#160;number&#160;of&#160;axles&#160;on&#160;the&#160;truck&#160;including&#160;trailer</p>
            <p style="position:absolute;top:362px;left:48px;white-space:nowrap" class="p2ft01">axles&#160;if&#160;requesting&#160;combination&#160;weight.&#160;For&#160;tractor,&#160;list&#160;the&#160;number&#160;of&#160;axles&#160;on&#160;the&#160;tractor&#160;and&#160;the&#160;total&#160;number&#160;of&#160;axles&#160;for&#160;the&#160;tractor&#160;and&#160;</p>
            <p style="position:absolute;top:381px;left:48px;white-space:nowrap" class="p2ft01">trailer.&#160;Example:&#160;3/5&#160;means&#160;3&#160;axles&#160;for&#160;the&#160;tractor&#160;and&#160;5&#160;combined&#160;including&#160;the&#160;trailer.&#160;If&#160;the&#160;vehicle&#160;is&#160;a&#160;bus,&#160;list&#160;seating&#160;capacity.&#160;Do&#160;not&#160;leave&#160;any</p>
            <p style="position:absolute;top:400px;left:48px;white-space:nowrap" class="p2ft01">information&#160;blank.</p>
            <p style="position:absolute;top:428px;left:53px;white-space:nowrap" class="p2ft00"><b>&#160; &#160;&#160; &#160;Utah&#160;Truck&#160;Indicator&#160;(UT&#160;Spec&#160;Truck):&#160;</b>If&#160;the&#160;truck&#160;type&#160;entering&#160;the&#160;state&#160;of&#160;Utah&#160;is&#160;a&#160;cement&#160;pump,&#160;well&#160;boring&#160;unit,&#160;or&#160;crane,&#160;the&#160;Utah&#160;</p>
            <p style="position:absolute;top:447px;left:53px;white-space:nowrap" class="p2ft05">&#160; &#160;&#160; &#160;Special&#160;Truck&#160;block&#160;should&#160;be&#160;checked&#160;as&#160;“Yes.”&#160;If&#160;this&#160;does&#160;not&#160;apply,&#160;check&#160;“No.”<br /><b>&#160; &#160;&#160; &#160;Colorado&#160;Miles&#160;(CO&#160;Miles):&#160;</b>If&#160;the&#160;vehicle&#160;fleet&#160;operates&#160;more&#160;than&#160;10,000&#160;miles&#160;nationally&#160;per&#160;year,&#160;the&#160;box&#160;must&#160;be&#160;checked&#160;“Yes.”</p>
            <p style="position:absolute;top:503px;left:48px;white-space:nowrap" class="p2ft00"><b>NOTE:&#160;</b>If&#160;the&#160;vehicle&#160;is&#160;leased&#160;to&#160;the&#160;applicant,&#160;you&#160;must&#160;identify&#160;the&#160;USDOT&#160;number&#160;and&#160;TIN/EIN&#160;of&#160;the&#160;motor&#160;carrier&#160;responsible&#160;for&#160;safety.&#160;Also,&#160;indicate</p>
            <p style="position:absolute;top:522px;left:48px;white-space:nowrap" class="p2ft03">if&#160;the&#160;motor&#160;carrier&#160;responsible&#160;for&#160;safety&#160;will&#160;change&#160;during&#160;the&#160;registration&#160;year.<br /><b>Section&#160;D&#160;-&#160;Delete&#160;or&#160;Transfer&#160;Information<br /></b>Check&#160;the&#160;appropriate&#160;box&#160;for&#160;Deletion&#160;or&#160;Transfer.&#160;Also&#160;provide&#160;the&#160;equipment&#160;number,&#160;Vehicle&#160;Identification&#160;Number&#160;(VIN)&#160;and&#160;current&#160;registration&#160;plate</p>
            <p style="position:absolute;top:596px;left:49px;white-space:nowrap" class="p2ft04">number&#160;of&#160;the&#160;vehicle&#160;to&#160;be&#160;deleted&#160;or&#160;transferred.<br />If&#160;the&#160;vehicle&#160;is&#160;being&#160;deleted,&#160;the&#160;registration&#160;plate&#160;must&#160;be&#160;returned&#160;to&#160;the&#160;Commercial&#160;Registraton&#160;Section.&#160;<b>NOTE:&#160;</b>Once&#160;the&#160;registration&#160;plate&#160;has&#160;been</p>
            <p style="position:absolute;top:646px;left:49px;white-space:nowrap" class="p2ft01">placed&#160;on&#160;the&#160;vehicle,&#160;a&#160;temporary&#160;has&#160;been&#160;issued,&#160;or&#160;the&#160;registration&#160;sticker&#160;has&#160;been&#160;attached&#160;to&#160;the&#160;registration&#160;plate,&#160;they&#160;are&#160;automatically&#160;classified</p>
            <p style="position:absolute;top:665px;left:49px;white-space:nowrap" class="p2ft03">as&#160;<b>USED.&#160;NO&#160;REFUND&#160;</b>of&#160;the&#160;fees&#160;will&#160;be&#160;issued&#160;for&#160;<b>USED&#160;</b>registration&#160;plates&#160;or&#160;stickers.<br /><b>Section&#160;E&#160;-&#160;Insurance&#160;and&#160;Acknowledgement<br /></b>Fill&#160;in&#160;your&#160;insurance&#160;information&#160;in&#160;the&#160;spaces&#160;provided&#160;including&#160;the&#160;NAIC&#160;number,&#160;company&#160;name,&#160;policy&#160;number,&#160;and&#160;the&#160;effective&#160;and&#160;expiration&#160;dates.</p>
            <p style="position:absolute;top:738px;left:49px;white-space:nowrap" class="p2ft05"><b>NOTE:&#160;</b>The&#160;insurance&#160;information&#160;listed&#160;can&#160;only&#160;be&#160;for&#160;full&#160;liability&#160;coverage.&#160;&#160;<br />If&#160;you&#160;are&#160;requesting&#160;any&#160;duplicate&#160;cab&#160;cards,&#160;enter&#160;the&#160;total&#160;number&#160;of&#160;duplicates&#160;being&#160;requested&#160;for&#160;each&#160;vehicle.&#160;Signature&#160;of&#160;the&#160;owner&#160;or</p>
            <p style="position:absolute;top:785px;left:49px;white-space:nowrap" class="p2ft01">authorized&#160;representative&#160;of&#160;the&#160;apportioned&#160;account,&#160;title&#160;and&#160;date&#160;must&#160;be&#160;included&#160;on&#160;the&#160;form.</p>
            <p style="position:absolute;top:863px;left:230px;white-space:nowrap" class="p2ft00"><b>Visit&#160;us&#160;at&#160;www.dmv.pa.gov&#160;or&#160;call&#160;us&#160;at&#160;717-412-5300.&#160;TTY&#160;callers&#160;—&#160;please&#160;dial&#160;711&#160;to&#160;reach&#160;us.</b></p>
        </div>

        <div style="position:relative;width:1188px;margin:0 auto;">
            {{ template "st-scripts.tmpl" . }}
        </div>

        <script type="text/javascript">

            var vehicles = {{ if .vehicles }}{{ toJson .vehicles }}{{ else }}[]{{ end }};
            var previous;

            $(document).ready(function() {

                $('select.addSelect').change(function() {
                    var num = $(this).attr('data-vehicle');
                    clearInputs('addition-' + num);
                    if (this.value === '') {
                        return
                    }
                    var vIdx =+ this.value;
                    var vehicle = vehicles[vIdx];
                    addVehicle(vehicle, num);
                });

                $('select.delSelect').change(function() {
                    var num = $(this).attr('data-vehicle');
                    clearInputs('deletion-' + num);
                    if (this.value === '') {
                        return
                    }
                    var vIdx =+ this.value;
                    var vehicle = vehicles[vIdx];
                    delVehicle(vehicle, num);
                });
                setSelects();
            });


            function addVehicle(vehicle, num) {

                $('input[name="vehicle-additions-title-' + num + '"]').val(vehicle.title);
                $('input[name="vehicle-additions-vin-' + num + '"]').val(vehicle.vin);
                $('input[name="vehicle-additions-equipment-number-' + num + '"]').val(vehicle.unitNumber);
                $('input[name="vehicle-additions-year-' + num + '"]').val(vehicle.year);
                $('input[name="vehicle-additions-make-' + num + '"]').val(vehicle.make);
                $('input[name="vehicle-additions-body-type-' + num + '"]').val(vehicle.bodyType);
                $('input[name="vehicle-additions-axles-' + num + '"]').val(vehicle.axleAmount);
                $('input[name="vehicle-additions-seats-' + num + '"]').val(vehicle.seats);
                $('input[name="vehicle-additions-unladen-weight-' + num + '"]').val(vehicle.unladenWeight);
                $('input[name="vehicle-additions-gvw-' + num + '"]').val(vehicle.gvw);
                $('input[name="vehicle-additions-gcw-' + num + '"]').val(vehicle.gcr);
                $('input[name="vehicle-additions-fuel-' + num + '"]').val(vehicle.fuelType);
                $('input[name="vehicle-additions-purchase-price-' + num + '"]').val(vehicle.purchasePrice);
                $('input[name="vehicle-additions-purchase-date-' + num + '"]').val(vehicle.purchaseDate);
                $('input[name="vehicle-additions-owner-' + num + '"]').val(vehicle.owner);
                $('input[name="vehicle-additions-plate-number-' + num + '"]').val(vehicle.plateNum);

                $('input[name="vehicle-additions-us-dot-number-' + num + '"]').val('{{ .company.DOTNum }}');
                $('input[name="vehicle-additions-ein-' + num + '"]').val('{{ .company.EINNum }}');

                vehicle.location = 'addition-' + num;
                return true;
            }

            function delVehicle(vehicle, num) {

                $('input[name="vehicle-deletions-plate-number-' + num + '"]').val(vehicle.plateNum);
                $('input[name="vehicle-deletions-vin-' + num + '"]').val(vehicle.vin);
                $('input[name="vehicle-deletions-equipment-number-' + num + '"]').val(vehicle.unitNumber);

                vehicle.location = 'deletion-' + num;
                return true;
            }

            function clearInputs(id) {
                var inputs = $('div#' + id + ' input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].value = '';
                }
                $('div#' + id + ' input[type="radio"], div#' + id + ' input[type="checkbox"]').prop('checked', false)
            }

            function setSelects() {
                var additions = $('input[name="vehicle-additions-equipment-number-1"], input[name="vehicle-additions-equipment-number-2"], input[name="vehicle-additions-equipment-number-3"]');
                for (var i = 0; i < additions.length; i++) {
                    var val = additions[i].value;
                    if (val !== '' && val != undefined) {
                        for (var j = 0; j < vehicles.length; j++) {
                            if (val === vehicles[j].unitNumber) {
                                $('select#addition' + (i + 1)).val(j);
                            }
                        }
                    }
                }

                var deletions = $('input[name="vehicle-deletions-equipment-number-1"], input[name="vehicle-deletions-equipment-number-2"], input[name="vehicle-deletions-equipment-number-3"]');
                for (var i = 0; i < deletions.length; i++) {
                    var val = deletions[i].value;
                    if (val !== '' && val != undefined) {
                        for (var j = 0; j < vehicles.length; j++) {
                            if (val === vehicles[j].unitNumber) {
                                $('select#deletion' + (i + 1)).val(j);
                            }
                        }
                    }
                }
            }

        </script>

        {{ template "vehicle-weight.tmpl" . }}

    </body>
</html>
