<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
    <head>
        <title>Page 1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {{ template "st-head.tmpl" . }}
        <style type="text/css">
            @media print {
                @page {size: landscape}
                input,
                textarea {
                    border: none !important;
                    box-shadow: none !important;
                    outline: none !important;
                }
            }
            input {
            font-size: 10px;
            }
            p {
            margin: 0;
            padding: 0;
            }
            .p1ft00 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft01 {
            font-size: 16px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft02 {
            font-size: 19px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft03 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft04 {
            font-size: 12px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft05 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft06 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft07 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft08 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft09 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft010 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .p1ft011 {
            font-size: 16px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft012 {
            font-size: 21px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft013 {
            font-size: 20px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft014 {
            font-size: 19px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft015 {
            font-size: 17px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft016 {
            font-size: 22px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft017 {
            font-size: 12px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft018 {
            font-size: 14px;
            font-family: Helvetica;
            color: #000000;
            }
            .p1ft019 {
            font-size: 13px;
            font-family: Helvetica;
            color: #000000;
            }
            .p2ft00 {
            font-size: 14px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft01 {
            font-size: 14px;
            font-family: Times;
            color: #231f20;
            }
</style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">
        {{ if eq .session.ROLE "ADMIN" "DEVELOPER" "EMPLOYEE" }}
            <div id="page1-div" style="position:relative;width:1188px;margin:0 auto;" class="no-print">
                <!-- <label for="vehicle1">Vehicle 1</label>
                <select id="vehicle1" class="vehicleSelect" data-vehicle="0">
                    <option value="">None</option>
                    <option value="add">Addition</option>
                    <option value="del">Deletion</option>
                </select>
                <label for="vehicle2">Vehicle 2</label>
                <select id="vehicle2" class="vehicleSelect" data-vehicle="1">
                    <option value="">None</option>
                    <option value="add">Addition</option>
                    <option value="del">Deletion</option>
                </select>
                <br><br> -->
                <br>
                <!-- {{ range $i, $vehicle := .vehicles }}
                    <label for="vehicle{{ $i }}">Vehicle vin {{ $vehicle.VIN }}</label>
                    <select id="vehicle{{ $i }}" class="vehicleSelect" data-vehicle="{{ $i }}">
                        <option value="">None</option>
                        <option value="add">Addition</option>
                        <option value="del">Deletion</option>
                    </select>
                {{ end }} -->
                <label for="addition1">Vehicle Addition 1</label>
                <select id="addition1" class="addSelect" data-vehicle="1">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="addition2">&nbsp;&nbsp;Vehicle Addition 2</label>
                <select id="addition2" class="addSelect" data-vehicle="2">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="addition3">&nbsp;&nbsp;Vehicle Addition 3</label>
                <select id="addition3" class="addSelect" data-vehicle="3">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>
                <br><br>
                <label for="deletion1">Vehicle Deletion 1</label>
                <select id="deletion1" class="delSelect" data-vehicle="1">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="deletion2">&nbsp;&nbsp;Vehicle Deletion 2</label>
                <select id="deletion2" class="delSelect" data-vehicle="2">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <label for="deletion3">&nbsp;&nbsp;Vehicle Deletion 3</label>
                <select id="deletion3" class="delSelect" data-vehicle="3">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

                <br><br>
                <label for="weightSelect">Weights</label>
                <select id="weightSelect">
                    <option value="">None</option>
                    {{ range $i, $vehicle := .vehicles }}
                        <option value="{{ $i }}">{{ $vehicle.VIN }}</option>
                    {{ end }}
                </select>

            </div>
        {{ end }}
        <div id="maxMsg" style="text-align:center; color:red;" class="hide no-print">
            <br>
            <span id="maxMsg">
                Maximum number of addition met
            </span>
        </div>

        <br>
        <div id="page1-div" class="page" style="position:relative;width:1188px;height:918px;margin:0 auto;">
            <img width="1188" height="918" src="/static/img/forms/mv-552a001.png" alt="background image" />
            <p style="position:absolute;top:421px;left:681px;white-space:nowrap" class="p1ft00">UT&#160;Spec</p>
            <p style="position:absolute;top:453px;left:681px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:453px;left:719px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:111px;left:176px;white-space:nowrap" class="p1ft00">Name&#160;of&#160;Applicant</p>
            <p style="position:absolute;top:149px;left:396px;white-space:nowrap" class="p1ft00">Mailing&#160;Address</p>
            <p style="position:absolute;top:187px;left:63px;white-space:nowrap" class="p1ft00">TIN/EIN</p>
            <p style="position:absolute;top:150px;left:63px;white-space:nowrap" class="p1ft00">USDOT&#160;#</p>
            <p style="position:absolute;top:108px;left:397px;white-space:nowrap" class="p1ft00">Business&#160;Address</p>
            <p style="position:absolute;top:189px;left:396px;white-space:nowrap" class="p1ft00">Registration&#160;Year</p>
            <p style="position:absolute;top:110px;left:589px;white-space:nowrap" class="p1ft00">City</p>
            <p style="position:absolute;top:110px;left:723px;white-space:nowrap" class="p1ft00">County</p>
            <p style="position:absolute;top:110px;left:917px;white-space:nowrap" class="p1ft00">Zip</p>
            <p style="position:absolute;top:150px;left:175px;white-space:nowrap" class="p1ft00">Person&#160;to&#160;Contact&#160;Regarding&#160;Application</p>
            <p style="position:absolute;top:112px;left:1012px;white-space:nowrap" class="p1ft00">Telephone&#160;Number</p>
            <p style="position:absolute;top:151px;left:1012px;white-space:nowrap" class="p1ft00">Fax&#160;Number</p>
            <p style="position:absolute;top:189px;left:177px;white-space:nowrap" class="p1ft00">E-Mail&#160;Address</p>
            <p style="position:absolute;top:190px;left:523px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="new-vehicle-only" value=""></p>
            <p style="position:absolute;top:193px;left:545px;white-space:nowrap" class="p1ft00">New&#160;Vehicle&#160;Only</p>
            <p style="position:absolute;top:208px;left:523px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-transfer" value=""></p>
            <p style="position:absolute;top:190px;left:626px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-transfer-weight-increase" value=""></p>
            <p style="position:absolute;top:193px;left:647px;white-space:nowrap" class="p1ft00">Registration&#160;Transfer&#160;with&#160;Weight&#160;Increase</p>
            <p style="position:absolute;top:190px;left:835px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="weight-increase" value=""></p>
            <p style="position:absolute;top:193px;left:856px;white-space:nowrap" class="p1ft00">Increase&#160;Weight&#160;on&#160;Vehicle&#160;Originally&#160;Registered&#160;at&#160;a&#160;Lower&#160;Weight</p>
            <p style="position:absolute;top:208px;left:910px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="delete-only" value=""></p>
            <p style="position:absolute;top:211px;left:931px;white-space:nowrap" class="p1ft00">Delete&#160;Only</p>
            <p style="position:absolute;top:34px;left:470px;white-space:nowrap" class="p1ft02"><b>APPORTIONED&#160;REGISTRATION</b></p>
            <p style="position:absolute;top:59px;left:483px;white-space:nowrap" class="p1ft02"><b>SUPPLEMENT&#160;APPLICATION</b></p>
            <p style="position:absolute;top:228px;left:45px;white-space:nowrap" class="p1ft03"><b>B&#160;&#160;&#160;WEIGHTS</b></p>
            <p style="position:absolute;top:92px;left:45px;white-space:nowrap" class="p1ft03"><b>A&#160;&#160;&#160;APPLICANT&#160;INFORMATION</b></p>
            <p style="position:absolute;top:422px;left:96px;white-space:nowrap" class="p1ft00">Title&#160;#</p>
            <p style="position:absolute;top:421px;left:178px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:422px;left:383px;white-space:nowrap" class="p1ft00">Year</p>
            <p style="position:absolute;top:422px;left:426px;white-space:nowrap" class="p1ft00">Make</p>
            <p style="position:absolute;top:422px;left:470px;white-space:nowrap" class="p1ft00">Body&#160;Type*</p>
            <p style="position:absolute;top:422px;left:530px;white-space:nowrap" class="p1ft00">Axles</p>
            <p style="position:absolute;top:422px;left:577px;white-space:nowrap" class="p1ft00">Seats</p>
            <p style="position:absolute;top:421px;left:622px;white-space:nowrap" class="p1ft00">Fuel**</p>
            <p style="position:absolute;top:417px;left:981px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:427px;left:986px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:416px;left:1064px;white-space:nowrap" class="p1ft00">Current&#160;Registration</p>
            <p style="position:absolute;top:426px;left:1077px;white-space:nowrap" class="p1ft00">Plate&#160;Number</p>
            <p style="position:absolute;top:477px;left:65px;white-space:nowrap" class="p1ft00">Unladen&#160;or&#160;Chassis&#160;Wt.</p>
            <p style="position:absolute;top:416px;left:326px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:427px;left:331px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:478px;left:275px;white-space:nowrap" class="p1ft00">Gross&#160;Combination&#160;Weight</p>
            <p style="position:absolute;top:478px;left:410px;white-space:nowrap" class="p1ft00">Purchase&#160;Price</p>
            <p style="position:absolute;top:478px;left:505px;white-space:nowrap" class="p1ft00">Purchase&#160;Date</p>
            <p style="position:absolute;top:477px;left:603px;white-space:nowrap" class="p1ft00">Factory&#160;Price</p>
            <p style="position:absolute;top:478px;left:995px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:398px;left:956px;white-space:nowrap" class="p1ft03"><b>D&#160;&#160;DELETIONS</b></p>
            <p style="position:absolute;top:755px;left:67px;white-space:nowrap" class="p1ft04"><b>Use&#160;one&#160;of&#160;the&#160;following&#160;designations&#160;for&#160;the&#160;Body&#160;Type:</b></p>
            <p style="position:absolute;top:755px;left:370px;white-space:nowrap" class="p1ft04"><b>BS&#160;</b>–&#160;Bus&#160;&#160;&#160;&#160;&#160;<b>TR&#160;</b>–&#160;Tractor&#160;&#160;&#160;&#160;&#160;<b>TK&#160;</b>–&#160;Truck&#160;(Single)</p>
            <p style="position:absolute;top:748px;left:736px;white-space:nowrap" class="p1ft04"><b>**&#160;FUEL</b></p>
            <p style="position:absolute;top:875px;left:764px;white-space:nowrap" class="p1ft06"><b>Number&#160;of&#160;duplicate&#160;cab&#160;cards&#160;for&#160;each&#160;vehicle&#160;in&#160;the&#160;fleet&#160;&#160;_______</b></p>
            <p style="position:absolute;top:398px;left:45px;white-space:nowrap" class="p1ft03"><b>C&#160;&#160;VEHICLE&#160;ADDITIONS</b></p>
            <p style="position:absolute;top:37px;left:229px;white-space:nowrap" class="p1ft07">Commercial&#160;Registration&#160;Section</p>
            <p style="position:absolute;top:51px;left:229px;white-space:nowrap" class="p1ft07">P.&#160;O.&#160;Box&#160;68286</p>
            <p style="position:absolute;top:66px;left:229px;white-space:nowrap" class="p1ft07">Harrisburg,&#160;PA&#160;17106-8286</p>
            <p style="position:absolute;top:30px;left:35px;white-space:nowrap" class="p1ft08">MV-552A&#160;(4-15)</p>
            <p style="position:absolute;top:73px;left:953px;white-space:nowrap" class="p1ft05">For&#160;Department&#160;Use&#160;Only</p>
            <p style="position:absolute;top:110px;left:867px;white-space:nowrap" class="p1ft00">State</p>
            <p style="position:absolute;top:149px;left:589px;white-space:nowrap" class="p1ft00">City</p>
            <p style="position:absolute;top:149px;left:723px;white-space:nowrap" class="p1ft00">County</p>
            <p style="position:absolute;top:149px;left:917px;white-space:nowrap" class="p1ft00">Zip</p>
            <p style="position:absolute;top:149px;left:867px;white-space:nowrap" class="p1ft00">State</p>
            <p style="position:absolute;top:211px;left:544px;white-space:nowrap" class="p1ft00">Registration&#160;Transfer</p>
            <p style="position:absolute;top:208px;left:641px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="correct-information" value=""></p>
            <p style="position:absolute;top:211px;left:661px;white-space:nowrap" class="p1ft00">Correct&#160;Information</p>
            <p style="position:absolute;top:208px;left:747px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="registration-plate-replacement" value=""></p>
            <p style="position:absolute;top:211px;left:768px;white-space:nowrap" class="p1ft00">Registration&#160;Plate&#160;Replacement</p>
            <p style="position:absolute;top:799px;left:897px;white-space:nowrap" class="p1ft00">Insurance&#160;Company Name</p>
            <p style="position:absolute;top:835px;left:722px;white-space:nowrap" class="p1ft00">Policy&#160;Number</p>
            <p style="position:absolute;top:835px;left:898px;white-space:nowrap" class="p1ft00">Effective&#160;Date</p>
            <p style="position:absolute;top:835px;left:1031px;white-space:nowrap" class="p1ft00">Expiration&#160;Date</p>
            <p style="position:absolute;top:857px;left:68px;white-space:nowrap" class="p1ft07">By&#160;____________________________________&#160;&#160;&#160;Title&#160;____________________________________&#160;&#160;&#160;Date&#160;__________</p>
            <p style="position:absolute;top:871px;left:130px;white-space:nowrap" class="p1ft09">Owner&#160;or&#160;Authorized&#160;Representative</p>
            <p style="position:absolute;top:778px;left:43px;white-space:nowrap" class="p1ft03"></p>
            <p style="position:absolute;top:747px;left:807px;white-space:nowrap" class="p1ft04"><b>D&#160;</b>–&#160;Diesel&#160;&#160;</p>
            <p style="position:absolute;top:747px;left:900px;white-space:nowrap" class="p1ft04"><b>G&#160;</b>–&#160;Gas&#160;&#160;</p>
            <p style="position:absolute;top:747px;left:1013px;white-space:nowrap" class="p1ft04"><b>P&#160;</b>-&#160;Propane&#160;</p>
            <p style="position:absolute;top:759px;left:807px;white-space:nowrap" class="p1ft04"><b>H&#160;</b>-&#160;Hybrid&#160;</p>
            <p style="position:absolute;top:759px;left:900px;white-space:nowrap" class="p1ft04"><b>N&#160;</b>-&#160;Natural&#160;Gas&#160;</p>
            <p style="position:absolute;top:759px;left:1013px;white-space:nowrap" class="p1ft04"><b>O&#160;</b>-&#160;Other</p>
            <p style="position:absolute;top:800px;left:67px;white-space:nowrap" class="p1ft00">I&#160;acknowledge&#160;that&#160;I&#160;may&#160;lose&#160;my&#160;operating&#160;privilege&#160;or&#160;vehicle&#160;registration&#160;for&#160;failure&#160;to&#160;maintain&#160;financial&#160;responsibility&#160;on&#160;the&#160;currently&#160;registered</p>
            <p style="position:absolute;top:811px;left:67px;white-space:nowrap" class="p1ft00">vehicle&#160;for&#160;the&#160;period&#160;of&#160;registration.&#160;My&#160;signature&#160;attests&#160;to&#160;knowledge&#160;of&#160;all&#160;applicable&#160;State&#160;and&#160;Federal&#160;Motor&#160;Carrier&#160;safety&#160;laws&#160;and&#160;regulations.</p>
            <p style="position:absolute;top:823px;left:67px;white-space:nowrap" class="p1ft00">My&#160;signature&#160;attests&#160;to&#160;the&#160;fact&#160;that&#160;this&#160;vehicle&#160;is&#160;a&#160;motor&#160;carrier&#160;vehicle&#160;and&#160;it&#160;has&#160;a&#160;current&#160;valid&#160;safety&#160;inspection.&#160;It&#160;also&#160;attests&#160;to&#160;my&#160;knowledge</p>
            <p style="position:absolute;top:835px;left:67px;white-space:nowrap" class="p1ft00">of&#160;all&#160;applicable&#160;State&#160;and&#160;Federal&#160;Motor&#160;Carrier&#160;safety&#160;laws&#160;and&#160;regulations.</p>

            <div id="weights">
                <p style="position:absolute;top:256px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-pa" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:287px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-il" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:317px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nc" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:348px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-sd" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:378px;left:61px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nb" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:256px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-al" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:287px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-in" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:317px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nd" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:348px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-tn" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:378px;left:146px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nf" style="text-align:center;width:79px"></p>
                <p style="position:absolute;top:256px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ar" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:287px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ks" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:317px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ne" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:348px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-tx" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:378px;left:233px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ns" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:256px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-az" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:317px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nh" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:378px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-on" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:348px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ut" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:287px;left:319px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ky" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:256px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ca" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:287px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-la" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:317px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nj" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:348px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-va" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:378px;left:404px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-pe" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:256px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-co" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:287px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ma" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:317px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nm" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:348px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-vt" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:378px;left:489px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-qc" style="text-align:center;width:82px"></p>
                <p style="position:absolute;top:256px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ct" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:287px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-md" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:317px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-nv" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:348px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wa" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:378px;left:578px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ne" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:256px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-dc" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:287px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-me" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:317px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ny" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:348px;left:664px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wi" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:256px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-de" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:287px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mi" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:317px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-oh" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:348px;left:748px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wv" style="text-align:center;width:80px"></p>
                <p style="position:absolute;top:256px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-fl" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:287px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mn" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:317px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ok" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:348px;left:836px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-wy" style="text-align:center;width:78px"></p>
                <p style="position:absolute;top:256px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ga" style="text-align:center;width:77px;text-align:center;"></p>
                <p style="position:absolute;top:287px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mo" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:317px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-or" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:348px;left:922px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ab" style="text-align:center;width:77px"></p>
                <p style="position:absolute;top:256px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ia" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:287px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ms" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:317px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-ri" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:348px;left:1007px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-bc" style="text-align:center;width:72px"></p>
                <p style="position:absolute;top:256px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-id" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:287px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mt" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:317px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-sc" style="text-align:center;width:62px"></p>
                <p style="position:absolute;top:348px;left:1086px;white-space:nowrap" class="p1ft010"><input type="text" name="weight-mb" style="text-align:center;width:62px"></p>
            </div>

            <p style="position:absolute;top:245px;left:65px;white-space:nowrap" class="p1ft010">PA&#160;</p>
            <p style="position:absolute;top:245px;left:150px;white-space:nowrap" class="p1ft010">AL</p>
            <p style="position:absolute;top:245px;left:239px;white-space:nowrap" class="p1ft010">AR</p>
            <p style="position:absolute;top:245px;left:324px;white-space:nowrap" class="p1ft010">AZ</p>
            <p style="position:absolute;top:245px;left:410px;white-space:nowrap" class="p1ft010">CA</p>
            <p style="position:absolute;top:245px;left:495px;white-space:nowrap" class="p1ft010">CO</p>
            <p style="position:absolute;top:245px;left:584px;white-space:nowrap" class="p1ft010">CT</p>
            <p style="position:absolute;top:245px;left:669px;white-space:nowrap" class="p1ft010">DC</p>
            <p style="position:absolute;top:245px;left:756px;white-space:nowrap" class="p1ft010">DE</p>
            <p style="position:absolute;top:245px;left:842px;white-space:nowrap" class="p1ft010">FL</p>
            <p style="position:absolute;top:245px;left:926px;white-space:nowrap" class="p1ft010">GA</p>
            <p style="position:absolute;top:245px;left:1011px;white-space:nowrap" class="p1ft010">IA</p>
            <p style="position:absolute;top:245px;left:1092px;white-space:nowrap" class="p1ft010">ID</p>
            <p style="position:absolute;top:275px;left:65px;white-space:nowrap" class="p1ft010">IL</p>
            <p style="position:absolute;top:275px;left:150px;white-space:nowrap" class="p1ft010">IN</p>
            <p style="position:absolute;top:275px;left:239px;white-space:nowrap" class="p1ft010">kS</p>
            <p style="position:absolute;top:275px;left:324px;white-space:nowrap" class="p1ft010">kY</p>
            <p style="position:absolute;top:275px;left:410px;white-space:nowrap" class="p1ft010">LA</p>
            <p style="position:absolute;top:275px;left:495px;white-space:nowrap" class="p1ft010">MA</p>
            <p style="position:absolute;top:275px;left:584px;white-space:nowrap" class="p1ft010">MD</p>
            <p style="position:absolute;top:275px;left:669px;white-space:nowrap" class="p1ft010">ME</p>
            <p style="position:absolute;top:275px;left:756px;white-space:nowrap" class="p1ft010">MI</p>
            <p style="position:absolute;top:275px;left:842px;white-space:nowrap" class="p1ft010">MN</p>
            <p style="position:absolute;top:275px;left:926px;white-space:nowrap" class="p1ft010">MO</p>
            <p style="position:absolute;top:275px;left:1011px;white-space:nowrap" class="p1ft010">MS</p>
            <p style="position:absolute;top:275px;left:1092px;white-space:nowrap" class="p1ft010">MT</p>
            <p style="position:absolute;top:305px;left:65px;white-space:nowrap" class="p1ft010">NC</p>
            <p style="position:absolute;top:305px;left:150px;white-space:nowrap" class="p1ft010">ND</p>
            <p style="position:absolute;top:305px;left:239px;white-space:nowrap" class="p1ft010">NE</p>
            <p style="position:absolute;top:305px;left:324px;white-space:nowrap" class="p1ft010">NH</p>
            <p style="position:absolute;top:305px;left:410px;white-space:nowrap" class="p1ft010">NJ</p>
            <p style="position:absolute;top:305px;left:495px;white-space:nowrap" class="p1ft010">NM</p>
            <p style="position:absolute;top:305px;left:584px;white-space:nowrap" class="p1ft010">NV</p>
            <p style="position:absolute;top:305px;left:669px;white-space:nowrap" class="p1ft010">NY</p>
            <p style="position:absolute;top:305px;left:756px;white-space:nowrap" class="p1ft010">OH</p>
            <p style="position:absolute;top:305px;left:842px;white-space:nowrap" class="p1ft010">Ok</p>
            <p style="position:absolute;top:305px;left:926px;white-space:nowrap" class="p1ft010">OR</p>
            <p style="position:absolute;top:305px;left:1011px;white-space:nowrap" class="p1ft010">RI</p>
            <p style="position:absolute;top:305px;left:1092px;white-space:nowrap" class="p1ft010">SC</p>
            <p style="position:absolute;top:335px;left:65px;white-space:nowrap" class="p1ft010">SD</p>
            <p style="position:absolute;top:335px;left:150px;white-space:nowrap" class="p1ft010">TN</p>
            <p style="position:absolute;top:335px;left:239px;white-space:nowrap" class="p1ft010">Tx</p>
            <p style="position:absolute;top:335px;left:324px;white-space:nowrap" class="p1ft010">UT</p>
            <p style="position:absolute;top:335px;left:410px;white-space:nowrap" class="p1ft010">VA</p>
            <p style="position:absolute;top:335px;left:495px;white-space:nowrap" class="p1ft010">VT</p>
            <p style="position:absolute;top:335px;left:584px;white-space:nowrap" class="p1ft010">WA</p>
            <p style="position:absolute;top:335px;left:669px;white-space:nowrap" class="p1ft010">WI</p>
            <p style="position:absolute;top:335px;left:756px;white-space:nowrap" class="p1ft010">WV</p>
            <p style="position:absolute;top:335px;left:842px;white-space:nowrap" class="p1ft010">WY</p>
            <p style="position:absolute;top:335px;left:926px;white-space:nowrap" class="p1ft010">AB</p>
            <p style="position:absolute;top:335px;left:1011px;white-space:nowrap" class="p1ft010">BC</p>
            <p style="position:absolute;top:335px;left:1092px;white-space:nowrap" class="p1ft010">MB</p>
            <p style="position:absolute;top:365px;left:65px;white-space:nowrap" class="p1ft010">NB</p>
            <p style="position:absolute;top:365px;left:150px;white-space:nowrap" class="p1ft010">NF</p>
            <p style="position:absolute;top:365px;left:239px;white-space:nowrap" class="p1ft010">NS</p>
            <p style="position:absolute;top:365px;left:324px;white-space:nowrap" class="p1ft010">ON</p>
            <p style="position:absolute;top:365px;left:410px;white-space:nowrap" class="p1ft010">PE</p>
            <p style="position:absolute;top:365px;left:495px;white-space:nowrap" class="p1ft010">QC</p>
            <p style="position:absolute;top:365px;left:584px;white-space:nowrap" class="p1ft010">Sk</p>
            <p style="position:absolute;top:110px;left:64px;white-space:nowrap" class="p1ft00">Acct&#160;#</p>
            <p style="position:absolute;top:477px;left:171px;white-space:nowrap" class="p1ft00">Gross&#160;Vehicle&#160;Weight</p>
            <p style="position:absolute;top:477px;left:731px;white-space:nowrap" class="p1ft00">USDOT&#160;#</p>
            <p style="position:absolute;top:477px;left:842px;white-space:nowrap" class="p1ft00">TIN/EIN&#160;for&#160;USDOT</p>
            <p style="position:absolute;top:800px;left:722px;white-space:nowrap" class="p1ft00">NAIC&#160;#</p>
            <p style="position:absolute;top:421px;left:740px;white-space:nowrap" class="p1ft00">CO&#160;Miles</p>
            <p style="position:absolute;top:453px;left:832px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:416px;left:789px;white-space:nowrap" class="p1ft00">Will&#160;the&#160;designated&#160;carrier&#160;responsible</p>
            <p style="position:absolute;top:426px;left:796px;white-space:nowrap" class="p1ft00">for&#160;safety&#160;change&#160;during&#160;the&#160;year?</p>






            <p style="position:absolute;top:453px;left:903px;white-space:nowrap" class="p1ft00">NO</p>






            <p style="position:absolute;top:453px;left:761px;white-space:nowrap" class="p1ft00">YES</p>



            <p style="position:absolute;top:530px;left:682px;white-space:nowrap" class="p1ft00">UT&#160;Spec</p>
            <p style="position:absolute;top:563px;left:681px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:563px;left:719px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:531px;left:96px;white-space:nowrap" class="p1ft00">Title&#160;#</p>
            <p style="position:absolute;top:530px;left:178px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:532px;left:384px;white-space:nowrap" class="p1ft00">Year</p>
            <p style="position:absolute;top:531px;left:426px;white-space:nowrap" class="p1ft00">Make</p>
            <p style="position:absolute;top:531px;left:470px;white-space:nowrap" class="p1ft00">Body&#160;Type*</p>
            <p style="position:absolute;top:531px;left:530px;white-space:nowrap" class="p1ft00">Axles</p>
            <p style="position:absolute;top:531px;left:577px;white-space:nowrap" class="p1ft00">Seats</p>
            <p style="position:absolute;top:531px;left:623px;white-space:nowrap" class="p1ft00">Fuel**</p>
            <p style="position:absolute;top:526px;left:981px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:537px;left:986px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:526px;left:1065px;white-space:nowrap" class="p1ft00">Current&#160;Registration</p>
            <p style="position:absolute;top:537px;left:1077px;white-space:nowrap" class="p1ft00">Plate&#160;Number</p>
            <p style="position:absolute;top:586px;left:65px;white-space:nowrap" class="p1ft00">Unladen&#160;or&#160;Chassis&#160;Wt.</p>
            <p style="position:absolute;top:526px;left:326px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:536px;left:332px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:587px;left:275px;white-space:nowrap" class="p1ft00">Gross&#160;Combination&#160;Weight</p>
            <p style="position:absolute;top:587px;left:411px;white-space:nowrap" class="p1ft00">Purchase&#160;Price</p>
            <p style="position:absolute;top:587px;left:506px;white-space:nowrap" class="p1ft00">Purchase&#160;Date</p>
            <p style="position:absolute;top:586px;left:603px;white-space:nowrap" class="p1ft00">Factory&#160;Price</p>
            <p style="position:absolute;top:587px;left:994px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:587px;left:172px;white-space:nowrap" class="p1ft00">Gross&#160;Vehicle&#160;Weight</p>
            <p style="position:absolute;top:586px;left:731px;white-space:nowrap" class="p1ft00">USDOT&#160;#</p>
            <p style="position:absolute;top:586px;left:842px;white-space:nowrap" class="p1ft00">TIN/EIN&#160;for&#160;USDOT</p>
            <p style="position:absolute;top:530px;left:741px;white-space:nowrap" class="p1ft00">CO&#160;Miles</p>
            <p style="position:absolute;top:563px;left:832px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:526px;left:789px;white-space:nowrap" class="p1ft00">Will&#160;the&#160;designated&#160;carrier&#160;responsible</p>
            <p style="position:absolute;top:537px;left:797px;white-space:nowrap" class="p1ft00">for&#160;safety&#160;change&#160;during&#160;the&#160;year?</p>
            <p style="position:absolute;top:563px;left:902px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:563px;left:762px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:640px;left:682px;white-space:nowrap" class="p1ft00">UT&#160;Spec</p>
            <p style="position:absolute;top:673px;left:681px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:673px;left:719px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:640px;left:96px;white-space:nowrap" class="p1ft00">Title&#160;#</p>
            <p style="position:absolute;top:640px;left:178px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:641px;left:384px;white-space:nowrap" class="p1ft00">Year</p>
            <p style="position:absolute;top:640px;left:426px;white-space:nowrap" class="p1ft00">Make</p>
            <p style="position:absolute;top:640px;left:470px;white-space:nowrap" class="p1ft00">Body&#160;Type*</p>
            <p style="position:absolute;top:640px;left:530px;white-space:nowrap" class="p1ft00">Axles</p>
            <p style="position:absolute;top:640px;left:577px;white-space:nowrap" class="p1ft00">Seats</p>
            <p style="position:absolute;top:640px;left:623px;white-space:nowrap" class="p1ft00">Fuel**</p>
            <p style="position:absolute;top:636px;left:981px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:647px;left:987px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:636px;left:1065px;white-space:nowrap" class="p1ft00">Current&#160;Registration</p>
            <p style="position:absolute;top:647px;left:1077px;white-space:nowrap" class="p1ft00">Plate&#160;Number</p>
            <p style="position:absolute;top:696px;left:65px;white-space:nowrap" class="p1ft00">Unladen&#160;or&#160;Chassis&#160;Wt.</p>
            <p style="position:absolute;top:635px;left:326px;white-space:nowrap" class="p1ft00">Equipment</p>
            <p style="position:absolute;top:646px;left:332px;white-space:nowrap" class="p1ft00">Number</p>
            <p style="position:absolute;top:696px;left:275px;white-space:nowrap" class="p1ft00">Gross&#160;Combination&#160;Weight</p>
            <p style="position:absolute;top:697px;left:411px;white-space:nowrap" class="p1ft00">Purchase&#160;Price</p>
            <p style="position:absolute;top:697px;left:506px;white-space:nowrap" class="p1ft00">Purchase&#160;Date</p>
            <p style="position:absolute;top:696px;left:603px;white-space:nowrap" class="p1ft00">Factory&#160;Price</p>
            <p style="position:absolute;top:697px;left:994px;white-space:nowrap" class="p1ft00">Vehicle&#160;Identification&#160;Number</p>
            <p style="position:absolute;top:696px;left:172px;white-space:nowrap" class="p1ft00">Gross&#160;Vehicle&#160;Weight</p>
            <p style="position:absolute;top:696px;left:731px;white-space:nowrap" class="p1ft00">USDOT&#160;#</p>
            <p style="position:absolute;top:695px;left:842px;white-space:nowrap" class="p1ft00">TIN/EIN&#160;for&#160;USDOT</p>
            <p style="position:absolute;top:640px;left:741px;white-space:nowrap" class="p1ft00">CO&#160;Miles</p>
            <p style="position:absolute;top:673px;left:832px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:636px;left:789px;white-space:nowrap" class="p1ft00">Will&#160;the&#160;designated&#160;carrier&#160;responsible</p>
            <p style="position:absolute;top:647px;left:797px;white-space:nowrap" class="p1ft00">for&#160;safety&#160;change&#160;during&#160;the&#160;year?</p>
            <p style="position:absolute;top:673px;left:902px;white-space:nowrap" class="p1ft00">NO</p>
            <p style="position:absolute;top:673px;left:762px;white-space:nowrap" class="p1ft00">YES</p>
            <p style="position:absolute;top:120px;left:64px;white-space:nowrap" class="p1ft012"><input type="text" name="applicant-account-number" value="{{ .company.IRPNum }}" style="width:100px;"></p>
            <p style="position:absolute;top:120px;left:176px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-name" value="{{ .company.Name }}" style="width:205px;"></p>
            <p style="position:absolute;top:120px;left:393px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-street" value="{{ .company.PhysicalAddress.Street }}" style="width:183px;"></p>
            <p style="position:absolute;top:120px;left:590px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-city" style="width:122px;" value="{{ .company.PhysicalAddress.City }}"></p>
            <p style="position:absolute;top:160px;left:590px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-city" style="width:122px;" value="{{ .company.MailingAddress.City }}"></p>
            <p style="position:absolute;top:120px;left:725px;white-space:nowrap" class="p1ft013"><input type="text" name="name" style="width:130px;"></p>
            <p style="position:absolute;top:120px;left:725px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-business-address-county" value="{{ .company.PhysicalAddress.County }}" style="width:130px;" value="{{ .company.PhysicalAddress.County }}"></p>
            <p style="position:absolute;top:160px;left:725px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-county" value="{{ .company.MailingAddress.County }}" style="width:130px;" value="{{ .company.MailingAddress.County }}"></p>
            <p style="position:absolute;top:120px;left:865px;white-space:nowrap" class="p1ft013"><input type="text" style="width:40px;" name="applicant-business-address-state" value="{{ .company.PhysicalAddress.State }}"></p>
            <p style="position:absolute;top:160px;left:865px;white-space:nowrap" class="p1ft013"><input type="text" name="applicant-mailing-address-state" style="width:40px;" value="{{ .company.MailingAddress.State }}"></p>
            <p style="position:absolute;top:120px;left:915px;white-space:nowrap" class="p1ft013"><input type="text" style="width:85px;" name="applicant-business-address-zip" value="{{ .company.PhysicalAddress.Zip }}"></p>
            <p style="position:absolute;top:160px;left:915px;white-space:nowrap" class="p1ft013"><input type="text" style="width:85px;" name="applicant-mailing-address-zip" value="{{ .company.MailingAddress.Zip }}"></p>
            <p style="position:absolute;top:160px;left:64px;white-space:nowrap" class="p1ft014"><input type="text" name="applicant-us-dot-number" style="width:100px;" value="{{ .company.DOTNum }}"></p>
            <p style="position:absolute;top:164px;left:175px;white-space:nowrap" class="p1ft014">CNS</p>
            <p style="position:absolute;top:160px;left:393px;white-space:nowrap" class="p1ft015"><input type="text" name="applicant-mailing-address-street" style="width:183px;" value="{{ .company.MailingAddress.Street }}"></p>
            <p style="position:absolute;top:203px;left:393px;white-space:nowrap" class="p1ft015"><input type="text" style="width:113px;" name="applicant-registration-year"></p>
            <p style="position:absolute;top:198px;left:64px;white-space:nowrap" class="p1ft016"><input type="text" name="applicant-ein" value="{{ .company.EINNum }}" style="width:100px;"></p>
            <p style="position:absolute;top:205px;left:176px;white-space:nowrap" class="p1ft015">adam@cnsprotects.com</p>

            <div id="addition-1">
                <p style="position:absolute;top:450px;left:63px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-title-1"  style="width:85px;"></p>
                <p style="position:absolute;top:450px;left:160px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-vin-1"  style="width:150px;"></p>
                <p style="position:absolute;top:450px;left:320px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-equipment-number-1"  style="width:50px;"></p>
                <p style="position:absolute;top:450px;left:378px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-year-1"  style="width:26px;"></p>
                <p style="position:absolute;top:450px;left:413px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-make-1"  style="width:45px;"></p>
                <p style="position:absolute;top:450px;left:522px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-axles-1"  style="width:36px;"></p>
                <p style="position:absolute;top:450px;left:568px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-seats-1" style="width:36px;"></p>
                <p style="position:absolute;top:450px;left:615px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-fuel-1"  style="width:38px;"></p>
                <p style="position:absolute;top:450px;left:468px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-body-type-1" style="width:45px;"></p>
                <p style="position:absolute;top:505px;left:63px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-unladen-weight-1"  style="width:93px;"></p>
                <p style="position:absolute;top:505px;left:168px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gvw-1"  style="width:93px;"></p>
                <p style="position:absolute;top:505px;left:270px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gcw-1"  style="width:113px;"></p>
                <p style="position:absolute;top:505px;left:395px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-price-1"  style="width:93px;"></p>
                <p style="position:absolute;top:505px;left:498px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-date-1"  style="width:72px;"></p>
                <p style="position:absolute;top:505px;left:583px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-factory-price-1"  style="width:92px;"></p>
                <p style="position:absolute;top:505px;left:686px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-us-dot-number-1"  style="width:123px;"></p>
                <p style="position:absolute;top:505px;left:820px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-ein-1"  style="width:122px;"></p>
                <p style="position:absolute;top:449px;left:660px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-1" value="true"></p>
                <p style="position:absolute;top:449px;left:700px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-1" value="false"></p>
                <p style="position:absolute;top:449px;left:740px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="vehicle-additions-co-miles-1" value=""></p>
                <p style="position:absolute;top:449px;left:810px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-1" value="true"></p>
                <p style="position:absolute;top:449px;left:880px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-1" value="false"></p>
            </div>

            <div id="deletion-1">
                <p style="position:absolute;top:450px;left:950px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-equipment-number-1" style="width:100px;" ></p>
                <p style="position:absolute;top:450px;left:1060px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-plate-number-1" style="width:88px;"></p>
                <p style="position:absolute;top:505px;left:953px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-vin-1"  style="width:195px;"></p>
            </div>

            <div id="addition-2">
                <p style="position:absolute;top:560px;left:63px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-title-2"  style="width:85px;"></p>
                <p style="position:absolute;top:560px;left:160px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-vin-2"  style="width:150px;"></p>
                <p style="position:absolute;top:560px;left:320px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-equipment-number-2"  style="width:50px;"></p>
                <p style="position:absolute;top:560px;left:378px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-year-2"  style="width:26px;"></p>
                <p style="position:absolute;top:560px;left:413px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-make-2"  style="width:45px;"></p>
                <p style="position:absolute;top:560px;left:468px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-body-type-2" style="width:45px;"></p>
                <p style="position:absolute;top:560px;left:522px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-axles-2"  style="width:36px;"></p>
                <p style="position:absolute;top:560px;left:568px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-seats-2" style="width:36px;"></p>
                <p style="position:absolute;top:615px;left:63px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-unladen-weight-2"  style="width:93px;"></p>
                <p style="position:absolute;top:615px;left:168px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gvw-2"  style="width:93px;"></p>
                <p style="position:absolute;top:615px;left:270px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gcw-2"  style="width:113px;"></p>
                <p style="position:absolute;top:560px;left:615px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-fuel-2"  style="width:38px;"></p>
                <p style="position:absolute;top:615px;left:395px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-price-2"  style="width:93px;"></p>
                <p style="position:absolute;top:615px;left:498px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-date-2"  style="width:72px;"></p>
                <p style="position:absolute;top:615px;left:583px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-factory-price-2"  style="width:92px;"></p>
                <p style="position:absolute;top:615px;left:686px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-us-dot-number-2"  style="width:123px;"></p>
                <p style="position:absolute;top:615px;left:820px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-ein-2"  style="width:122px;"></p>
                <p style="position:absolute;top:560px;left:660px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-2" value="true"></p>
                <p style="position:absolute;top:560px;left:700px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-2" value="false"></p>
                <p style="position:absolute;top:560px;left:740px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="vehicle-additions-co-miles-2" value=""></p>
                <p style="position:absolute;top:560px;left:810px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-2" value="true"></p>
                <p style="position:absolute;top:560px;left:880px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-2" value="false"></p>
            </div>

            <div id="deletion-2">
                <p style="position:absolute;top:615px;left:953px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-vin-2"  style="width:195px;"></p>
                <p style="position:absolute;top:560px;left:950px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-equipment-number-2" style="width:100px;" ></p>
                <p style="position:absolute;top:560px;left:1060px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-plate-number-2" style="width:88px;"></p>
            </div>

            <div id="addition-3">
                <p style="position:absolute;top:670px;left:63px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-title-3"  style="width:85px;"></p>
                <p style="position:absolute;top:670px;left:160px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-vin-3"  style="width:150px;"></p>
                <p style="position:absolute;top:670px;left:320px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-equipment-number-3"  style="width:50px;"></p>
                <p style="position:absolute;top:670px;left:378px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-year-3"  style="width:26px;"></p>
                <p style="position:absolute;top:670px;left:413px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-make-3"  style="width:45px;"></p>
                <p style="position:absolute;top:670px;left:468px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-body-type-3" style="width:45px;"></p>
                <p style="position:absolute;top:670px;left:522px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-axles-3"  style="width:36px;"></p>
                <p style="position:absolute;top:670px;left:568px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-seats-3" style="width:36px;"></p>
                <p style="position:absolute;top:670px;left:615px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-fuel-3"  style="width:38px;"></p>
                <p style="position:absolute;top:724px;left:63px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-unladen-weight-3"  style="width:93px;"></p>
                <p style="position:absolute;top:724px;left:168px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gvw-3"  style="width:93px;"></p>
                <p style="position:absolute;top:724px;left:270px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-gcw-3"  style="width:113px;"></p>
                <p style="position:absolute;top:724px;left:395px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-price-3"  style="width:93px;"></p>
                <p style="position:absolute;top:724px;left:498px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-purchase-date-3"  style="width:72px;"></p>
                <p style="position:absolute;top:724px;left:583px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-additions-factory-price-3"  style="width:92px;"></p>
                <p style="position:absolute;top:724px;left:686px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-us-dot-number-3"  style="width:123px;"></p>
                <p style="position:absolute;top:724px;left:820px;white-space:nowrap" class="p1ft017"><input type="text" name="vehicle-additions-ein-3"  style="width:122px;"></p>
                <p style="position:absolute;top:670px;left:660px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-3" value="true"></p>
                <p style="position:absolute;top:670px;left:700px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-ut-spec-3" value="false"></p>
                <p style="position:absolute;top:670px;left:740px;white-space:nowrap" class="p1ft01"><input type="checkbox" name="vehicle-additions-co-miles-3" value=""></p>
                <p style="position:absolute;top:670px;left:810px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-3" value="true"></p>
                <p style="position:absolute;top:670px;left:880px;white-space:nowrap" class="p1ft01"><input type="radio" name="vehicle-additions-safety-change-3" value="false"></p>
            </div>

            <div id="deletion-3">
                <p style="position:absolute;top:670px;left:1060px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-plate-number-3" style="width:88px;"></p>
                <p style="position:absolute;top:724px;left:953px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-vin-3" style="width:195px;"></p>
                <p style="position:absolute;top:670px;left:950px;white-space:nowrap" class="p1ft019"><input type="text" name="vehicle-deletions-equipment-number-3" style="width:100px;"></p>
            </div>

            <p style="position:absolute;top:853px;left:356px;white-space:nowrap" class="p1ft019"><input type="text" name="signature-title" style="width:230px;"></p>
            <p style="position:absolute;top:853px;left:628px;white-space:nowrap" class="p1ft019"><input type="text" name="signature-date" style="width:62px;"></p>

            <p style="position:absolute;top:810px;left:898px;white-space:nowrap" class="p1ft011"><input type="text" name="insurance-company" value="{{ .company.InsuranceCompany }}" style="width:250px;"></p>
            <p style="position:absolute;top:845px;left:720px;white-space:nowrap" class="p1ft015"><input type="text" name="insurance-policy-number" value="{{ .company.InsurancePolicyNum }}" style="width:168px;"></p>
            <p style="position:absolute;top:810px;left:720px;white-space:nowrap" class="p1ft015"><input type="text" name="insurance-naic" value="{{ .company.InsuranceNaic }}" style="width:168px;"></p>
            <p style="position:absolute;top:845px;left:898px;white-space:nowrap" class="p1ft015"><input type="text" name="insurance-effective-date" value="{{ .company.InsuranceEffectiveDate }}" style="width:123px;"></p>
            <p style="position:absolute;top:845px;left:1028px;white-space:nowrap" class="p1ft011"><input type="text" name="insurance-expiration-date" value="{{ .company.InsuranceExpirationDate }}" style="width:120px;"></p>
            <p style="position:absolute;top:866px;left:1016px;white-space:nowrap" class="p1ft011"><input type="text" name="duplicate-cards" style="width:32px;"></p>
            <p style="position:absolute;top:126px;left:1012px;white-space:nowrap" class="p1ft011">7176250280</p>
            <p style="position:absolute;top:163px;left:1011px;white-space:nowrap" class="p1ft011">8883392490</p>
        </div>
        <br>
        <div id="page2-div" class="page" style="position:relative;width:1188px;height:918px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:53px;left:49px;white-space:nowrap" class="p2ft00"><b>Section&#160;A&#160;-&#160;Applicant&#160;Information</b></p>
            <p style="position:absolute;top:73px;left:49px;white-space:nowrap" class="p2ft01">Enter&#160;the&#160;apportioned&#160;account&#160;number,&#160;the&#160;applicant&#160;name&#160;that&#160;appears&#160;on&#160;the&#160;apportioned&#160;account,&#160;business&#160;address&#160;and&#160;mailing&#160;address&#160;(if&#160;the</p>
            <p style="position:absolute;top:93px;left:49px;white-space:nowrap" class="p2ft01">mailing&#160;address&#160;is&#160;different&#160;than&#160;the&#160;business&#160;address).&#160;Post&#160;Office&#160;Box&#160;addresses&#160;may&#160;only&#160;be&#160;used&#160;in&#160;conjunction&#160;with&#160;a&#160;bona&#160;fide&#160;numbered</p>
            <p style="position:absolute;top:113px;left:49px;white-space:nowrap" class="p2ft01">street&#160;address.&#160;Post&#160;Office&#160;Box&#160;addresses&#160;alone&#160;are&#160;not&#160;permitted.&#160;The&#160;Pennsylvania&#160;Vehicle&#160;Code&#160;requires&#160;actual&#160;or&#160;bona&#160;fide&#160;addresses&#160;on&#160;</p>
            <p style="position:absolute;top:133px;left:49px;white-space:nowrap" class="p2ft01">applications&#160;for&#160;title&#160;and&#160;registration.&#160;Also&#160;fill&#160;in&#160;the&#160;telephone&#160;number,&#160;US&#160;DOT&#160;number,&#160;contact&#160;person,&#160;fax&#160;number,&#160;TIN/EIN&#160;number&#160;of&#160;the&#160;</p>
            <p style="position:absolute;top:152px;left:49px;white-space:nowrap" class="p2ft01">applicant,&#160;e-mail&#160;address,&#160;and&#160;registration&#160;year.&#160;Check&#160;the&#160;appropriate&#160;box&#160;that&#160;best&#160;describes&#160;the&#160;transaction&#160;you&#160;are&#160;requesting.</p>
            <p style="position:absolute;top:192px;left:49px;white-space:nowrap" class="p2ft00"><b>Section&#160;B&#160;-&#160;Weights</b></p>
            <p style="position:absolute;top:212px;left:49px;white-space:nowrap" class="p2ft01">Enter&#160;the&#160;maximum&#160;weight&#160;of&#160;the&#160;vehicles&#160;you&#160;are&#160;adding&#160;in&#160;the&#160;boxes&#160;labeled&#160;for&#160;each&#160;jurisdiction.&#160;</p>
            <p style="position:absolute;top:251px;left:49px;white-space:nowrap" class="p2ft00"><b>Section&#160;C&#160;-&#160;Vehicle&#160;Additions</b></p>
            <p style="position:absolute;top:271px;left:49px;white-space:nowrap" class="p2ft01">List&#160;the&#160;vehicle&#160;information&#160;where&#160;appropriate.&#160;Up&#160;to&#160;three&#160;vehicles&#160;may&#160;be&#160;listed&#160;in&#160;this&#160;section.&#160;If&#160;the&#160;vehicle&#160;is&#160;leased,&#160;the&#160;lessee&#160;USDOT&#160;and</p>
            <p style="position:absolute;top:291px;left:49px;white-space:nowrap" class="p2ft01">TIN/EIN&#160;numbers&#160;are&#160;required&#160;along&#160;with&#160;a&#160;copy&#160;of&#160;the&#160;lease.&#160;<b>NOTE:&#160;</b>If&#160;the&#160;vehicle&#160;has&#160;a&#160;current&#160;Pennsylvania&#160;registration,&#160;enter&#160;the&#160;registration</p>
            <p style="position:absolute;top:311px;left:48px;white-space:nowrap" class="p2ft01">plate&#160;number.&#160;The&#160;registration&#160;plate&#160;must&#160;be&#160;submitted&#160;with&#160;the&#160;application&#160;to&#160;receive&#160;credit&#160;for&#160;the&#160;apportioned&#160;plate.</p>
            <p style="position:absolute;top:350px;left:48px;white-space:nowrap" class="p2ft00"><b>NOTE:&#160;</b>For&#160;body&#160;type&#160;use&#160;one&#160;of&#160;the&#160;following:&#160;tractor&#160;(TR),&#160;single&#160;truck&#160;(Tk)&#160;or&#160;bus&#160;(BS).&#160;If&#160;a&#160;truck,&#160;list&#160;total&#160;number&#160;of&#160;axles&#160;on&#160;the&#160;truck&#160;including</p>
            <p style="position:absolute;top:370px;left:48px;white-space:nowrap" class="p2ft01">trailer&#160;axles&#160;if&#160;requesting&#160;combination&#160;weight.&#160;For&#160;tractor,&#160;list&#160;the&#160;number&#160;of&#160;axles&#160;on&#160;the&#160;tractor&#160;and&#160;the&#160;total&#160;number&#160;of&#160;axles&#160;for&#160;the&#160;tractor&#160;and&#160;</p>
            <p style="position:absolute;top:390px;left:48px;white-space:nowrap" class="p2ft01">trailer.&#160;Example:&#160;3/5&#160;means&#160;3&#160;axles&#160;for&#160;the&#160;tractor&#160;and&#160;5&#160;combined&#160;including&#160;the&#160;trailer.&#160;If&#160;the&#160;vehicle&#160;is&#160;a&#160;bus,&#160;list&#160;seating&#160;capacity.&#160;Do&#160;not&#160;leave&#160;any</p>
            <p style="position:absolute;top:410px;left:48px;white-space:nowrap" class="p2ft01">information&#160;blank.</p>
            <p style="position:absolute;top:449px;left:79px;white-space:nowrap" class="p2ft00"><b>Utah&#160;Truck&#160;Indicator&#160;(UT&#160;Spec&#160;Truck):&#160;</b>If&#160;the&#160;truck&#160;type&#160;entering&#160;the&#160;state&#160;of&#160;Utah&#160;is&#160;a&#160;cement&#160;pump,&#160;well&#160;boring&#160;unit,&#160;or&#160;crane,&#160;the&#160;Utah&#160;</p>
            <p style="position:absolute;top:469px;left:79px;white-space:nowrap" class="p2ft01">Special&#160;Truck&#160;block&#160;should&#160;be&#160;checked&#160;as&#160;“Yes.”&#160;If&#160;this&#160;does&#160;not&#160;apply,&#160;check&#160;“No.”</p>
            <p style="position:absolute;top:509px;left:79px;white-space:nowrap" class="p2ft00"><b>Colorado&#160;Miles&#160;(CO&#160;Miles):&#160;</b>If&#160;the&#160;vehicle&#160;fleet&#160;operates&#160;more&#160;than&#160;10,000&#160;miles&#160;nationally&#160;per&#160;year,&#160;the&#160;box&#160;must&#160;be&#160;checked&#160;“Yes.”</p>
            <p style="position:absolute;top:548px;left:48px;white-space:nowrap" class="p2ft00"><b>NOTE:&#160;</b>If&#160;the&#160;vehicle&#160;is&#160;leased&#160;to&#160;the&#160;applicant,&#160;you&#160;must&#160;identify&#160;the&#160;USDOT&#160;number&#160;and&#160;TIN/EIN&#160;of&#160;the&#160;motor&#160;carrier&#160;responsible&#160;for&#160;safety.&#160;Also,</p>
            <p style="position:absolute;top:568px;left:49px;white-space:nowrap" class="p2ft01">indicate&#160;if&#160;the&#160;motor&#160;carrier&#160;responsible&#160;for&#160;safety&#160;will&#160;change&#160;during&#160;the&#160;registration&#160;year.</p>
            <p style="position:absolute;top:608px;left:49px;white-space:nowrap" class="p2ft00"><b>Section&#160;D&#160;-&#160;Vehicle&#160;Deletions</b></p>
            <p style="position:absolute;top:628px;left:49px;white-space:nowrap" class="p2ft01">Provide&#160;the&#160;equipment&#160;number,&#160;VIN&#160;and&#160;registration&#160;plate&#160;number&#160;of&#160;the&#160;vehicle&#160;being&#160;deleted.&#160;If&#160;the&#160;plate&#160;will&#160;be&#160;transferred&#160;to&#160;another&#160;vehicle,</p>
            <p style="position:absolute;top:647px;left:49px;white-space:nowrap" class="p2ft01">please&#160;complete&#160;Section&#160;C.</p>
            <p style="position:absolute;top:687px;left:49px;white-space:nowrap" class="p2ft00"><b>Section&#160;E&#160;-&#160;Insurance&#160;and&#160;Acknowledgement</b></p>
            <p style="position:absolute;top:707px;left:49px;white-space:nowrap" class="p2ft01">Fill&#160;in&#160;your&#160;insurance&#160;information&#160;in&#160;the&#160;spaces&#160;provided&#160;including&#160;the&#160;NAIC&#160;number,&#160;company&#160;name,&#160;policy&#160;number,&#160;and&#160;the&#160;effective&#160;and&#160;expiration</p>
            <p style="position:absolute;top:727px;left:49px;white-space:nowrap" class="p2ft01">dates.&#160;<b>NOTE:&#160;</b>The&#160;insurance&#160;information&#160;listed&#160;can&#160;only&#160;be&#160;for&#160;full&#160;liability&#160;coverage.&#160;&#160;</p>
            <p style="position:absolute;top:766px;left:49px;white-space:nowrap" class="p2ft01">If&#160;you&#160;are&#160;requesting&#160;any&#160;duplicate&#160;cab&#160;cards,&#160;enter&#160;the&#160;total&#160;number&#160;of&#160;duplicates&#160;being&#160;requested&#160;for&#160;each&#160;vehicle.&#160;Signature&#160;of&#160;the&#160;owner&#160;or</p>
            <p style="position:absolute;top:786px;left:49px;white-space:nowrap" class="p2ft01">authorized&#160;representative&#160;of&#160;the&#160;apportioned&#160;account,&#160;title&#160;and&#160;date&#160;must&#160;be&#160;included&#160;on&#160;the&#160;form.</p>
            <p style="position:absolute;top:826px;left:434px;white-space:nowrap" class="p2ft00"><b>Visit&#160;us&#160;at&#160;www.dmv.pa.gov&#160;or&#160;call&#160;us&#160;at:</b></p>
            <p style="position:absolute;top:846px;left:127px;white-space:nowrap" class="p2ft01">In&#160;state:&#160;&#160;1-800-932-4600&#160;&#160;u&#160;TDD:&#160;&#160;1-800-228-0676&#160;&#160;u&#160;Out-of-State:&#160;&#160;1-717-412-5300&#160;&#160;u&#160;TDD&#160;Out-of-State:&#160;&#160;1-717-412-5380</p>
        </div>

        <div style="position:relative;width:1188px;margin:0 auto;">
            {{ template "st-scripts.tmpl" . }}
        </div>
        <script type="text/javascript">

            var vehicles = {{ if .vehicles }}{{ toJson .vehicles }}{{ else }}[]{{ end }};
            var previous;

            $(document).ready(function() {

                $('select.addSelect').change(function() {
                    var num = $(this).attr('data-vehicle');
                    clearInputs('addition-' + num);
                    if (this.value === '') {
                        return
                    }
                    var vIdx =+ this.value;
                    var vehicle = vehicles[vIdx];
                    addVehicle(vehicle, num);
                });

                $('select.delSelect').change(function() {
                    var num = $(this).attr('data-vehicle');
                    clearInputs('deletion-' + num);
                    if (this.value === '') {
                        return
                    }
                    var vIdx =+ this.value;
                    var vehicle = vehicles[vIdx];
                    delVehicle(vehicle, num);
                });


                // $('select.vehicleSelect').on('focus', function() {
                //     previous = this.value;
                // }).change(function() {
                //     $('div#maxMsg').addClass('hide');
                //     var vIdx =+ $(this).attr('data-vehicle');
                //     var vehicle = vehicles[vIdx];
                //     var oldLocation = (vehicle.location === undefined) ? '' : vehicle.location;
                //     var success = false;
                //     switch ($(this).val()) {
                //         case 'add':
                //             success = addVehicle(vehicle);
                //             break;
                //         case 'del':
                //             success = delVehicle(vehicle);
                //             break;
                //         default:
                //             vehicle.location = '';
                //             success = true;
                //             break;
                //     }
                //     if (success && oldLocation !== '') {
                //         clearInputs(oldLocation);
                //         moveVehicle(oldLocation);
                //         return
                //     }
                //     if (!success) {
                //         if (oldLocation.indexOf('addition') !== -1) {
                //             this.value = 'add'
                //             return
                //         }
                //         if (oldLocation.indexOf('deletion') !== -1) {
                //             this.value = 'del'
                //             return
                //         }
                //         this.value = '';
                //     }
                // });
                //
                setSelects();
            });

            // function getPlacement(action) {
            //     var num = 1;
            //     var val = $('input[name="vehicle-' + action + '-equipment-number-1"]').val();
            //     while (val !== '' && val !== undefined) {
            //         num++;
            //         val = $('input[name="vehicle-' + action + '-equipment-number-' + num + '"]').val();
            //     }
            //     return num
            // }

            function addVehicle(vehicle, num) {
                // var num = getPlacement('additions');
                // if (num > 3) {
                //     setMaxMsg("Maximum number of additions reached.");
                //     return false;
                // }

                $('input[name="vehicle-additions-title-' + num + '"]').val(vehicle.title);
                $('input[name="vehicle-additions-vin-' + num + '"]').val(vehicle.vin);
                $('input[name="vehicle-additions-equipment-number-' + num + '"]').val(vehicle.unitNumber);
                $('input[name="vehicle-additions-year-' + num + '"]').val(vehicle.year);
                $('input[name="vehicle-additions-make-' + num + '"]').val(vehicle.make);
                $('input[name="vehicle-additions-body-type-' + num + '"]').val(vehicle.bodyType);
                $('input[name="vehicle-additions-axles-' + num + '"]').val(vehicle.axleAmount);
                $('input[name="vehicle-additions-seats-' + num + '"]').val(vehicle.seats);
                $('input[name="vehicle-additions-unladen-weight-' + num + '"]').val(vehicle.unladenWeight);
                $('input[name="vehicle-additions-gvw-' + num + '"]').val(vehicle.gvw);
                $('input[name="vehicle-additions-gcw-' + num + '"]').val(vehicle.gcr);
                $('input[name="vehicle-additions-fuel-' + num + '"]').val(vehicle.fuelType);
                $('input[name="vehicle-additions-purchase-price-' + num + '"]').val(vehicle.purchasePrice);
                $('input[name="vehicle-additions-purchase-date-' + num + '"]').val(vehicle.purchaseDate);

                $('input[name="vehicle-additions-us-dot-number-' + num + '"]').val('{{ .company.DOTNum }}');
                $('input[name="vehicle-additions-ein-' + num + '"]').val('{{ .company.EINNum }}');

                vehicle.location = 'addition-' + num;
                return true;
            }

            function delVehicle(vehicle, num) {
                //
                // var num = getPlacement('deletions');
                // if (num > 3) {
                //     setMaxMsg("Maximum number of deletions reached.");
                //     return false;
                // }
                // clearInputs('deletion-' + num);

                $('input[name="vehicle-deletions-plate-number-' + num + '"]').val(vehicle.plateNum);
                $('input[name="vehicle-deletions-vin-' + num + '"]').val(vehicle.vin);
                $('input[name="vehicle-deletions-equipment-number-' + num + '"]').val(vehicle.unitNumber);

                vehicle.location = 'deletion-' + num;
                return true;
            }

            function clearInputs(id) {
                var inputs = $('div#' + id + ' input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].value = '';
                }
                $('div#' + id + ' input[type="radio"], div#' + id + ' input[type="checkbox"]').prop('checked', false)
            }

            // function moveVehicle(loc) {
            //     var ll = loc.split('-');
            //     var num =+ ll[ll.length - 1];
            //     var type = ll[0];
            //     for (var i = num; i < 3; i++) {
            //         var id = type + '-' + i
            //         var inputs = $('div#' + id + ' input');
            //         for (var j = 0; j < inputs.length; j++) {
            //             var input = $(inputs[j])
            //             var name = input.attr('name').replace(i, i+1);
            //             input.val($('input[name="' + name + '"]').val());
            //         }
            //         for (var k = 0; k < vehicles.length; k++) {
            //             if (vehicles[k].location === id) {
            //                 vehicles[k].location = type + '-' + (i - 1);
            //             }
            //         }
            //     }
            //     var id = type + '-3'
            //     var inputs = $('div#' + id + ' input');
            //     for (var j = 0; j < inputs.length; j++) {
            //         var input = $(inputs[j])
            //         input.val('');
            //     }
            // }
            //
            // function setMaxMsg(msg) {
            //     $('span#maxMsg').text(msg);
            //     $('div#maxMsg').removeClass('hide');
            // }
            //
            function setSelects() {
                var additions = $('input[name="vehicle-additions-equipment-number-1"], input[name="vehicle-additions-equipment-number-2"], input[name="vehicle-additions-equipment-number-3"]');
                for (var i = 0; i < additions.length; i++) {
                    var val = additions[i].value;
                    if (val !== '' && val != undefined) {
                        for (var j = 0; j < vehicles.length; j++) {
                            if (val === vehicles[j].unitNumber) {
                                $('select#addition' + (i + 1)).val(j);
                            }
                        }
                    }
                }

                var deletions = $('input[name="vehicle-deletions-equipment-number-1"], input[name="vehicle-deletions-equipment-number-2"], input[name="vehicle-deletions-equipment-number-3"]');
                for (var i = 0; i < deletions.length; i++) {
                    var val = deletions[i].value;
                    if (val !== '' && val != undefined) {
                        for (var j = 0; j < vehicles.length; j++) {
                            if (val === vehicles[j].unitNumber) {
                                $('select#deletion' + (i + 1)).val(j);
                            }
                        }
                    }
                }
            }

        </script>

        {{ template "vehicle-weight.tmpl" . }}
    </body>
</html>
