<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
    <head>
        <title>MV-41</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {{ template "st-head.tmpl" . }}
        <style type="text/css">
            @media print {
            input,
            textarea {
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            }
            }
            input {
            font-size: 10px;
            }
            p {
            margin: 0;
            padding: 0;
            }
            .ft00 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .ft01 {
            font-size: 19px;
            font-family: Times;
            color: #231f20;
            }
            .ft02 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .ft03 {
            font-size: 7px;
            font-family: Times;
            color: #231f20;
            }
            .ft04 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .ft05 {
            font-size: 16px;
            font-family: Times;
            color: #231f20;
            }
            .ft06 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft07 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft08 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .ft09 {
            font-size: 9px;
            font-family: Times;
            color: #231f20;
            }
            .ft010 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .ft011 {
            font-size: 7px;
            font-family: Times;
            color: #231f20;
            }
            .ft012 {
            font-size: 5px;
            font-family: Times;
            color: #231f20;
            }
            .ft013 {
            font-size: 16px;
            font-family: Helvetica;
            color: #000000;
            }
            .ft014 {
            font-size: 10px;
            line-height: 20px;
            font-family: Times;
            color: #231f20;
            }
            .ft015 {
            font-size: 10px;
            line-height: 18px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft00 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft01 {
            font-size: 16px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft02 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft03 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft04 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .p2ft05 {
            font-size: 11px;
            line-height: 20px;
            font-family: Times;
            color: #231f20;
            }

</style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">
        {{ $vehicle := index .vehicles 0 }}
        <div id="page1-div" class="page" style="position:relative;width:918px;height:1300px; margin:0 auto; background-color:#ffffff">
            <img width="918" height="1188" src="/static/img/forms/mv-41.png" alt="background image" />
            <p style="position:absolute;top:260px;left:60px;white-space:nowrap" class="ft014">Correction&#160;or&#160;Verification&#160;of&#160;Vehicle&#160;Identification&#160;Number&#160;-&#160;Complete&#160;Sections&#160;A,&#160;B&#160;and&#160;F.<br />Application&#160;for&#160;State&#160;Replacement&#160;Vehicle&#160;Identification&#160;Number&#160;Plate/Decal&#160;-&#160;Complete&#160;Sections&#160;A,&#160;C&#160;(MUST&#160;be&#160;completed&#160;by&#160;a&#160;Police&#160;Officer)&#160;and&#160;F.<br />Correction&#160;of&#160;Body&#160;Type,&#160;Number&#160;of&#160;Axles,&#160;or&#160;Other&#160;Corrections&#160;to&#160;the&#160;Vehicle&#160;Title&#160;or&#160;Registeration&#160;Data&#160;-&#160;Complete&#160;Sections&#160;A,&#160;D&#160;and&#160;F.&#160;(If&#160;the&#160;vehicle&#160;has</p>
            <p style="position:absolute;top:316px;left:60px;white-space:nowrap" class="ft00">been&#160;modified,&#160;such&#160;as&#160;the&#160;addition&#160;or&#160;removal&#160;of&#160;axles,&#160;or&#160;you&#160;are&#160;requesting&#160;a&#160;change&#160;to&#160;the&#160;manufacturer&#160;weight&#160;specifications,&#160;Form&#160;MV-426B&#160;must&#160;be</p>
            <p style="position:absolute;top:331px;left:60px;white-space:nowrap" class="ft014">completed.)<br />Verification&#160;of&#160;Gross&#160;Vehicle&#160;Weight&#160;Rating&#160;(GVWR)&#160;or&#160;Gross&#160;Combination&#160;Weight&#160;Rating&#160;(GCWR)&#160;by&#160;inspection&#160;mechanic&#160;only&#160;-&#160;Complete&#160;Sections&#160;A,&#160;E</p>
            <p style="position:absolute;top:366px;left:60px;white-space:nowrap" class="ft00">and&#160;F.</p>
            <p style="position:absolute;top:273px;left:35px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="vin-replacement"></p>
            <p style="position:absolute;top:294px;left:34px;white-space:nowrap" class="ft01"><input type="checkbox" name="title-correction" value=""></p>
            <p style="position:absolute;top:388px;left:39px;white-space:nowrap" class="ft02"><b>&#160; &#160;&#160; &#160; VEHICLE&#160;OWNER&#160;INFORMATION</b></p>
            <p style="position:absolute;top:555px;left:64px;white-space:nowrap" class="ft02"><b>CORRECTION&#160;OR&#160;VERIFICATION&#160;OF&#160;VEHICLE</b></p>
            <p style="position:absolute;top:571px;left:64px;white-space:nowrap" class="ft02"><b>IDENTIFICATION&#160;NUMBER</b></p>
            <p style="position:absolute;top:408px;left:62px;white-space:nowrap" class="ft03">Last&#160;Name&#160;(or&#160;Full&#160;Business&#160;Name)</p>
            <p style="position:absolute;top:480px;left:62px;white-space:nowrap" class="ft03">Current&#160;Street&#160;Address</p>
            <p style="position:absolute;top:445px;left:335px;white-space:nowrap" class="ft03">First&#160;Name</p>
            <p style="position:absolute;top:408px;left:499px;white-space:nowrap" class="ft03">Middle&#160;Name</p>
            <p style="position:absolute;top:445px;left:499px;white-space:nowrap" class="ft03">Middle&#160;Name</p>
            <p style="position:absolute;top:407px;left:618px;white-space:nowrap" class="ft03">PA DL/Photo&#160;ID# or&#160;Bus.&#160;ID#</p>
            <p style="position:absolute;top:420px;left:575px;white-space:nowrap" class="ft013"><input type="text" style="width:155px" name="vehicle-owner-photo-id" value=""></p>
            <p style="position:absolute;top:455px;left:575px;white-space:nowrap" class="ft013"><input type="text" style="width:155px" name="vehicle-co-owner-photo-id" value=""></p>
            <p style="position:absolute;top:420px;left:745px;white-space:nowrap" class="ft013"><input type="text" style="width:135px" name="vehicle-owner-dob" value=""></p>
            <p style="position:absolute;top:455px;left:745px;white-space:nowrap" class="ft013"><input type="text" style="width:135px" name="vehicle-co-owner--dob" value=""></p>
            <p style="position:absolute;top:444px;left:810px;white-space:nowrap" class="ft03">Date&#160;of&#160;Birth</p>
            <p style="position:absolute;top:408px;left:336px;white-space:nowrap" class="ft03">First&#160;Name</p>
            <p style="position:absolute;top:408px;left:810px;white-space:nowrap" class="ft03">Date&#160;of&#160;Birth</p>
            <p style="position:absolute;top:751px;left:66px;white-space:nowrap" class="ft02"><b>VEHICLE&#160;DATA&#160;THAT&#160;REQUIRES&#160;CORRECTION&#160;-&#160;</b>Check&#160;only&#160;the&#160;block(s)&#160;and&#160;list&#160;the&#160;information&#160;that&#160;needs&#160;correcting&#160;due&#160;to&#160;an</p>
            <p style="position:absolute;top:764px;left:65px;white-space:nowrap" class="ft04">error&#160;in&#160;the&#160;title&#160;application&#160;or&#160;to&#160;a&#160;change&#160;in&#160;the&#160;use&#160;of&#160;the&#160;vehicle.</p>
            <p style="position:absolute;top:445px;left:618px;white-space:nowrap" class="ft03">PA DL/Photo&#160;ID#</p>
            <p style="position:absolute;top:554px;left:468px;white-space:nowrap" class="ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:554px;left:496px;white-space:nowrap" class="ft02"><b>APPLICATION&#160;FOR&#160;STATE&#160;REPLACEMENT&#160;VIN&#160;PLATE</b></p>
            <p style="position:absolute;top:344px;left:35px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="weight-verification"></p>
            <p style="position:absolute;top:388px;left:40px;white-space:nowrap" class="ft02"><b>A</b></p>
            <p style="position:absolute;top:555px;left:41px;white-space:nowrap" class="ft02"><b>B</b></p>
            <p style="position:absolute;top:554px;left:472px;white-space:nowrap" class="ft02"><b>C</b></p>
            <p style="position:absolute;top:757px;left:42px;white-space:nowrap" class="ft02"><b>D</b></p>
            <p style="position:absolute;top:23px;left:27px;white-space:nowrap" class="ft00">MV-41&#160;(6-16)</p>
            <p style="position:absolute;top:94px;left:29px;white-space:nowrap" class="ft05"><b>APPLICATION&#160;FOR&#160;CORRECTION&#160;OF&#160;VEHICLE</b></p>
            <p style="position:absolute;top:115px;left:29px;white-space:nowrap" class="ft05"><b>RECORD&#160;OR&#160;VERIFICATION&#160;OF&#160;VEHICLE</b></p>
            <p style="position:absolute;top:137px;left:29px;white-space:nowrap" class="ft05"><b>IDENTIFICATION&#160;NUMBER</b></p>
            <p style="position:absolute;top:129px;left:624px;white-space:nowrap" class="ft06"><b>For&#160;Department&#160;Use&#160;Only</b></p>
            <p style="position:absolute;top:142px;left:560px;white-space:nowrap" class="ft07">Bureau&#160;of&#160;Motor&#160;Vehicles&#160;&#160;&#160;•&#160;Harrisburg,&#160;PA&#160;17106-8283</p>
            <p style="position:absolute;top:169px;left:336px;white-space:nowrap" class="ft08"><b>SEE&#160;INFORMATION&#160;ON&#160;REVERSE</b></p>
            <p style="position:absolute;top:240px;left:32px;white-space:nowrap" class="ft09"><b>CHECK APPLICABLE&#160;BLOCK&#160;BELOW</b></p>
            <p style="position:absolute;top:253px;left:35px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="correction-of-vin"></p>
            <p style="position:absolute;top:192px;left:325px;white-space:nowrap" class="ft07">Registration&#160;Plate&#160;Number</p>
            <p style="position:absolute;top:193px;left:158px;white-space:nowrap" class="ft07">Title&#160;Number</p>
            <p style="position:absolute;top:193px;left:479px;white-space:nowrap" class="ft07">Is&#160;lienholder&#160;an&#160;ELT&#160;Participant?</p>
            <p style="position:absolute;top:193px;left:649px;white-space:nowrap" class="ft07">Financial&#160;Institution&#160;Number</p>
            <p style="position:absolute;top:206px;left:491px;white-space:nowrap" class="ft01"><input type="radio" name="elt-participant" value="yes"></p>
            <p style="position:absolute;top:205px;left:581px;white-space:nowrap" class="ft01"><input type="radio" name="elt-participant" value="no"></p>
            <p style="position:absolute;top:861px;left:37px;white-space:nowrap" class="ft02"><b>&#160; &#160;&#160; &#160; VERIFICATION&#160;OF&#160;WEIGHT&#160;RATING&#160;</b>(Inspection&#160;Mechanic&#160;Only)</p>
            <p style="position:absolute;top:860px;left:39px;white-space:nowrap" class="ft02"><b>E</b></p>
            <p style="position:absolute;top:948px;left:37px;white-space:nowrap" class="ft02"><b>&#160; &#160;&#160; &#160; CERTIFICATION&#160;</b></p>
            <p style="position:absolute;top:948px;left:40px;white-space:nowrap" class="ft02"><b>F</b></p>
            <p style="position:absolute;top:445px;left:62px;white-space:nowrap" class="ft03">Co-Owner&#160;Last&#160;Name</p>
            <p style="position:absolute;top:480px;left:497px;white-space:nowrap" class="ft03">City</p>
            <p style="position:absolute;top:479px;left:661px;white-space:nowrap" class="ft03">State</p>
            <p style="position:absolute;top:479px;left:761px;white-space:nowrap" class="ft03">Zip&#160;Code</p>
            <p style="position:absolute;top:514px;left:815px;white-space:nowrap" class="ft03">County&#160;Code</p>
            <p style="position:absolute;top:672px;left:470px;white-space:nowrap" class="ft02"><b>VERIFICATION&#160;BY&#160;POLICE&#160;OFFICER&#160;(Local&#160;or&#160;State&#160;Police)</b></p>
            <p style="position:absolute;top:212px;left:511px;white-space:nowrap" class="ft09"><b>YES</b></p>
            <p style="position:absolute;top:212px;left:602px;white-space:nowrap" class="ft09"><b>NO</b></p>
            <p style="position:absolute;top:921px;left:428px;white-space:nowrap" class="ft010"><b>NOTE:&#160;If&#160;additional&#160;axle&#160;was&#160;added,&#160;Form&#160;MV-426B&#160;must&#160;be&#160;completed.</b></p>
            <p style="position:absolute;top:518px;left:62px;white-space:nowrap" class="ft010"><b>Please&#160;use&#160;the&#160;“County&#160;Codes”&#160;listing&#160;found&#160;on&#160;the&#160;back&#160;of&#160;this&#160;application&#160;and&#160;list&#160;the&#160;numerical&#160;code&#160;for&#160;the&#160;county&#160;of&#160;your</b></p>
            <p style="position:absolute;top:533px;left:62px;white-space:nowrap" class="ft010"><b>residence.</b></p>
            <p style="position:absolute;top:590px;left:65px;white-space:nowrap" class="ft00">To&#160;be&#160;used&#160;only&#160;to&#160;correct&#160;typographical&#160;error&#160;of&#160;one&#160;digit,&#160;transposition</p>
            <p style="position:absolute;top:604px;left:65px;white-space:nowrap" class="ft00">of&#160;two&#160;digits,&#160;or&#160;if&#160;engine&#160;number&#160;has&#160;been&#160;erroneously&#160;recorded&#160;as&#160;the</p>
            <p style="position:absolute;top:617px;left:65px;white-space:nowrap" class="ft015">VIN&#160;<b>OR&#160;</b>for&#160;the&#160;purpose&#160;of&#160;VIN&#160;verification.<br /><b>ATTACH&#160;TRACING&#160;HERE&#160;OR&#160;HAVE&#160;AUTHORIZED&#160;NOTARY&#160;PUBLIC</b></p>
            <p style="position:absolute;top:649px;left:65px;white-space:nowrap" class="ft010"><b>EMPLOYED&#160;BY&#160;A&#160;FULL&#160;AGENT&#160;OR&#160;MOTOR&#160;VEHICLE&#160;DEALER,&#160;OR</b></p>
            <p style="position:absolute;top:662px;left:65px;white-space:nowrap" class="ft010"><b>INSPECTION&#160;MECHANIC&#160;COMPLETE&#160;THE&#160;VERIFICATION</b></p>
            <p style="position:absolute;top:676px;left:65px;white-space:nowrap" class="ft010"><b>INFORMATION&#160;BELOW</b>.</p>
            <p style="position:absolute;top:574px;left:471px;white-space:nowrap" class="ft03">Original&#160;Vehicle&#160;Identification&#160;Number&#160;(if&#160;known)</p>
            <p style="position:absolute;top:606px;left:470px;white-space:nowrap" class="ft00">Reason&#160;for&#160;Replacement&#160;of&#160;VIN&#160;Plate:</p>
            <p style="position:absolute;top:624px;left:493px;white-space:nowrap" class="ft00">Lost</p>
            <p style="position:absolute;top:624px;left:579px;white-space:nowrap" class="ft00">Stolen</p>
            <p style="position:absolute;top:624px;left:673px;white-space:nowrap" class="ft00">Defaced</p>
            <p style="position:absolute;top:624px;left:779px;white-space:nowrap" class="ft00">Never&#160;Received</p>
            <p style="position:absolute;top:648px;left:493px;white-space:nowrap" class="ft00">Other&#160;(Please&#160;Explain) <input type="text" name="vin-replacement-reason-other" value="" style="width:290px"></p>
            <p style="position:absolute;top:617px;left:472px;white-space:nowrap" class="ft01"><input type="radio" name="vin-replacement-reason" value=""></p>
            <p style="position:absolute;top:617px;left:561px;white-space:nowrap" class="ft01"><input type="radio" name="vin-replacement-reason" value=""></p>
            <p style="position:absolute;top:617px;left:654px;white-space:nowrap" class="ft01"><input type="radio" name="vin-replacement-reason" value=""></p>
            <p style="position:absolute;top:618px;left:759px;white-space:nowrap" class="ft01"><input type="radio" name="vin-replacement-reason" value=""></p>
            <p style="position:absolute;top:639px;left:473px;white-space:nowrap" class="ft01"><input type="radio" name="vin-replacement-reason" value=""></p>
            <p style="position:absolute;top:692px;left:63px;white-space:nowrap" class="ft03">Record&#160;Correct&#160;VIN</p>
            <p style="position:absolute;top:717px;left:62px;white-space:nowrap" class="ft03">Signature&#160;of&#160;Notary&#160;Public&#160;or&#160;Inspection&#160;Mechanic</p>
            <p style="position:absolute;top:718px;left:350px;white-space:nowrap" class="ft03">DIN/Mechanic&#160;#</p>
            <p style="position:absolute;top:692px;left:470px;white-space:nowrap" class="ft03">Signature&#160;of&#160;Police&#160;Officer</p>
            <p style="position:absolute;top:692px;left:726px;white-space:nowrap" class="ft03">Badge&#160;Number</p>
            <p style="position:absolute;top:717px;left:470px;white-space:nowrap" class="ft03">Department&#160;Name</p>
            <p style="position:absolute;top:717px;left:726px;white-space:nowrap" class="ft03">Telephone&#160;Number</p>
            <p style="position:absolute;top:788px;left:61px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="vehicle-make-requires-correction"></p>
            <p style="position:absolute;top:793px;left:135px;white-space:nowrap" class="ft013"><input type="text" style="width:145px" name="vehicle-make-correction" value=""></p>
            <p style="position:absolute;top:838px;left:120px;white-space:nowrap" class="ft013"><input type="text" style="width:160px" name="vehicle-odometer-correction" value=""></p>
            <p style="position:absolute;top:885px;left:165px;white-space:nowrap" class="ft013"><input type="text" style="width:390px" name="inspection-mechanic-signature" value=""></p>
            <p style="position:absolute;top:920px;left:130px;white-space:nowrap" class="ft013"><input type="text" style="width:105px" name="axel-correction" value=""></p>
            <p style="position:absolute;top:1015px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:650px" name="owner-signature" value=""></p>
            <p style="position:absolute;top:1055px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:650px" name="co-owner-signature" value=""></p>
            <p style="position:absolute;top:1015px;left:725px;white-space:nowrap" class="ft013"><input type="text" style="width:158px" name="owner-signature-date" value=""></p>
            <p style="position:absolute;top:1055px;left:728px;white-space:nowrap" class="ft013"><input type="text" style="width:15px" name="applicant-area-code" value=""></p>
            <p style="position:absolute;top:1055px;left:755px;white-space:nowrap" class="ft013"><input type="text" style="width:125px" name="applicant-telephone-number" value=""></p>
            <p style="position:absolute;top:885px;left:660px;white-space:nowrap" class="ft013"><input type="text" style="width:220px" name="inspection-mechanic-number" value=""></p>
            <p style="position:absolute;top:838px;left:365px;white-space:nowrap" class="ft013"><input type="text" style="width:138px" name="vehicle-gross-weight-correction" value=""></p>
            <p style="position:absolute;top:838px;left:590px;white-space:nowrap" class="ft013"><input type="text" style="width:149px" name="combination-gross-weight-correction" value=""></p>
            <p style="position:absolute;top:838px;left:810px;white-space:nowrap" class="ft013"><input type="text" style="width:73px" name="other-correction" value=""></p>
            <p style="position:absolute;top:793px;left:535px;white-space:nowrap" class="ft013"><input type="text" style="width:48px" name="vehicle-year-correction" value=""></p>
            <p style="position:absolute;top:800px;left:650px;white-space:nowrap" class="ft013"><input type="text" style="width:90px" name="vehicle-seating-correction" value=""></p>
            <p style="position:absolute;top:793px;left:825px;white-space:nowrap" class="ft013"><input type="text" style="width:57px" name="vehicle-unladen-weight-correction" value=""></p>
            <p style="position:absolute;top:793px;left:360px;white-space:nowrap" class="ft013"><input type="text" style="width:95px" name="vehicle-body-correction" value=""></p>
            <p style="position:absolute;top:788px;left:291px;white-space:nowrap" class="ft01"><input type="checkbox" name="vehicle-body-requires-correction" value=""></p>
            <p style="position:absolute;top:788px;left:466px;white-space:nowrap" class="ft01"><input type="checkbox" name="vehicle-year-requires-correction" value=""></p>
            <p style="position:absolute;top:788px;left:595px;white-space:nowrap" class="ft01"><input type="checkbox" name="vehicle-seating-requires-correction" value=""></p>
            <p style="position:absolute;top:788px;left:752px;white-space:nowrap" class="ft01"><input type="checkbox" name="vehicle-unladen-weight-requires-correction" value=""></p>
            <p style="position:absolute;top:827px;left:61px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="vehicle-odometer-requires-correction"></p>
            <p style="position:absolute;top:826px;left:291px;white-space:nowrap" class="ft01"><input type="checkbox" name="vehicle-gross-weight-requires-correction" value=""></p>
            <p style="position:absolute;top:826px;left:518px;white-space:nowrap" class="ft01"><input type="checkbox" name="combination-gross-weight-requires-correction" value=""></p>
            <p style="position:absolute;top:826px;left:752px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="other-required-correction"></p>
            <p style="position:absolute;top:916px;left:62px;white-space:nowrap" class="ft01"><input type="checkbox" value="" name="axel-number-requires-correction"></p>
            <p style="position:absolute;top:920px;left:259px;white-space:nowrap" class="ft01 ft010"><input type="radio" name="vehicle-axel-installed" value=""> Yes</p>
            <p style="position:absolute;top:921px;left:325px;white-space:nowrap" class="ft01 ft010"><input type="radio" value="" name="vehicle-axel-installed"> No</p>
            <p style="position:absolute;top:792px;left:81px;white-space:nowrap" class="ft011"><b>Make&#160;of&#160;Vehicle</b></p>
            <p style="position:absolute;top:805px;left:81px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:792px;left:312px;white-space:nowrap" class="ft011"><b>Body&#160;Type</b></p>
            <p style="position:absolute;top:805px;left:312px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:791px;left:486px;white-space:nowrap" class="ft011"><b>Year</b></p>
            <p style="position:absolute;top:804px;left:486px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:791px;left:616px;white-space:nowrap" class="ft011"><b>Seating&#160;Capacity</b></p>
            <p style="position:absolute;top:803px;left:616px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:830px;left:82px;white-space:nowrap" class="ft011"><b>Odometer&#160;</b>-&#160;</p>
            <p style="position:absolute;top:832px;left:134px;white-space:nowrap" class="ft012"><i>See&#160;Instructions&#160;on&#160;Reverse&#160;side</i></p>
            <p style="position:absolute;top:843px;left:82px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:829px;left:772px;white-space:nowrap" class="ft011"><b>Other</b></p>
            <p style="position:absolute;top:841px;left:772px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:830px;left:537px;white-space:nowrap" class="ft011"><b>Registered&#160;Gross&#160;Combination&#160;Weight</b></p>
            <p style="position:absolute;top:842px;left:537px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:791px;left:771px;white-space:nowrap" class="ft011"><b>Unladen&#160;Weight</b></p>
            <p style="position:absolute;top:804px;left:771px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:830px;left:312px;white-space:nowrap" class="ft011"><b>Registered&#160;Gross&#160;Vehicle&#160;Weight</b></p>
            <p style="position:absolute;top:842px;left:312px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:916px;left:81px;white-space:nowrap" class="ft011"><b>No.&#160;of&#160;Axles</b></p>
            <p style="position:absolute;top:928px;left:81px;white-space:nowrap" class="ft03">Correct&#160;to:</p>
            <p style="position:absolute;top:910px;left:249px;white-space:nowrap" class="ft03">Was&#160;additional&#160;axle&#160;installed?</p>
            <p style="position:absolute;top:1006px;left:62px;white-space:nowrap" class="ft03">Signature&#160;of&#160;Owner&#160;or&#160;Authorized&#160;Person</p>
            <p style="position:absolute;top:1060px;left:725px;white-space:nowrap" class="ft03">(&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;)</p>
            <p style="position:absolute;top:1005px;left:722px;white-space:nowrap" class="ft03">Date</p>
            <p style="position:absolute;top:1042px;left:721px;white-space:nowrap" class="ft03">Applicant’s&#160;Telephone&#160;Number</p>
            <p style="position:absolute;top:1043px;left:61px;white-space:nowrap" class="ft03">Signature&#160;of&#160;Co-Owner&#160;or&#160;Title&#160;of&#160;Authorized&#160;Person</p>
            <p style="position:absolute;top:863px;left:513px;white-space:nowrap" class="ft00">GVWR</p>
            <p style="position:absolute;top:862px;left:721px;white-space:nowrap" class="ft00">GCWR</p>
            <p style="position:absolute;top:881px;left:62px;white-space:nowrap" class="ft03">Signature&#160;of&#160;Inspection&#160;Mechanic</p>
            <p style="position:absolute;top:882px;left:570px;white-space:nowrap" class="ft03">Inspection&#160;Mechanic&#160;Number</p>
            <!-- <p style="position:absolute;top:927px;left:282px;white-space:nowrap" class="ft010"><b>Yes&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;No</b></p> -->
            <p style="position:absolute;top:971px;left:64px;white-space:nowrap" class="ft00">I/We&#160;hereby&#160;certify&#160;under&#160;penalty&#160;of&#160;law&#160;that&#160;ALL&#160;information&#160;is&#160;TRUE&#160;and&#160;CORRECT&#160;and&#160;that&#160;I/we&#160;understand&#160;that&#160;any&#160;misstatement&#160;of&#160;fact&#160;is&#160;a</p>
            <p style="position:absolute;top:984px;left:64px;white-space:nowrap" class="ft00">misdemeanor&#160;of&#160;the&#160;third&#160;degree&#160;punishable&#160;by&#160;a&#160;fine&#160;up&#160;to&#160;$2,500&#160;and/or&#160;imprisonment&#160;up&#160;to&#160;one&#160;year&#160;(18&#160;Pa.C.S.&#160;Section&#160;4904[b]).</p>
            <p style="position:absolute;top:212px;left:155px;white-space:nowrap" class="ft013"><input type="text" style="width:160px" name="title-number" value="{{  $vehicle.Title }}"></p>
            <p style="position:absolute;top:211px;left:322px;white-space:nowrap" class="ft013"><input type="text" style="width:143px" name="registration-plate-number" value="{{ $vehicle.PlateNum }}"></p>
            <p style="position:absolute;top:211px;left:650px;white-space:nowrap" class="ft013"><input type="text" style="width:143px" name="financial-instiitution-number" value=""></p>
            <p style="position:absolute;top:420px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:250px" name="vehicle-owner-last-name" value="{{ .company.Name }}"></p>
            <p style="position:absolute;top:455px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:250px" name="vehicle-co-owner-last-name" value=""></p>
            <p style="position:absolute;top:420px;left:320px;white-space:nowrap" class="ft013"><input type="text" style="width:160px" name="vehicle-owner-first-name" value=""></p>
            <p style="position:absolute;top:455px;left:320px;white-space:nowrap" class="ft013"><input type="text" style="width:160px" name="vehicle-co-owner-first-name" value=""></p>
            <p style="position:absolute;top:420px;left:493px;white-space:nowrap" class="ft013"><input type="text" style="width:50px" name="vehicle-owner-middle-initial" value=""></p>
            <p style="position:absolute;top:455px;left:493px;white-space:nowrap" class="ft013"><input type="text" style="width:50px" name="vehicle-co-owner-middle-initial" value=""></p>
            <p style="position:absolute;top:490px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:325px" name="vehicle-owner-street" value="{{  .company.PhysicalAddress.Street }}"></p>
            <p style="position:absolute;top:490px;left:395px;white-space:nowrap" class="ft013"><input type="text" style="width:200px" name="vehicle-owner-city" value="{{ .company.PhysicalAddress.City }}"></p>
            <p style="position:absolute;top:490px;left:605px;white-space:nowrap" class="ft013"><input type="text" style="width:140px" name="vehicle-owner-state" value="{{ .company.PhysicalAddress.State }}"></p>
            <p style="position:absolute;top:490px;left:755px;white-space:nowrap" class="ft013"><input type="text" style="width:125px" name="vehicle-owner-zip" value="{{ .company.PhysicalAddress.Zip }}"></p>
            <p style="position:absolute;top:532px;left:800px;white-space:nowrap" class="ft013"><input type="text" style="width:35px" name="vehicle-owner-county-code-1" value=""></p>
            <p style="position:absolute;top:532px;left:850px;white-space:nowrap" class="ft013"><input type="text" style="width:30px" name="vehicle-owner-county-code-2" value=""></p>
            <p style="position:absolute;top:694px;left:125px;white-space:nowrap" class="ft013"><input type="text" style="width:330px" name="correct-vin" value="{{ $vehicle.VIN }}"></p>
            <p style="position:absolute;top:728px;left:59px;white-space:nowrap" class="ft013"><input type="text" style="width:280px" name="notary-or-mechanic-signature" value=""></p>
            <p style="position:absolute;top:728px;left:350px;white-space:nowrap" class="ft013"><input type="text" style="width:105px" name="mechanic-number" value=""></p>
            <p style="position:absolute;top:694px;left:550px;white-space:nowrap" class="ft013"><input type="text" style="width:165px" name="police-officer-signature" value=""></p>
            <p style="position:absolute;top:728px;left:470px;white-space:nowrap" class="ft013"><input type="text" style="width:245px" name="police-officer-department-name" value=""></p>
            <p style="position:absolute;top:728px;left:730px;white-space:nowrap" class="ft013"><input type="text" style="width:150px" name="police-officer-telephone number" value=""></p>
            <p style="position:absolute;top:694px;left:775px;white-space:nowrap" class="ft013"><input type="text" style="width:105px" name="police-officer-badge-number" value=""></p>
            <p style="position:absolute;top:861px;left:557px;white-space:nowrap" class="ft013"><input type="text" style="width:155px" name="gvwr-verification" value="{{ $vehicle.GVW }}"></p>
            <p style="position:absolute;top:861px;left:757px;white-space:nowrap" class="ft013"><input type="text" style="width:125px" name="gcwr-verification" value="{{ $vehicle.GCR }}"></p>
            <p style="position:absolute;top:583px;left:470px;white-space:nowrap" class="ft013"><input type="text" style="width:413px" name="original-vin" value="{{ $vehicle.VIN }}"></p>
        </div>
        <br>
        <div id="page2-div" class="page" style="background-color:#ffffff;position:relative;width:918px;height:1188px;margin:0 auto;">
            <p style="position:absolute;top:47px;left:56px;white-space:nowrap" class="p2ft00"><b>NOTE:&#160;&#160;To&#160;correct&#160;or&#160;change&#160;the&#160;name&#160;listed&#160;on&#160;a&#160;Pennsylvania&#160;Certificate&#160;of&#160;Title,&#160;use&#160;Form&#160;MV-41A.&#160;In&#160;addition,&#160;if&#160;the&#160;vehicle</b></p>
            <p style="position:absolute;top:63px;left:118px;white-space:nowrap" class="p2ft00"><b>has&#160;been&#160;modified&#160;in&#160;any&#160;manner,&#160;Form&#160;MV-426B&#160;must&#160;be&#160;used.</b></p>
            <p style="position:absolute;top:89px;left:56px;white-space:nowrap" class="p2ft00"><b>If&#160;the&#160;title&#160;is&#160;being&#160;held&#160;by&#160;a&#160;lienholder&#160;that&#160;participates&#160;in&#160;the&#160;Electronic&#160;Lien&#160;and&#160;Titling&#160;Program&#160;(ELT),&#160;there&#160;will&#160;be&#160;no&#160;title</b></p>
            <p style="position:absolute;top:105px;left:56px;white-space:nowrap" class="p2ft00"><b>attached.</b></p>
            <p style="position:absolute;top:22px;left:396px;white-space:nowrap" class="p2ft01"><b><u>INFORMATION</u></b></p>
            <p style="position:absolute;top:129px;left:56px;white-space:nowrap" class="p2ft00"><b>GENERAL</b></p>
            <p style="position:absolute;top:153px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:151px;left:83px;white-space:nowrap" class="p2ft03">Individuals&#160;should&#160;list&#160;their&#160;PA&#160;Driver’s&#160;License&#160;(PA&#160;DL)&#160;or&#160;Photo&#160;ID#&#160;in&#160;the&#160;space&#160;provided.&#160;Businesses&#160;should&#160;list&#160;their&#160;Business&#160;ID#</p>
            <p style="position:absolute;top:168px;left:83px;white-space:nowrap" class="p2ft03">(Bus.&#160;ID)&#160;where&#160;indicated&#160;(i.e.&#160;E.I.N.).</p>
            <p style="position:absolute;top:190px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:189px;left:83px;white-space:nowrap" class="p2ft03">If&#160;this&#160;application&#160;is&#160;processed,&#160;and&#160;the&#160;requested&#160;title,&#160;registration,&#160;or&#160;both&#160;are&#160;not&#160;received&#160;due&#160;to&#160;loss&#160;in&#160;the&#160;mail,&#160;the&#160;vehicle&#160;owner</p>
            <p style="position:absolute;top:205px;left:83px;white-space:nowrap" class="p2ft03">may&#160;apply&#160;for&#160;a&#160;free&#160;duplicate&#160;title&#160;on&#160;Form&#160;MV-38O,&#160;and&#160;free&#160;replacement&#160;of&#160;registration&#160;on&#160;Form&#160;MV-44&#160;within&#160;90&#160;days&#160;of&#160;the&#160;date&#160;of</p>
            <p style="position:absolute;top:221px;left:83px;white-space:nowrap" class="p2ft03">original&#160;&#160;issuance.&#160;&#160;The&#160;&#160;lienholder,&#160;&#160;if&#160;&#160;applicable,&#160;&#160;must&#160;&#160;use&#160;&#160;Form&#160;&#160;MV-38L&#160;&#160;and&#160;&#160;a&#160;&#160;Pennsylvania&#160;&#160;Motor&#160;&#160;Vehicle&#160;&#160;Dealer&#160;&#160;must&#160;&#160;use&#160;&#160;Form</p>
            <p style="position:absolute;top:237px;left:83px;white-space:nowrap" class="p2ft03">MV-38D.</p>
            <p style="position:absolute;top:259px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:258px;left:83px;white-space:nowrap" class="p2ft03">Fee&#160;for&#160;issuance&#160;of&#160;a&#160;corrected&#160;title:&#160;$51.&#160;Do&#160;not&#160;send&#160;cash.&#160;Make&#160;check&#160;or&#160;money&#160;order&#160;payable&#160;to&#160;the&#160;Commonwealth&#160;of&#160;Pennsylvania</p>
            <p style="position:absolute;top:274px;left:83px;white-space:nowrap" class="p2ft03">and&#160;mail&#160;the&#160;completed&#160;application&#160;to:&#160;PA&#160;Department&#160;of&#160;Transportation,&#160;Bureau&#160;of&#160;Motor&#160;Vehicles,&#160;P.O.&#160;Box&#160;68593&#160;Harrisburg,&#160;PA</p>
            <p style="position:absolute;top:290px;left:83px;white-space:nowrap" class="p2ft03">17106-8593.</p>
            <p style="position:absolute;top:311px;left:56px;white-space:nowrap" class="p2ft00"><b>IF&#160;THE&#160;1ST&#160;BLOCK&#160;IS&#160;CHECKED&#160;ON&#160;REVERSE&#160;-&#160;Certificate&#160;of&#160;title&#160;and&#160;$51&#160;title&#160;fee&#160;must&#160;be&#160;attached.&#160;NOTE:&#160;Certificate&#160;of&#160;title&#160;and</b></p>
            <p style="position:absolute;top:327px;left:83px;white-space:nowrap" class="p2ft00"><b>fee&#160;are&#160;not&#160;required&#160;when&#160;used&#160;for&#160;verification&#160;of&#160;VIN&#160;only.</b></p>
            <p style="position:absolute;top:347px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:345px;left:83px;white-space:nowrap" class="p2ft03">This&#160;application&#160;can&#160;only&#160;be&#160;used&#160;to&#160;correct&#160;typographical&#160;error&#160;of&#160;one&#160;digit,&#160;transposition&#160;of&#160;two&#160;digits,&#160;or&#160;if&#160;the&#160;vehicle’s&#160;engine&#160;number</p>
            <p style="position:absolute;top:361px;left:83px;white-space:nowrap" class="p2ft03">has&#160;been&#160;erroneously&#160;recorded&#160;as&#160;the&#160;Vehicle&#160;Identification&#160;Number&#160;(VIN).</p>
            <p style="position:absolute;top:384px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:382px;left:83px;white-space:nowrap" class="p2ft03">Verification&#160;of&#160;the&#160;VIN&#160;can&#160;be&#160;done&#160;by&#160;authorized&#160;vehicle&#160;safety&#160;inspection&#160;mechanics&#160;and&#160;notaries&#160;public&#160;employed&#160;by&#160;a&#160;full&#160;agent&#160;or</p>
            <p style="position:absolute;top:398px;left:83px;white-space:nowrap" class="p2ft03">motor&#160;vehicle&#160;dealer.</p>
            <p style="position:absolute;top:419px;left:56px;white-space:nowrap" class="p2ft00"><b>IF&#160;THE&#160;2ND&#160;BLOCK&#160;IS&#160;CHECKED&#160;ON&#160;REVERSE&#160;-&#160;Certificate&#160;of&#160;title&#160;and&#160;$51&#160;title&#160;fee&#160;<u>MUST</u>&#160;be&#160;attached.</b></p>
            <p style="position:absolute;top:443px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:441px;left:83px;white-space:nowrap" class="p2ft03">Original&#160;Vehicle&#160;Identification&#160;Number&#160;(VIN)&#160;will&#160;be&#160;used&#160;on&#160;state&#160;replacement&#160;VIN&#160;plate&#160;unless&#160;original&#160;number&#160;cannot&#160;be&#160;determined.</p>
            <p style="position:absolute;top:458px;left:83px;white-space:nowrap" class="p2ft03">A&#160;corrected&#160;title&#160;and&#160;registration&#160;card&#160;will&#160;be&#160;issued&#160;indicating&#160;that&#160;a&#160;VIN&#160;plate&#160;has&#160;been&#160;replaced.</p>
            <p style="position:absolute;top:480px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:479px;left:83px;white-space:nowrap" class="p2ft03">Section&#160;&#160;C&#160;&#160;on&#160;&#160;the&#160;&#160;front&#160;&#160;of&#160;&#160;this&#160;&#160;application&#160;&#160;must&#160;&#160;be&#160;&#160;completed&#160;&#160;by&#160;&#160;a&#160;&#160;police&#160;&#160;officer.&#160;&#160;The&#160;&#160;police&#160;&#160;officer&#160;&#160;verifying&#160;&#160;the&#160;&#160;original&#160;&#160;Vehicle</p>
            <p style="position:absolute;top:495px;left:83px;white-space:nowrap" class="p2ft03">Identification&#160;Number&#160;(VIN)&#160;must&#160;sign&#160;his/her&#160;name&#160;and&#160;list&#160;the&#160;badge&#160;number,&#160;department&#160;name,&#160;and&#160;telephone&#160;number.</p>
            <p style="position:absolute;top:515px;left:56px;white-space:nowrap" class="p2ft00"><b>IF&#160;THE&#160;3RD&#160;BLOCK&#160;IS&#160;CHECKED&#160;ON&#160;REVERSE</b></p>
            <p style="position:absolute;top:539px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:538px;left:83px;white-space:nowrap" class="p2ft03">Current&#160;certificate&#160;of&#160;title&#160;is&#160;not&#160;required&#160;when&#160;applying&#160;for&#160;a&#160;correction&#160;of&#160;the&#160;registered&#160;gross&#160;weight&#160;and&#160;there&#160;have&#160;been&#160;no&#160;alterations</p>
            <p style="position:absolute;top:554px;left:83px;white-space:nowrap" class="p2ft03">to&#160;the&#160;vehicle.&#160;Certificate&#160;of&#160;title&#160;and&#160;$51&#160;title&#160;fee&#160;<b><u>MUST</u>&#160;</b>be&#160;attached&#160;for&#160;all&#160;other&#160;corrections.</p>
            <p style="position:absolute;top:576px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:575px;left:83px;white-space:nowrap" class="p2ft03">In&#160;addition&#160;to&#160;the&#160;title&#160;fee&#160;(if&#160;applicable),&#160;appropriate&#160;increase&#160;fee&#160;for&#160;the&#160;difference&#160;in&#160;registration&#160;weight&#160;and&#160;seating&#160;capacity&#160;must&#160;also</p>
            <p style="position:absolute;top:591px;left:83px;white-space:nowrap" class="p2ft03">be&#160;attached&#160;if&#160;registration&#160;is&#160;desired.</p>
            <p style="position:absolute;top:613px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:612px;left:83px;white-space:nowrap" class="p2ft03">Current&#160;certificate&#160;of&#160;title&#160;must&#160;be&#160;attached&#160;when&#160;applying&#160;for&#160;a&#160;correction&#160;of&#160;the&#160;odometer&#160;reading.&#160;Notarized&#160;statements&#160;from&#160;the</p>
            <p style="position:absolute;top:628px;left:83px;white-space:nowrap" class="p2ft03">previous&#160;owner&#160;and&#160;the&#160;applicant&#160;listed&#160;in&#160;Section&#160;A&#160;on&#160;this&#160;application&#160;are&#160;required.&#160;In&#160;addition,&#160;copies&#160;of&#160;past&#160;2&#160;years&#160;inspection&#160;records</p>
            <p style="position:absolute;top:644px;left:83px;white-space:nowrap" class="p2ft03">or&#160;repair&#160;bills&#160;that&#160;cover&#160;the&#160;time&#160;of&#160;the&#160;odometer&#160;discrepancy&#160;must&#160;be&#160;attached.&#160;In&#160;many&#160;instances,&#160;the&#160;inspection&#160;records&#160;or&#160;repair&#160;bills</p>
            <p style="position:absolute;top:660px;left:83px;white-space:nowrap" class="p2ft03">include&#160;the&#160;vehicle&#160;odometer&#160;reading&#160;at&#160;the&#160;time&#160;of&#160;vehicle&#160;safety&#160;inspection&#160;or&#160;repair,&#160;which&#160;will&#160;help&#160;substantiate&#160;the&#160;actual&#160;mileage</p>
            <p style="position:absolute;top:677px;left:83px;white-space:nowrap" class="p2ft03">being&#160;requested.</p>
            <p style="position:absolute;top:697px;left:56px;white-space:nowrap" class="p2ft00"><b>NOTE:&#160;</b>When&#160;changing&#160;the&#160;body&#160;type&#160;from&#160;off&#160;road&#160;vehicle&#160;(ORV)/low&#160;speed&#160;vehicle&#160;(LSV)&#160;to&#160;neighborhood&#160;electric&#160;vehicle&#160;(NEV),&#160;the</p>
            <p style="position:absolute;top:714px;left:83px;white-space:nowrap" class="p2ft03">vehicle&#160;must&#160;meet&#160;the&#160;equipment&#160;requirements&#160;and&#160;standards&#160;as&#160;set&#160;forth&#160;in&#160;49&#160;CFR&#160;571.500&#160;and&#160;shall&#160;be&#160;equipped&#160;with&#160;the&#160;following:</p>
            <p style="position:absolute;top:730px;left:83px;white-space:nowrap" class="p2ft03">(1)&#160;&#160;brakes&#160;&#160;adequate&#160;&#160;to&#160;&#160;control&#160;&#160;the&#160;&#160;movement&#160;&#160;of&#160;&#160;and&#160;&#160;to&#160;&#160;stop&#160;&#160;the&#160;&#160;vehicle;&#160;&#160;(2)&#160;&#160;an&#160;&#160;odometer;&#160;&#160;(3)&#160;&#160;a&#160;&#160;speedometer;&#160;&#160;(4)&#160;&#160;the&#160;&#160;original</p>
            <p style="position:absolute;top:746px;left:83px;white-space:nowrap" class="p2ft05">manufacturer's&#160;Vehicle&#160;Identification&#160;Number&#160;(VIN);&#160;(5)&#160;a&#160;windshield&#160;wiper;&#160;(6)&#160;a&#160;horn&#160;and&#160;(7)&#160;a&#160;batter&#160;charge&#160;indicator.<br />For&#160;&#160;more&#160;&#160;information&#160;&#160;regarding&#160;&#160;NEVs,&#160;&#160;please&#160;&#160;refer&#160;&#160;to&#160;&#160;the&#160;&#160;Neighborhood&#160;&#160;Electric&#160;&#160;Vehicle&#160;&#160;Fact&#160;&#160;Sheet&#160;&#160;found&#160;&#160;on&#160;&#160;our&#160;&#160;website&#160;&#160;at</p>
            <p style="position:absolute;top:783px;left:83px;white-space:nowrap" class="p2ft03">www.dmv.pa.gov.</p>
            <p style="position:absolute;top:804px;left:56px;white-space:nowrap" class="p2ft00"><b>IF&#160;THE&#160;4TH&#160;BLOCK&#160;IS&#160;CHECKED&#160;ON&#160;REVERSE</b></p>
            <p style="position:absolute;top:827px;left:56px;white-space:nowrap" class="p2ft02">l</p>
            <p style="position:absolute;top:826px;left:83px;white-space:nowrap" class="p2ft03">Verification&#160;of&#160;Gross&#160;Vehicle&#160;Weight&#160;Rating&#160;(GVWR)&#160;and&#160;Gross&#160;Combination&#160;Weight&#160;Rating&#160;(GCWR)&#160;must&#160;be&#160;completed&#160;by&#160;authorized</p>
            <p style="position:absolute;top:842px;left:83px;white-space:nowrap" class="p2ft03">inspection&#160;mechanics&#160;only&#160;in&#160;the&#160;spaces&#160;provided&#160;in&#160;Section&#160;E.</p>
            <p style="position:absolute;top:1136px;left:115px;white-space:nowrap" class="p2ft04"><b>Visit us at www.dmv.pa.gov or call us at 717-412-5300. &#160;TTY&#160;callers — please dial 711 to reach us. &#160;</b></p>
            <p style="position:absolute;top:893px;left:56px;white-space:nowrap" class="p2ft03">01&#160;-&#160;Adams</p>
            <p style="position:absolute;top:912px;left:56px;white-space:nowrap" class="p2ft03">02&#160;-&#160;Allegheny</p>
            <p style="position:absolute;top:930px;left:56px;white-space:nowrap" class="p2ft03">03&#160;-&#160;Armstrong</p>
            <p style="position:absolute;top:949px;left:56px;white-space:nowrap" class="p2ft03">04&#160;-&#160;Beaver</p>
            <p style="position:absolute;top:968px;left:56px;white-space:nowrap" class="p2ft03">05&#160;-&#160;Bedford</p>
            <p style="position:absolute;top:987px;left:56px;white-space:nowrap" class="p2ft03">06&#160;-&#160;Berks</p>
            <p style="position:absolute;top:1006px;left:56px;white-space:nowrap" class="p2ft03">07&#160;-&#160;Blair</p>
            <p style="position:absolute;top:1025px;left:56px;white-space:nowrap" class="p2ft03">08&#160;-&#160;Bradford</p>
            <p style="position:absolute;top:1044px;left:56px;white-space:nowrap" class="p2ft03">09&#160;-&#160;Bucks</p>
            <p style="position:absolute;top:1063px;left:56px;white-space:nowrap" class="p2ft03">10&#160;-&#160;Butler</p>
            <p style="position:absolute;top:1082px;left:56px;white-space:nowrap" class="p2ft03">11&#160;-&#160;Cambria</p>
            <p style="position:absolute;top:1101px;left:56px;white-space:nowrap" class="p2ft03">12&#160;-&#160;Cameron</p>
            <p style="position:absolute;top:893px;left:193px;white-space:nowrap" class="p2ft03">13&#160;-&#160;Carbon</p>
            <p style="position:absolute;top:912px;left:193px;white-space:nowrap" class="p2ft03">14&#160;-&#160;Centre</p>
            <p style="position:absolute;top:930px;left:193px;white-space:nowrap" class="p2ft03">15&#160;-&#160;Chester</p>
            <p style="position:absolute;top:949px;left:193px;white-space:nowrap" class="p2ft03">16&#160;-&#160;Clarion</p>
            <p style="position:absolute;top:968px;left:193px;white-space:nowrap" class="p2ft03">17&#160;-&#160;Clearfield</p>
            <p style="position:absolute;top:987px;left:193px;white-space:nowrap" class="p2ft03">18&#160;-&#160;Clinton</p>
            <p style="position:absolute;top:1006px;left:193px;white-space:nowrap" class="p2ft03">19&#160;-&#160;Columbia</p>
            <p style="position:absolute;top:1025px;left:193px;white-space:nowrap" class="p2ft03">20&#160;-&#160;Crawford</p>
            <p style="position:absolute;top:1044px;left:193px;white-space:nowrap" class="p2ft03">21&#160;-&#160;Cumberland</p>
            <p style="position:absolute;top:1063px;left:193px;white-space:nowrap" class="p2ft03">22&#160;-&#160;Dauphin</p>
            <p style="position:absolute;top:1082px;left:193px;white-space:nowrap" class="p2ft03">23&#160;-&#160;Delaware</p>
            <p style="position:absolute;top:1101px;left:193px;white-space:nowrap" class="p2ft03">24&#160;-&#160;Elk</p>
            <p style="position:absolute;top:873px;left:56px;white-space:nowrap" class="p2ft00"><b>COUNTY&#160;CODES</b></p>
            <p style="position:absolute;top:892px;left:336px;white-space:nowrap" class="p2ft03">25&#160;-&#160;Erie</p>
            <p style="position:absolute;top:911px;left:336px;white-space:nowrap" class="p2ft03">26&#160;-&#160;Fayette</p>
            <p style="position:absolute;top:930px;left:336px;white-space:nowrap" class="p2ft03">27&#160;-&#160;Forest</p>
            <p style="position:absolute;top:949px;left:336px;white-space:nowrap" class="p2ft03">28&#160;-&#160;Franklin</p>
            <p style="position:absolute;top:968px;left:336px;white-space:nowrap" class="p2ft03">29&#160;-&#160;Fulton</p>
            <p style="position:absolute;top:987px;left:336px;white-space:nowrap" class="p2ft03">30&#160;-&#160;Greene</p>
            <p style="position:absolute;top:1005px;left:336px;white-space:nowrap" class="p2ft03">31&#160;-&#160;Huntingdon</p>
            <p style="position:absolute;top:1024px;left:336px;white-space:nowrap" class="p2ft03">32&#160;-&#160;Indiana</p>
            <p style="position:absolute;top:1043px;left:336px;white-space:nowrap" class="p2ft03">33&#160;-&#160;Jefferson</p>
            <p style="position:absolute;top:1062px;left:336px;white-space:nowrap" class="p2ft03">34&#160;-&#160;Juniata</p>
            <p style="position:absolute;top:1081px;left:336px;white-space:nowrap" class="p2ft03">35&#160;-&#160;Lackawanna</p>
            <p style="position:absolute;top:1100px;left:336px;white-space:nowrap" class="p2ft03">36&#160;-&#160;Lancaster</p>
            <p style="position:absolute;top:892px;left:471px;white-space:nowrap" class="p2ft03">37&#160;-&#160;Lawrence</p>
            <p style="position:absolute;top:911px;left:471px;white-space:nowrap" class="p2ft03">38&#160;-&#160;Lebanon</p>
            <p style="position:absolute;top:930px;left:471px;white-space:nowrap" class="p2ft03">39&#160;-&#160;Lehigh</p>
            <p style="position:absolute;top:949px;left:471px;white-space:nowrap" class="p2ft03">40&#160;-&#160;Luzerne</p>
            <p style="position:absolute;top:968px;left:471px;white-space:nowrap" class="p2ft03">41&#160;-&#160;Lycoming</p>
            <p style="position:absolute;top:987px;left:471px;white-space:nowrap" class="p2ft03">42&#160;-&#160;McKean</p>
            <p style="position:absolute;top:1005px;left:471px;white-space:nowrap" class="p2ft03">43&#160;-&#160;Mercer</p>
            <p style="position:absolute;top:1024px;left:471px;white-space:nowrap" class="p2ft03">44&#160;-&#160;Mifflin</p>
            <p style="position:absolute;top:1043px;left:471px;white-space:nowrap" class="p2ft03">45&#160;-&#160;Monroe</p>
            <p style="position:absolute;top:1062px;left:471px;white-space:nowrap" class="p2ft03">46&#160;-&#160;Montgomery</p>
            <p style="position:absolute;top:1081px;left:471px;white-space:nowrap" class="p2ft03">47&#160;-&#160;Montour</p>
            <p style="position:absolute;top:1100px;left:471px;white-space:nowrap" class="p2ft03">48&#160;-&#160;Northampton</p>
            <p style="position:absolute;top:892px;left:614px;white-space:nowrap" class="p2ft03">49&#160;-&#160;Northumberland</p>
            <p style="position:absolute;top:911px;left:614px;white-space:nowrap" class="p2ft03">50&#160;-&#160;Perry</p>
            <p style="position:absolute;top:930px;left:614px;white-space:nowrap" class="p2ft03">51&#160;-&#160;Philadelphia</p>
            <p style="position:absolute;top:949px;left:614px;white-space:nowrap" class="p2ft03">52&#160;-&#160;Pike</p>
            <p style="position:absolute;top:968px;left:614px;white-space:nowrap" class="p2ft03">53&#160;-&#160;Potter</p>
            <p style="position:absolute;top:987px;left:614px;white-space:nowrap" class="p2ft03">54&#160;-&#160;Schuylkill</p>
            <p style="position:absolute;top:1005px;left:614px;white-space:nowrap" class="p2ft03">55&#160;-&#160;Snyder</p>
            <p style="position:absolute;top:1024px;left:614px;white-space:nowrap" class="p2ft03">56&#160;-&#160;Somerset</p>
            <p style="position:absolute;top:1043px;left:614px;white-space:nowrap" class="p2ft03">57&#160;-&#160;Sullivan</p>
            <p style="position:absolute;top:1062px;left:614px;white-space:nowrap" class="p2ft03">58&#160;-&#160;Susquehanna</p>
            <p style="position:absolute;top:1081px;left:614px;white-space:nowrap" class="p2ft03">59&#160;-&#160;Tioga</p>
            <p style="position:absolute;top:1100px;left:614px;white-space:nowrap" class="p2ft03">60&#160;-&#160;Union</p>
            <p style="position:absolute;top:892px;left:770px;white-space:nowrap" class="p2ft03">61&#160;-&#160;Venango</p>
            <p style="position:absolute;top:911px;left:770px;white-space:nowrap" class="p2ft03">62&#160;-&#160;Warren</p>
            <p style="position:absolute;top:930px;left:770px;white-space:nowrap" class="p2ft03">63&#160;-&#160;Washington</p>
            <p style="position:absolute;top:949px;left:770px;white-space:nowrap" class="p2ft03">64&#160;-&#160;Wayne</p>
            <p style="position:absolute;top:968px;left:770px;white-space:nowrap" class="p2ft03">65&#160;-&#160;Westmoreland</p>
            <p style="position:absolute;top:987px;left:770px;white-space:nowrap" class="p2ft03">66&#160;-&#160;Wyoming</p>
            <p style="position:absolute;top:1005px;left:770px;white-space:nowrap" class="p2ft03">67&#160;-&#160;York&#160;</p>
        </div>
        <div  style="position:relative;width:918px;margin:0 auto;">
            {{ template "st-scripts.tmpl" . }}
        </div>
        <script type="text/javascript">

            
        </script>
    </body>
</html>
