<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
    <head>
        <title>Page 1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {{ template "st-head.tmpl" . }}
        <style type="text/css">
            input {
                text-align:left;
            }
            @media print {
            input,
            textarea {
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            }
            input {
            font-size: 10px;
            }
            }
            p {
            margin: 0;
            padding: 0;
            }
            .ft00 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .ft01 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .ft02 {
            font-size: 18px;
            font-family: Times;
            color: #000000;
            }
            .ft03 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .ft04 {
            font-size: 11px;
            font-family: Times;
            color: #000000;
            }
            .ft05 {
            font-size: 20px;
            font-family: Times;
            color: #000000;
            }
            .ft06 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .ft07 {
            font-size: 13px;
            font-family: Times;
            color: #0000ff;
            }
            .ft08 {
            font-size: 7px;
            font-family: Times;
            color: #000000;
            }
            .ft09 {
            font-size: 13px;
            font-family: Times;
            color: #0000ff;
            }
            .ft010 {
            font-size: 14px;
            font-family: Times;
            color: #000000;
            }
            .ft011 {
            font-size: 11px;
            line-height: 16px;
            font-family: Times;
            color: #000000;
            }
            .ft012 {
            font-size: 13px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
            .ft013 {
            font-size: 13px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
            .ft014 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .ft015 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .ft016 {
            font-size: 18px;
            line-height: 24px;
            font-family: Times;
            color: #000000;
            }
            .p2ft00 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p2ft01 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p2ft02 {
            font-size: 18px;
            font-family: Times;
            color: #000000;
            }
            .p2ft03 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p2ft04 {
            font-size: 14px;
            font-family: Times;
            color: #000000;
            }
            .p2ft05 {
            font-size: 14px;
            font-family: Times;
            color: #000000;
            }
            .p2ft06 {
            font-size: 14px;
            font-family: Times;
            color: #0000ff;
            }
            .p2ft07 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p2ft08 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p2ft09 {
            font-size: 8px;
            font-family: Times;
            color: #000000;
            }
            .p2ft010 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p2ft011 {
            font-size: 18px;
            line-height: 24px;
            font-family: Times;
            color: #000000;
            }
            .p2ft012 {
            font-size: 14px;
            line-height: 18px;
            font-family: Times;
            color: #000000;
            }
            .p2ft013 {
            font-size: 14px;
            line-height: 18px;
            font-family: Times;
            color: #000000;
            }
            .p2ft014 {
            font-size: 14px;
            line-height: 19px;
            font-family: Times;
            color: #000000;
            }
            .p2ft015 {
            font-size: 14px;
            line-height: 19px;
            font-family: Times;
            color: #000000;
            }
            .p3ft00 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p3ft01 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p3ft02 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p3ft03 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p3ft04 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p3ft05 {
            font-size: 18px;
            font-family: Times;
            color: #000000;
            }
            .p3ft06 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p3ft07 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p3ft08 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p3ft09 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p3ft010 {
            font-size: 9px;
            line-height: 14px;
            font-family: Times;
            color: #000000;
            }
            .p3ft011 {
            font-size: 16px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
            .p3ft012 {
            font-size: 16px;
            line-height: 21px;
            font-family: Times;
            color: #000000;
            }
            .p3ft013 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .p3ft014 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .p3ft015 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .p3ft016 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .p4ft00 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p4ft01 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p4ft02 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p4ft03 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p4ft04 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p4ft05 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p4ft06 {
            font-size: 13px;
            line-height: 17px;
            font-family: Times;
            color: #000000;
            }
            .p4ft07 {
            font-size: 16px;
            line-height: 21px;
            font-family: Times;
            color: #000000;
            }
            .p4ft08 {
            font-size: 16px;
            line-height: 21px;
            font-family: Times;
            color: #000000;
            }
            .p4ft09 {
            font-size: 16px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
            .p5ft00 {
            font-size: 9px;
            font-family: Times;
            color: #000000;
            }
            .p5ft01 {
            font-size: 13px;
            font-family: Times;
            color: #000000;
            }
            .p5ft02 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p5ft03 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
            }
            .p5ft04 {
            font-size: 18px;
            font-family: Times;
            color: #000000;
            }
            .p5ft05 {
            font-size: 14px;
            font-family: Times;
            color: #000000;
            }
            .p5ft06 {
            font-size: 16px;
            line-height: 21px;
            font-family: Times;
            color: #000000;
            }
            .p5ft07 {
            font-size: 16px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
            .p5ft08 {
            font-size: 18px;
            line-height: 29px;
            font-family: Times;
            color: #000000;
            }
            .p5ft09 {
            font-size: 16px;
            line-height: 20px;
            font-family: Times;
            color: #000000;
            }
</style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">
        <div id="page1-div" class="page" style="position:relative;width:918px;height:1300px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:1105px;left:97px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1120px;left:97px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:81px;left:331px;white-space:nowrap" class="ft02"><b><u>APPLICATION CHECKLIST</u></b></p>
            <p style="position:absolute;top:105px;left:291px;white-space:nowrap" class="ft02"><b>Motor Common Carrier of Property&#160;</b></p>
            <p style="position:absolute;top:128px;left:464px;white-space:nowrap" class="ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:142px;left:97px;white-space:nowrap" class="ft011"><b>Use this checklist to make sure you have&#160;enclosed all required items or your application will&#160;not be processed. &#160;<br />You cannot operate in&#160;Pennsylvania until you receive&#160;a Certificate of&#160;Public Convenience from the Commission.&#160;</b></p>
            <p style="position:absolute;top:174px;left:97px;white-space:nowrap" class="ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:185px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="original-application" value=""></p>
            <p style="position:absolute;top:185px;left:124px;white-space:nowrap" class="ft012"><b>The original Application with original signatures (unless eFiled with the Commission’s online&#160;<br />eFiling system at www.puc.pa.gov)</b></p>
            <p style="position:absolute;top:232px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="check-or-money-order" value=""></p>
            <p style="position:absolute;top:232px;left:124px;white-space:nowrap" class="ft013"><b>A certified check, money&#160;order, or check from your attorney&#160;for $100 made payable to</b>&#160;<br />“<b>Commonwealth of Pennsylvania;</b>”&#160;</p>
            <p style="position:absolute;top:278px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="individual" value=""></p>
            <p style="position:absolute;top:278px;left:124px;white-space:nowrap" class="ft06"><b>IF application is being made as an individual or sole proprietor.</b>&#160;</p>
            <p style="position:absolute;top:304px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="partnership" value=""></p>
            <p style="position:absolute;top:304px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Partnership,&#160;provide a list of the names and addresses of ALL&#160;<br />partners.</b>&#160;</p>
            <p style="position:absolute;top:350px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="limited-partnership" value=""></p>
            <p style="position:absolute;top:350px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Limited Partnership, provide a list of names and addresses of ALL&#160;<br />partners, and your PA Corporation Bureau Entity&#160;ID Number.&#160;</b></p>
            <p style="position:absolute;top:396px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="limited-liability-partnership" value=""></p>
            <p style="position:absolute;top:396px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Limited Liability&#160;Partnership, provide a list of names and&#160;<br />addresses of ALL partners, and your PA Corporation Bureau Entity&#160;ID Number.&#160;</b></p>
            <p style="position:absolute;top:443px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="limited-liability-company" value=""></p>
            <p style="position:absolute;top:443px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Limited Liability&#160;Company,&#160;provide a list of the names and&#160;<br />addresses of ALL members and the Title of each member, and your PA Corporation Bureau Entity&#160;<br />ID Number.&#160;</b></p>
            <p style="position:absolute;top:509px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="corporation-for-profit" value=""></p>
            <p style="position:absolute;top:509px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Corporation For&#160;Profit, provide a list of ALL corporate officers and&#160;<br />titles, the name of each shareholder, distribution of&#160;shares, and your PA Corporation Bureau Entity&#160;<br />ID Number.&#160;</b></p>
            <p style="position:absolute;top:576px;left:97px;white-space:nowrap" class="ft05"><input type="checkbox" name="corporation-non-profit" value=""></p>
            <p style="position:absolute;top:576px;left:124px;white-space:nowrap" class="ft012"><b>IF application is being filed by&#160;a Corporation Non-Profit, provide a list of ALL corporate officers&#160;<br />and titles and those serving on the Board of Directors, and your PA Corporation Bureau Entity&#160;ID&#160;<br />Number.&#160;</b></p>
            <p style="position:absolute;top:645px;left:97px;white-space:nowrap" class="ft014"><b>&#160;<br />If not eFiled, mail your application and attachments to:&#160;</b></p>
            <p style="position:absolute;top:663px;left:480px;white-space:nowrap" class="ft06"><b>Secretary,&#160;PA Public Utility&#160;Commission&#160;</b></p>
            <p style="position:absolute;top:681px;left:480px;white-space:nowrap" class="ft06"><b>400 North Street, 2&#160;</b></p>
            <p style="position:absolute;top:680px;left:585px;white-space:nowrap" class="ft08"><b>nd</b></p>
            <p style="position:absolute;top:681px;left:595px;white-space:nowrap" class="ft06"><b>&#160;Floor</b></p>
            <p style="position:absolute;top:698px;left:480px;white-space:nowrap" class="ft06"><b>Harrisburg, Pennsylvania 17120</b></p>
            <p style="position:absolute;top:742px;left:97px;white-space:nowrap" class="ft015">Corporate entities (corporations, LPs,&#160;LLPs, and LLCs) and fictitious trade&#160;names must be registered with the&#160;<br />PA Department of State. &#160;Companies incorporated in&#160;other states must register as a foreign business&#160;<br />corporation. Individuals acting as sole proprietors and partnerships do not have to register.&#160;</p>
            <p style="position:absolute;top:803px;left:97px;white-space:nowrap" class="ft01">If you are not registered with the PA Department&#160;of State, you can apply at its website at&#160;</p>
            <p style="position:absolute;top:820px;left:97px;white-space:nowrap" class="ft01">www.dos.state.pa.us/corps on how to do business in Pennsylvania as:&#160;</p>
            <p style="position:absolute;top:846px;left:97px;white-space:nowrap" class="ft01">PA Corporations (Profit and Non-Profit)&#160;– apply for Articles of Incorporation&#160;</p>
            <p style="position:absolute;top:873px;left:97px;white-space:nowrap" class="ft01">Foreign Corporations – apply for a Certificate of Authority&#160;</p>
            <p style="position:absolute;top:899px;left:97px;white-space:nowrap" class="ft015">PA Limited Partnerships (LPs), Limited Liability Partnerships (LLPs), and Limited Liability Companies (LLCs) –&#160;<br />apply for an Application of Registration&#160;</p>
            <p style="position:absolute;top:942px;left:97px;white-space:nowrap" class="ft015">Fictitious Name Registration – File ONLY IF Trade Name will be different than the business name you register&#160;<br />with the PA Department of State.&#160;</p>
            <p style="position:absolute;top:986px;left:97px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:1004px;left:97px;white-space:nowrap" class="ft010"><b>&#160;</b></p>
            <p style="position:absolute;top:1022px;left:97px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:151px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:205px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:259px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:313px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:367px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:421px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:475px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:529px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:583px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:637px;white-space:nowrap" class="ft00">&#160;</p>
            <p style="position:absolute;top:1022px;left:691px;white-space:nowrap" class="ft00">Revised&#160;7/9/15&#160;</p>
            <p style="position:absolute;top:1038px;left:97px;white-space:nowrap" class="ft016"><b>&#160;<br />&#160;</b></p>
        </div>
        <br>
        <div id="page2-div" class="page" style="position:relative;width:918px;height:1300px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:1105px;left:97px;white-space:nowrap" class="p2ft00">&#160;</p>
            <p style="position:absolute;top:1120px;left:97px;white-space:nowrap" class="p2ft01">&#160;</p>
            <p style="position:absolute;top:81px;left:97px;white-space:nowrap" class="p2ft011"><b>General Information for Preparing and Filing the Application for Motor&#160;<br />Carrier of Property.&#160;&#160;</b></p>
            <p style="position:absolute;top:129px;left:97px;white-space:nowrap" class="p2ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:150px;left:97px;white-space:nowrap" class="p2ft013"><b>&#160;<br /></b>1. &#160;This application is required to request a Certificate of Public Convenience to operate as a&#160;<br />commercial carrier of property for compensation between points in Pennsylvania.&#160;<br />&#160;<br />2. &#160;Upon
                approval of the application, you will be&#160;notified that before you can operate legally, you&#160;<br />must submit evidence of insurance to the Commission. &#160;Your permanent evidence of insurance will&#160;<br />be a&#160;<b>Form E for bodily&#160;injury&#160;and property&#160;damage and a Form H or Cargo Waiver for cargo&#160;<br />insurance.</b>&#160;
                These forms must be submitted directly from&#160;the home office of your insurance carrier. &#160;<br />The name and address on your insurance forms must&#160;exactly match the name and address provided&#160;<br />on your application. &#160;If
                your insurance carrier subscribes to National Online Registries, Inc. (NOR at&#160;<br>www.mcinfo.org), you can ask your insurance carrier to file the required insurance forms<br>electronically with NOR which will reach the Commission more quickly than mailed forms.</p>
            <p style="position:absolute;top:359px;left:97px;white-space:nowrap" class="p2ft013"><br>The minimum limits of insurance are:&#160;<br />&#160;</p>
            <p style="position:absolute;top:413px;left:97px;white-space:nowrap" class="p2ft07">Bodily Injury - The liability of the insurance company&#160;on each motor vehicle operated in common or contract&#160;</p>
            <p style="position:absolute;top:434px;left:97px;white-space:nowrap" class="p2ft07">carrier service shall be in amounts not less than $300,000 per&#160;accident for a vehicle with a manufacturer's gross&#160;</p>
            <p style="position:absolute;top:454px;left:97px;white-space:nowrap" class="p2ft07">vehicle weight rating of 10,000 pounds or less, in the case of a single vehicle, or a manufacturer's gross&#160;</p>
            <p style="position:absolute;top:475px;left:97px;white-space:nowrap" class="p2ft07">combination weight rating of 10,000 pounds or less, in the&#160;case of an articulated vehicle. The liability of the&#160;</p>
            <p style="position:absolute;top:495px;left:97px;white-space:nowrap" class="p2ft07">insurance company on each motor vehicle operated in common or contract carrier service shall be in amounts&#160;</p>
            <p style="position:absolute;top:516px;left:97px;white-space:nowrap" class="p2ft07">not less than $750,000 per accident for a vehicle with a manufacturer's gross vehicle weight rating over 10,000&#160;</p>
            <p style="position:absolute;top:536px;left:97px;white-space:nowrap" class="p2ft07">pounds, in the case of a single vehicle, or a manufacturer's gross combination weight rating over 10,000&#160;</p>
            <p style="position:absolute;top:557px;left:97px;white-space:nowrap" class="p2ft07">pounds, in the case of an articulated vehicle. &#160;Insurance&#160;coverage of motor carriers of property shall meet the&#160;</p>
            <p style="position:absolute;top:577px;left:97px;white-space:nowrap" class="p2ft07">requirements of 75 PA C.S. Section 1711.&#160;</p>
            <p style="position:absolute;top:595px;left:97px;white-space:nowrap" class="p2ft013">&#160;<br />Cargo<b>&#160;</b>- $5,000 for loss or damage to cargo being transported. &#160;&#160;<br />&#160;<br />Cargo insurance may be waived if you meet any one of the following criteria: &#160;&#160;<br />&#160;<br />&#160;</p>
            <p style="position:absolute;top:690px;left:151px;white-space:nowrap" class="p2ft05">1. All transportation will be provided in dump trucks.&#160;</p>
            <p style="position:absolute;top:733px;left:97px;white-space:nowrap" class="p2ft05">&#160;</p>
            <p style="position:absolute;top:709px;left:151px;white-space:nowrap" class="p2ft05">2. All transportation will be limited to farm products, garbage, ashes, rubbish, coal&#160;</p>
            <p style="position:absolute;top:752px;left:97px;white-space:nowrap" class="p2ft05">&#160;</p>
            <p style="position:absolute;top:728px;left:151px;white-space:nowrap" class="p2ft05">debris, earth, crushed stone, amesite, and similar construction materials.&#160;</p>
            <p style="position:absolute;top:770px;left:97px;white-space:nowrap" class="p2ft05">&#160;</p>
            <p style="position:absolute;top:746px;left:151px;white-space:nowrap" class="p2ft05">3. The value of any one load being transported will not be more than $500 in value.&#160;</p>
            <p style="position:absolute;top:765px;left:97px;white-space:nowrap" class="p2ft013">&#160;<br />If applicant meets one of these three criteria, you may complete a Cargo Waiver available on the&#160;<br />Commission’s website at www.puc.pa.gov under Online Forms.</p>
            <p style="position:absolute;top:851px;left:97px;white-space:nowrap" class="p2ft04"><b>&#160;</b></p>
            <p style="position:absolute;top:879px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:905px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:931px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:958px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:984px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:1010px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:1036px;left:97px;white-space:nowrap" class="p2ft08"><b>&#160;</b></p>
            <p style="position:absolute;top:1062px;left:774px;white-space:nowrap" class="p2ft09">Revised 7/9/15&#160;</p>
            <p style="position:absolute;top:1083px;left:97px;white-space:nowrap" class="p2ft010"><b>&#160;</b></p>
        </div>
        <br>
        <div id="page3-div" class="page" style="position:relative;width:918px;height:1300px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:1105px;left:97px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:1120px;left:97px;white-space:nowrap" class="p3ft01">&#160;</p>
            <p style="position:absolute;top:76px;left:97px;white-space:nowrap" class="p3ft02"><b>Secretary&#160;</b></p>
            <p style="position:absolute;top:76px;left:774px;white-space:nowrap" class="p3ft02"><b></b>Revised 7/9/15&#160;</p>
            <p style="position:absolute;top:92px;left:97px;white-space:nowrap" class="p3ft02"><b>Pennsylvania Public Utility&#160;Commission&#160;</b></p>
            <p style="position:absolute;top:92px;left:367px;white-space:nowrap" class="p3ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:92px;left:421px;white-space:nowrap" class="p3ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:92px;left:475px;white-space:nowrap" class="p3ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:92px;left:529px;white-space:nowrap" class="p3ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:92px;left:583px;white-space:nowrap" class="p3ft02"><b>&#160;</b></p>
            <p style="position:absolute;top:107px;left:97px;white-space:nowrap" class="p3ft010"><b>400 North Street, Second Floor&#160;<br />Harrisburg, PA&#160;17120&#160;<br />(717) 772-7777 &#160;</b></p>
            <p style="position:absolute;top:149px;left:97px;white-space:nowrap" class="p3ft03"><b>www.puc.pa.gov</b></p>
            <p style="position:absolute;top:147px;left:192px;white-space:nowrap" class="p3ft04"><b>&#160;</b></p>
            <p style="position:absolute;top:164px;left:97px;white-space:nowrap" class="p3ft04"><b>&#160;</b></p>
            <p style="position:absolute;top:180px;left:464px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:197px;left:201px;white-space:nowrap" class="p3ft05"><b>Application for Motor Common Carrier of Property&#160;&#160;</b></p>
            <p style="position:absolute;top:219px;left:464px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:234px;left:151px;white-space:nowrap" class="p3ft011">THIS APPLICATION IS REQUIRED&#160;TO REQUEST A CERTIFICATE OF&#160;<br />PUBLIC CONVENIENCE TO OPERATE AS A COMMERCIAL CARRIER&#160;<br />OF PROPERTY FOR COMPENSATION BETWEEN POINTS IN&#160;<br />PENNSYLVANIA. &#160;</p>
            <p style="position:absolute;top:315px;left:97px;white-space:nowrap" class="p3ft012">&#160;<br />1.<b>&#160;</b></p>
            <p style="position:absolute;top:338px;left:151px;white-space:nowrap" class="p3ft07"><b>Legal Name of Applicant&#160;</b></p>
            <p style="position:absolute;top:340px;left:366px;white-space:nowrap" class="p3ft01">(Individual, Partnership or Corporation)&#160;</p>
            <p style="position:absolute;top:359px;left:97px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:379px;left:159px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:399px;left:151px;white-space:nowrap" class="p3ft00">&#160;</p>
            <ul style="position:absolute;top:411px;left:125px;" class="p3ft01">
                <li>
                    If you are an individual who has not formed any type of corporate entity, you should
                    <br>
                    enter your name
                    <b>as it will appear on your insurance documents</b>.
                    <br>
                    <br>
                </li>
                <li>
                    If you are filing for a partnership, but
                    <b>not a limited liability partnership</b>, the names of
                    <br>
                    all partners must be entered on this line.  Those names should be entered
                    <b>as they will <br>
                    appear on your insurance documents</b>.  This includes husbands and wives filing
                    <br />
                    jointly.
                    <br>
                    <br>
                </li>
                <li>
                    If you are filing for a corporate entity (corporation, limited liability company, or limited
                    <br>
                    liability partnership),
                    <b>even if you are the sole shareholder member</b>, you must enter
                    <br>
                    the name
                    <b><u>exactly as it appears on the registration papers from the Corporation <br>
                    Bureau of the Pennsylvania Department of State</u></b>.
                </li>
            </ul>
            <p style="position:absolute;top:620px;left:97px;white-space:nowrap" class="p3ft01">&#160;</p>
            <p style="position:absolute;top:620px;left:151px;white-space:nowrap" class="p3ft01">&#160;&#160;</p>
            <p style="position:absolute;top:638px;left:97px;white-space:nowrap" class="p3ft06">2.&#160;</p>
            <p style="position:absolute;top:638px;left:151px;white-space:nowrap" class="p3ft07"><b>Trade Name</b></p>
            <p style="position:absolute;top:639px;left:240px;white-space:nowrap" class="p3ft01">(Attach a copy of fictitious&#160;name registration if applicable)&#160;</p>
            <p style="position:absolute;top:658px;left:97px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:673px;left:159px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:693px;left:97px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:693px;left:151px;white-space:nowrap" class="p3ft00">&#160;</p>
            <p style="position:absolute;top:708px;left:151px;white-space:nowrap" class="p3ft016">This is any name which you will be operating under which differs from the&#160;<b>LEGAL NAME OF&#160;<br />APPLICANT</b>. &#160;A&#160;<b>TRADE NAME</b>&#160;is considered a&#160;<b>FICTITIOUS NAME&#160;</b>if the identity of the&#160;<br />applicant
                cannot be readily determined. &#160;<i>EXAMPLE:&#160;&#160;John&#160;Doe is the applicant and wants to&#160;<br />use the name&#160;</i>“Johnboy Trucking”<i>&#160;as his trade name. &#160;People cannot readily determine&#160;that&#160;<br />John Doe is the actual operator; therefore, the name is fictitious and must&#160;be&#160;registered&#160;as&#160;<br />such. &#160;Trade names such as&#160;</i>“John
                Doe Trucking”&#160;<i>or&#160;&#160;</i>“J. Doe Trucking”&#160;<i>are not&#160;considered&#160;<br />fictitious and would not have to be registered.&#160;<br /></i>&#160;</p>
            <p style="position:absolute;top:845px;left:97px;white-space:nowrap" class="p3ft012">&#160;<br />3.&#160;</p>
            <p style="position:absolute;top:868px;left:151px;white-space:nowrap" class="p3ft07"><b>Do you currently&#160;hold PA PUC Authority?</b>&#160; &#160;<input type="checkbox" name="current-puc-authority" value="">NO &#160;<b>Previous Authority?</b>&#160;<input type="checkbox" name="previous-puc-authority" value="">NO&#160;</p>
            <p style="position:absolute;top:889px;left:97px;white-space:nowrap" class="p3ft012">&#160;<br />&#160;</p>
            <p style="position:absolute;top:910px;left:151px;white-space:nowrap" class="p3ft07"><b>If yes, at PUC No. A</b>- <input type="text" name="puc-number" value="">&#160;&#160;</p>
            <p style="position:absolute;top:929px;left:97px;white-space:nowrap" class="p3ft012">&#160;<br />4.&#160;</p>
            <p style="position:absolute;top:952px;left:151px;white-space:nowrap" class="p3ft07"><b>Are you a business entity&#160;registered with the PA Department of State?</b>&#160;<input type="checkbox" name="pa-registered" value="">NO&#160;</p>
            <p style="position:absolute;top:970px;left:97px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:972px;left:151px;white-space:nowrap" class="p3ft01">If No, you must&#160;first register (see checklist)&#160;</p>
            <p style="position:absolute;top:990px;left:97px;white-space:nowrap" class="p3ft012">&#160;<br />&#160;</p>
            <p style="position:absolute;top:1011px;left:151px;white-space:nowrap" class="p3ft07"><b>If Yes, provide your PA Corporation Bureau Entity&#160;ID Number</b>&#160;<input type="text" name="entity-number" value="{{ .company.EntityNum }}"></p>
            <p style="position:absolute;top:1029px;left:97px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:1031px;left:151px;white-space:nowrap" class="p3ft01">(see checklist and indicate type of business entity registered)&#160;</p>
            <p style="position:absolute;top:1048px;left:97px;white-space:nowrap" class="p3ft01">&#160;</p>
            <p style="position:absolute;top:1066px;left:97px;white-space:nowrap" class="p3ft06">&#160;</p>
            <p style="position:absolute;top:375px;left:151px;white-space:nowrap" class="p3ft01"><input type="text" value="{{ .company.Name }}" style="width:650px;" name="legal-name"></p>
            <p style="position:absolute;top:669px;left:151px;white-space:nowrap" class="p3ft01"><input type="text" name="trade-name" style="width:650px;" value="{{ .company.Name }}"></p>
        </div>
        <br>
        <div id="page4-div" class="page" style="position:relative;width:918px;height:1300px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:1105px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:1120px;left:97px;white-space:nowrap" class="p4ft01">&#160;</p>
            <p style="position:absolute;top:80px;left:97px;white-space:nowrap" class="p4ft02">5.&#160;</p>
            <p style="position:absolute;top:80px;left:151px;white-space:nowrap" class="p4ft03"><b>Physical Address</b>&#160;</p>
            <p style="position:absolute;top:80px;left:275px;white-space:nowrap" class="p4ft01">(do not use post office box)</p>
            <p style="position:absolute;top:80px;left:487px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:99px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:116px;left:159px;white-space:nowrap" class="p4ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:136px;left:151px;white-space:nowrap" class="p4ft01">Street Address&#160;</p>
            <p style="position:absolute;top:152px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:168px;left:159px;white-space:nowrap" class="p4ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:186px;left:97px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:188px;left:151px;white-space:nowrap" class="p4ft01">City, State and Zip Code&#160;</p>
            <p style="position:absolute;top:188px;left:367px;white-space:nowrap" class="p4ft01">&#160;</p>
            <p style="position:absolute;top:205px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:205px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:221px;left:159px;white-space:nowrap" class="p4ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:220px;left:396px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:221px;left:517px;white-space:nowrap" class="p4ft03"><b>&#160;</b></p>
            <p style="position:absolute;top:241px;left:151px;white-space:nowrap" class="p4ft01">Telephone Number</p>
            <p style="position:absolute;top:241px;left:510px;white-space:nowrap" class="p4ft01">County</p>
            <p style="position:absolute;top:258px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:272px;left:151px;white-space:nowrap" class="p4ft06">The address entered here should reflect the actual&#160;location&#160;of&#160;the business. &#160;This is the&#160;<br />address the Commission needs in order to dispatch Enforcement Officers to inspect&#160;<br />equipment. &#160;<i><b>&#160;</b></i></p>
            <p style="position:absolute;top:324px;left:97px;white-space:nowrap" class="p4ft04"><i><b>&#160;</b></i></p>
            <p style="position:absolute;top:340px;left:97px;white-space:nowrap" class="p4ft07">&#160;<br />6.&#160;</p>
            <p style="position:absolute;top:363px;left:151px;white-space:nowrap" class="p4ft03"><b>Mailing Address</b>&#160;</p>
            <p style="position:absolute;top:363px;left:270px;white-space:nowrap" class="p4ft01">(if different from Physical Address)</p>
            <p style="position:absolute;top:363px;left:525px;white-space:nowrap" class="p4ft02">&#160;&#160;</p>
            <p style="position:absolute;top:363px;left:583px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:383px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:398px;left:159px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:419px;left:151px;white-space:nowrap" class="p4ft01">Street Address&#160;</p>
            <p style="position:absolute;top:435px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:450px;left:159px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:469px;left:97px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:471px;left:151px;white-space:nowrap" class="p4ft01">City, State and Zip Code&#160;</p>
            <p style="position:absolute;top:488px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:502px;left:151px;white-space:nowrap" class="p4ft06">This is the address to which the Commission will&#160;send&#160;all&#160;official documents issued by the&#160;<br />Commission. If left blank, it will be assumed that the&#160;<b>MAILING ADDRESS</b>&#160;is&#160;the same as the&#160;<br /><b>PHYSICAL ADDRESS</b>.</p>
            <p style="position:absolute;top:535px;left:309px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:554px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:567px;left:97px;white-space:nowrap" class="p4ft07">&#160;<br />7.</p>
            <p style="position:absolute;top:593px;left:112px;white-space:nowrap" class="p4ft01">&#160;</p>
            <p style="position:absolute;top:590px;left:151px;white-space:nowrap" class="p4ft03"><b>Attorney</b>&#160;</p>
            <p style="position:absolute;top:593px;left:230px;white-space:nowrap" class="p4ft01">(if applicable)&#160;</p>
            <p style="position:absolute;top:610px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:625px;left:159px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:625px;left:213px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:644px;left:97px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:646px;left:151px;white-space:nowrap" class="p4ft01">Attorney’s Name &amp; Telephone Number for this Filing&#160;</p>
            <p style="position:absolute;top:646px;left:529px;white-space:nowrap" class="p4ft01">&#160;</p>
            <p style="position:absolute;top:662px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:662px;left:151px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:677px;left:159px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:696px;left:97px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:698px;left:151px;white-space:nowrap" class="p4ft01">Attorney’s Address&#160;</p>
            <p style="position:absolute;top:715px;left:464px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:729px;left:151px;white-space:nowrap" class="p4ft06">An attorney’s name should only be entered if an attorney&#160;is&#160;filing&#160;the application for a client and&#160;<br />the application is being sent under the attorney’s cover letter.</p>
            <p style="position:absolute;top:744px;left:556px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:763px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:776px;left:97px;white-space:nowrap" class="p4ft07">&#160;<br />8.&#160;</p>
            <p style="position:absolute;top:799px;left:151px;white-space:nowrap" class="p4ft03"><b>Do you hold interstate operating authority?</b>&#160;&#160;&#160;</p>
            <p style="position:absolute;top:819px;left:97px;white-space:nowrap" class="p4ft00">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;</p>
            <p style="position:absolute;top:833px;left:159px;white-space:nowrap" class="p4ft01">&#160;</p>
            <p style="position:absolute;top:832px;left:145px;white-space:nowrap" class="p4ft02"><input type="radio" name="interstate-operating-authority" value="">&#160;&#160;&#160;&#160;&#160;&#160;No&#160;</p>
            <p style="position:absolute;top:834px;left:281px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:834px;left:315px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:832px;left:300px;white-space:nowrap" class="p4ft02"><input type="radio" name="interstate-operating-authority" value="">&#160;&#160;&#160;&#160;&#160;&#160;
                Yes, at No. <input type="text" name="interstate-operating-authority-number" value="{{ .company.MCNum }}">&#160;</p>
            <p style="position:absolute;top:857px;left:97px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:871px;left:97px;white-space:nowrap" class="p4ft07">&#160;<br />9.&#160;</p>
            <p style="position:absolute;top:894px;left:151px;white-space:nowrap" class="p4ft03"><b>What type of commodities do you intend to transport?</b>&#160; &#160;</p>
            <p style="position:absolute;top:930px;left:151px;white-space:nowrap" class="p4ft03"><textarea name="commodities" rows="8" cols="82" style="resize:none"></textarea></p>
            <p style="position:absolute;top:914px;left:97px;white-space:nowrap" class="p4ft02">&#160;</p>
            <p style="position:absolute;top:935px;left:159px;white-space:nowrap" class="p4ft08">&#160;<br />&#160;<br /><b>&#160;<br />&#160;</b></p>
            <p style="position:absolute;top:1020px;left:104px;white-space:nowrap" class="p4ft00">&#160;</p>
            <p style="position:absolute;top:1035px;left:104px;white-space:nowrap" class="p4ft09">&#160;<br />&#160;<br />&#160;</p>
            <p style="position:absolute;top:110px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" value="{{ .company.PhysicalAddress.Street }}" style="width:650px" name="physical-address-street"></p>
            <p style="position:absolute;top:161px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" value="{{ .company.PhysicalAddress.City }}, {{ .company.PhysicalAddress.State }} {{ .company.PhysicalAddress.Zip }} " style="width:650px" name="physical-address-city-state-zip"></p>
            <p style="position:absolute;top:213px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" value="{{ .company.ContactPhone }}" style="width:245px" name="telephone-number"></p>
            <p style="position:absolute;top:213px;left:510px;white-space:nowrap" class="p4ft01"><input type="text" name="physical-address-county" value="{{ .company.PhysicalAddress.County }}" style="width:265px"></p>
            <p style="position:absolute;top:394px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" name="mailing-address-street" value="{{ .company.MailingAddress.Street }}" style="width:650px"></p>
            <p style="position:absolute;top:443px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" value="{{ .company.MailingAddress.City }}, {{ .company.MailingAddress.State }} {{ .company.MailingAddress.Zip }} " style="width:650px" name="mailing-address-city-state-zip"></p>
            <p style="position:absolute;top:618px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" name="attorney-name-telephone" value="" style="width:650px"></p>
            <p style="position:absolute;top:670px;left:151px;white-space:nowrap" class="p4ft01"><input type="text" name="attorney-address" value="" style="width:650px"></p>
        </div>
        <br>
        <div id="page5-div" class="page" style="position:relative;width:918px;height:1188px;margin:0 auto;background-color:#ffffff;">
            <p style="position:absolute;top:1105px;left:97px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1120px;left:97px;white-space:nowrap" class="p5ft01">&#160;</p>
            <p style="position:absolute;top:78px;left:104px;white-space:nowrap" class="p5ft06">&#160;<br />10.&#160;</p>
            <p style="position:absolute;top:101px;left:151px;white-space:nowrap" class="p5ft03"><b>Certification:&#160;</b></p>
            <p style="position:absolute;top:120px;left:97px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:135px;left:151px;white-space:nowrap" class="p5ft07">Applicant certifies that it is not now&#160;engaged in unauthorized intrastate transportation&#160;<br />for compensation between points in Pennsylvania and will not engage in said&#160;<br />transportation unless and until authorization is&#160;received
                from the Pennsylvania Public&#160;<br />Utility Commission.&#160;</p>
            <p style="position:absolute;top:217px;left:97px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:217px;left:151px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:232px;left:151px;white-space:nowrap" class="p5ft07">Applicant further certifies that it understands the requirements of the Pennsylvania&#160;<br />Public Utility Commission, especially as they relate to safety and insurance and that it&#160;<br />may be subject to civil penalties, suspension
                or cancellation of the Certificate for&#160;<br />failure to comply with Commission requirements.&#160;</p>
            <p style="position:absolute;top:313px;left:97px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:328px;left:151px;white-space:nowrap" class="p5ft07">Applicant further certifies that it understands that it is subject to an annual&#160;<br />assessment based upon its reported gross Pennsylvania intrastate revenues; said&#160;<br />assessment to help defray expenses incurred in regulating Motor
                Common Carriers&#160;<br />of Property; and acknowledges that failure to report revenue and pay its annual&#160;<br />assessment may result in civil penalties, suspension or cancellation of the certificate. &#160;&#160;</p>
            <p style="position:absolute;top:428px;left:97px;white-space:nowrap" class="p5ft04"><b>&#160;</b></p>
            <p style="position:absolute;top:452px;left:97px;white-space:nowrap" class="p5ft08"><b>&#160;<br />Verification of Application&#160;</b></p>
            <p style="position:absolute;top:505px;left:97px;white-space:nowrap" class="p5ft07"><b>&#160;<br /></b>I/We hereby state that the statement(s) made in this application is/are true and correct to&#160;<br />the best of my/our knowledge and belief. &#160;<br />&#160;<br />The undersigned understands that false statements herein
                are made subject to the&#160;<br />penalties of 18 Pa. C.S. Section 4904 relating&#160;to unsworn falsification to authorities.</p>
            <p style="position:absolute;top:685px;left:97px;white-space:nowrap" class="p5ft05"><input type="text" name="signature-print" value="" style="width:500px"></p>
            <p style="position:absolute;top:770px;left:610px;white-space:nowrap" class="p5ft05"><input type="text" name="signature-date" value="" style="width:200px"></p>
            <p style="position:absolute;top:770px;left:97px;white-space:nowrap" class="p5ft05"></p>
            <p style="position:absolute;top:711px;left:97px;white-space:nowrap" class="p5ft05">(Print Name)&#160;&#160;&#160;</p>
            <p style="position:absolute;top:792px;left:97px;white-space:nowrap" class="p5ft05">(Signature) &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;</p>
            <p style="position:absolute;top:792px;left:313px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:367px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:421px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:475px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:529px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:583px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:637px;white-space:nowrap" class="p5ft05">&#160;</p>
            <p style="position:absolute;top:792px;left:691px;white-space:nowrap" class="p5ft05">(Date)&#160;</p>
            <p style="position:absolute;top:812px;left:97px;white-space:nowrap" class="p5ft07">&#160;<br />&#160;<br />The verification of the application must be completed by the applicant appearing on Line 1&#160;<br />of the application by the named individual, all&#160;partners if a partnership, a member (if a&#160;<br />limited liability
                company), or&#160;by the President or Secretary (if a corporation). &#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;</p>
            <p style="position:absolute;top:1059px;left:97px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:151px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:205px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:259px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:313px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:367px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:421px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:475px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:529px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:583px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:637px;white-space:nowrap" class="p5ft00">&#160;</p>
            <p style="position:absolute;top:1059px;left:691px;white-space:nowrap" class="p5ft00">Revised&#160;7/9/15&#160;</p>
            <p style="position:absolute;top:1074px;left:97px;white-space:nowrap" class="p5ft02">&#160;</p>
        </div>
        <div  style="position:relative;width:918px;margin:0 auto;">
            {{ template "st-scripts.tmpl" . }}
        </div>
    </body>
</html>
