<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
    <head>
        <title>TMT-39</title>
        {{ template "st-head.tmpl" . }}
        <style type="text/css">
            @media print {
            input,
            textarea {
                background-color: transparent;
                border-color: transparent !important;
                box-shadow: none !important;
                outline-color: transparent; !important;
            }
            }
            input {
            font-size: 10px;
            }
            p {
            margin: 0;
            padding: 0;
            }
            .ft00 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft01 {
            font-size: 13px;
            font-family: Times;
            color: #231f20;
            }
            .ft02 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft03 {
            font-size: 22px;
            font-family: Times;
            color: #231f20;
            }
            .ft04 {
            font-size: 34px;
            font-family: Times;
            color: #231f20;
            }
            .ft05 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .ft06 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .ft07 {
            font-size: 11px;
            font-family: Times;
            color: #231f20;
            }
            .ft08 {
            font-size: 9px;
            font-family: Times;
            color: #231f20;
            }
            .ft09 {
            font-size: 9px;
            font-family: Times;
            color: #231f20;
            }
            .ft010 {
            font-size: 9px;
            font-family: Times;
            color: #231f20;
            }
            .ft011 {
            font-size: 10px;
            font-family: Times;
            color: #231f20;
            }
            .ft012 {
            font-size: 7px;
            font-family: Times;
            color: #231f20;
            }
            .ft013 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft014 {
            font-size: 8px;
            font-family: Times;
            color: #231f20;
            }
            .ft015 {
            font-size: 11px;
            font-family: Times;
            color: #000000;
            }
            .ft016 {
            font-size: 11px;
            line-height: 16px;
            font-family: Times;
            color: #231f20;
            }
            .ft017 {
            font-size: 9px;
            line-height: 17px;
            font-family: Times;
            color: #231f20;
            }

</style>
    </head>
    <body bgcolor="#A0A0A0" vlink="blue" link="blue">
        <div id="page1-div" class="page" style="position:relative;width:918px;height:1188px;margin:0 auto;">
            <img width="918" height="1188" src="/static/img/forms/tmt-39001.png" alt="background image" />
            <p style="position:absolute;top:288px;left:178px;white-space:nowrap" class="ft00"><b>Employer identification number (EIN)&#160;&#160;&#160;Suffix, if any&#160;</b></p>
            <p style="position:absolute;top:302px;left:428px;white-space:nowrap" class="ft01"><b>OR</b></p>
            <p style="position:absolute;top:288px;left:450px;white-space:nowrap" class="ft00"><b>&#160;</b></p>
            <p style="position:absolute;top:288px;left:484px;white-space:nowrap" class="ft00"><b>Social security number&#160;</b></p>
            <p style="position:absolute;top:302px;left:654px;white-space:nowrap" class="ft01"><b>SS</b></p>
            <p style="position:absolute;top:53px;left:126px;white-space:nowrap" class="ft02">New York State Department of Taxation and Finance</p>
            <p style="position:absolute;top:65px;left:126px;white-space:nowrap" class="ft03"><b>New Account Application for</b></p>
            <p style="position:absolute;top:91px;left:126px;white-space:nowrap" class="ft03"><b>Highway Use Tax (HUT) and Automotive Fuel Carrier (AFC)</b></p>
            <p style="position:absolute;top:46px;left:737px;white-space:nowrap" class="ft04"><b>TMT-39</b></p>
            <p style="position:absolute;top:85px;left:830px;white-space:nowrap" class="ft05">(4/11)&#160;</p>
            <p style="position:absolute;top:134px;left:108px;white-space:nowrap" class="ft016"><b>Get your credentials online in minutes at&#160;<i>www.oscar.ny.gov<br /></i></b>To use OSCAR all you need is an active USDOT number and a Highway Use Tax (&#160;HUT&#160;) account</p>
            <p style="position:absolute;top:181px;left:54px;white-space:nowrap" class="ft08">—&#160;</p>
            <p style="position:absolute;top:180px;left:72px;white-space:nowrap" class="ft09"><b>Read the instructions</b>, Form TMT-39-I, before completing this form. Incomplete and incorrectly prepared forms will not be processed.</p>
            <p style="position:absolute;top:198px;left:54px;white-space:nowrap" class="ft08">—&#160;&#160;Use this form to establish a Highway Use Tax (HUT) account. When your account is approved, you will be instructed to obtain your HUT/AFC credentials online. You&#160;</p>
            <p style="position:absolute;top:211px;left:72px;white-space:nowrap" class="ft08">will need Internet access.</p>
            <p style="position:absolute;top:228px;left:54px;white-space:nowrap" class="ft017">—&#160;&#160;Do not use this form if you previously registered for HUT. Go directly to&#160;<i>www.oscar.ny.gov<br /></i>—&#160;&#160;Fax completed form to (518) 435-8538. Please allow three business days for processing.</p>
            <p style="position:absolute;top:282px;left:54px;white-space:nowrap" class="ft011"><b>&#160;&#160;1.&#160;Identification&#160;</b></p>
            <p style="position:absolute;top:294px;left:54px;white-space:nowrap" class="ft011"><b>&#160;&#160;&#160;&#160;number</b></p>
            <p style="position:absolute;top:343px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:345px;left:59px;white-space:nowrap" class="ft00"><b>2.</b>&#160;&#160;USDOT number&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<b>3.</b>&#160;&#160;Business phone number&#160;</p>
            <p style="position:absolute;top:345px;left:347px;white-space:nowrap" class="ft00"><b>4.</b>&#160;&#160;Email address&#160;</p>
            <p style="position:absolute;top:343px;left:464px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:345px;left:707px;white-space:nowrap" class="ft00"><b>5.</b>&#160;&#160;Fax number</p>
            <p style="position:absolute;top:379px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:380px;left:59px;white-space:nowrap" class="ft00"><b>6.</b>&#160;&#160;Legal name&#160;</p>
            <p style="position:absolute;top:380px;left:464px;white-space:nowrap" class="ft00"><b>7.</b>&#160;&#160;Doing business as (DBA) name, if different from legal name</p>
            <p style="position:absolute;top:415px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:417px;left:59px;white-space:nowrap" class="ft00"><b>8.</b>&#160;&#160;Physical address <i>(number and street)</i></p>
            <p style="position:absolute;top:415px;left:235px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:417px;left:463px;white-space:nowrap" class="ft00"><b>9.</b>&#160;&#160;Mailing address <i>(if different than physical address; number and street or PO box)</i></p>
            <p style="position:absolute;top:451px;left:54px;white-space:nowrap" class="ft02">&#160;&#160;City&#160;</p>
            <p style="position:absolute;top:451px;left:280px;white-space:nowrap" class="ft02">State&#160;</p>
            <p style="position:absolute;top:451px;left:385px;white-space:nowrap" class="ft02">ZIP code&#160;</p>
            <p style="position:absolute;top:451px;left:464px;white-space:nowrap" class="ft02">City&#160;</p>
            <p style="position:absolute;top:451px;left:685px;white-space:nowrap" class="ft02">State&#160;</p>
            <p style="position:absolute;top:451px;left:795px;white-space:nowrap" class="ft02">ZIP code</p>
            <p style="position:absolute;top:487px;left:54px;white-space:nowrap" class="ft02">&#160;&#160;Country <i>(enter if other than United States; do not abbreviate)</i></p>
            <p style="position:absolute;top:487px;left:464px;white-space:nowrap" class="ft02">Country <i>(enter if other than United States; do not abbreviate)</i></p>
            <p style="position:absolute;top:525px;left:54px;white-space:nowrap" class="ft00"><b>&#160;&#160;10.&#160;&#160;&#160;&#160;&#160;&#160;</b>Type of business&#160;<i>(&#160;mark an&#160;<b>X</b>&#160;in one box and specify if&#160;</i>Other&#160;)</p>
            <p style="position:absolute;top:547px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:547px;left:81px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:542px;left:86px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="sole-proprietor" {{ if eq .company.BusinessType "Sole Proprietor" }}checked{{ end }}></p>
            <p style="position:absolute;top:542px;left:195px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="corporation" {{ if eq .company.BusinessType "Corporation" }}checked{{ end }}></p>
            <p style="position:absolute;top:542px;left:291px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="partnership" {{ if eq .company.BusinessType "Partnership" }}checked{{ end }}></p>
            <p style="position:absolute;top:542px;left:385px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="llc" {{ if eq .company.BusinessType "LLC" }}checked{{ end }}></p>
            <p style="position:absolute;top:542px;left:443px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="llp" {{ if eq .company.BusinessType "LLP" }}checked{{ end }}></p>
            <p style="position:absolute;top:542px;left:501px;white-space:nowrap" class="ft02"><input type="radio" name="type-of-business" value="other" {{ if eq .company.BusinessType "OTHER" }}checked{{ end }}></p>
            <p style="position:absolute;top:547px;left:113px;white-space:nowrap" class="ft02">Sole proprietor&#160;</p>
            <p style="position:absolute;top:547px;left:222px;white-space:nowrap" class="ft02">Corporation&#160;</p>
            <p style="position:absolute;top:547px;left:318px;white-space:nowrap" class="ft02">Partnership&#160;</p>
            <p style="position:absolute;top:547px;left:414px;white-space:nowrap" class="ft02">LLC&#160;</p>
            <p style="position:absolute;top:547px;left:468px;white-space:nowrap" class="ft02">LLP&#160;</p>
            <p style="position:absolute;top:547px;left:528px;white-space:nowrap" class="ft02">Other:</p>
            <p style="position:absolute;top:540px;left:564px;white-space:nowrap" class="ft015"><input type="text" name="type-of-business-other" value="{{ .company.BusinessTypeOther }}" style="width:195px"></p>
            <p style="position:absolute;top:568px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:567px;left:59px;white-space:nowrap" class="ft00"><b>11.</b>&#160;&#160;&#160;&#160;&#160;&#160;List the name, title, social security number, and address of each principal officer of a corporation, or of each partner, or member of an LLC/LLP, or owner if sole&#160;</p>
            <p style="position:absolute;top:580px;left:81px;white-space:nowrap" class="ft02">proprietorship.</p>
            <p style="position:absolute;top:596px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:596px;left:81px;white-space:nowrap" class="ft02">Name&#160;</p>
            <p style="position:absolute;top:596px;left:240px;white-space:nowrap" class="ft02">Title&#160;</p>
            <p style="position:absolute;top:596px;left:350px;white-space:nowrap" class="ft02">SSN&#160;</p>
            <p style="position:absolute;top:596px;left:468px;white-space:nowrap" class="ft02">Number and street&#160;</p>
            <p style="position:absolute;top:596px;left:620px;white-space:nowrap" class="ft02">City&#160;</p>
            <p style="position:absolute;top:596px;left:730px;white-space:nowrap" class="ft02">State&#160;</p>
            <p style="position:absolute;top:596px;left:810px;white-space:nowrap" class="ft02">ZIP code</p>
            <p style="position:absolute;top:721px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:720px;left:59px;white-space:nowrap" class="ft00"><b>12.&#160;&#160;&#160;&#160;&#160;&#160;</b>Enter the location where tax and mileage records will be available for audit.</p>
            <p style="position:absolute;top:738px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:738px;left:81px;white-space:nowrap" class="ft02">Name of custodian of records&#160;</p>
            <p style="position:absolute;top:738px;left:288px;white-space:nowrap" class="ft02">Number and street&#160;</p>
            <p style="position:absolute;top:738px;left:477px;white-space:nowrap" class="ft02">City&#160;</p>
            <p style="position:absolute;top:738px;left:610px;white-space:nowrap" class="ft02">State&#160;</p>
            <p style="position:absolute;top:738px;left:700px;white-space:nowrap" class="ft02">ZIP code&#160;</p>
            <p style="position:absolute;top:738px;left:780px;white-space:nowrap" class="ft02">Telephone number</p>
            <p style="position:absolute;top:776px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:776px;left:59px;white-space:nowrap" class="ft00"><b>13.&#160;</b></p>
            <p style="position:absolute;top:777px;left:87px;white-space:nowrap" class="ft02"><input type="checkbox" value="" name="complated-by-agent"></p>
            <p style="position:absolute;top:795px;left:87px;white-space:nowrap" class="ft02"><input type="checkbox" name="completed-by-employee" value=""></p>
            <p style="position:absolute;top:894px;left:87px;white-space:nowrap" class="ft02"><input type="checkbox" name="signed-by-employee" value=""></p>
            <p style="position:absolute;top:911px;left:87px;white-space:nowrap" class="ft02"><input type="checkbox" name="signed-by-agent" value=""></p>
            <p style="position:absolute;top:782px;left:108px;white-space:nowrap" class="ft02">Mark an&#160;<i><b>X</b></i>&#160;in the box if this form is completed by an agent or other representative.</p>
            <p style="position:absolute;top:800px;left:108px;white-space:nowrap" class="ft02">Mark an&#160;<i><b>X&#160;</b></i>in the box if this form is completed by an employee who is not an officer of a corporation, partner of a partnership, or member of an LLC/LLP, or&#160;&#160;</p>
            <p style="position:absolute;top:812px;left:108px;white-space:nowrap" class="ft02">owner if sole proprietor.</p>
            <p style="position:absolute;top:830px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:830px;left:59px;white-space:nowrap" class="ft00"><b>14.&#160;&#160;&#160;&#160;&#160;&#160;</b>Enter name, address, and phone number of the person completing this form.</p>
            <p style="position:absolute;top:851px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:851px;left:81px;white-space:nowrap" class="ft02">Name of employee&#160;</p>
            <p style="position:absolute;top:851px;left:195px;white-space:nowrap" class="ft02">Title&#160;</p>
            <p style="position:absolute;top:851px;left:300px;white-space:nowrap" class="ft02">Number and street&#160;</p>
            <p style="position:absolute;top:851px;left:477px;white-space:nowrap" class="ft02">City&#160;</p>
            <p style="position:absolute;top:851px;left:610px;white-space:nowrap" class="ft02">State&#160;</p>
            <p style="position:absolute;top:851px;left:700px;white-space:nowrap" class="ft02">ZIP code&#160;</p>
            <p style="position:absolute;top:851px;left:780px;white-space:nowrap" class="ft02">Telephone number</p>
            <p style="position:absolute;top:893px;left:55px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:893px;left:59px;white-space:nowrap" class="ft00"><b>15.&#160;</b></p>
            <p style="position:absolute;top:899px;left:108px;white-space:nowrap" class="ft02">Mark an&#160;<i><b>X</b></i>&#160;in the box if line 16 is signed by an employee who is not an officer, partner, member, or proprietor.</p>
            <p style="position:absolute;top:917px;left:55px;white-space:nowrap" class="ft02">&#160;&#160;</p>
            <p style="position:absolute;top:917px;left:108px;white-space:nowrap" class="ft02">Mark an&#160;<i><b>X</b></i>&#160;in the box if line 16 is signed by an agent, service, or other representative.</p>
            <p style="position:absolute;top:935px;left:55px;white-space:nowrap" class="ft02">&#160;&#160;</p>
            <p style="position:absolute;top:935px;left:89px;white-space:nowrap" class="ft02">If you mark either box, you must fax a Form POA-1,&#160;<i>Power of Attorney</i>, with this application.</p>
            <p style="position:absolute;top:1034px;left:252px;white-space:nowrap" class="ft06"><b>•	&#160;Fax	completed	form	to	(518)	435-8538.</b></p>
            <p style="position:absolute;top:1067px;left:252px;white-space:nowrap" class="ft06"><b>•	&#160;We	will	not	process	incomplete	and	incorrectly	prepared	forms.</b></p>
            <p style="position:absolute;top:1100px;left:252px;white-space:nowrap" class="ft06"><b>•	&#160;Questions?	Call	(518)	457-5735.</b></p>
            <p style="position:absolute;top:955px;left:54px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:954px;left:59px;white-space:nowrap" class="ft00"><b>16.&#160;&#160;&#160;</b>Signature&#160;</p>
            <p style="position:absolute;top:980px;left:315px;white-space:nowrap" class="ft015"><input type="text" name="signature-print" style="width:215px" value="{{ .company.ContactName }}"></p>
            <p style="position:absolute;top:980px;left:545px;white-space:nowrap" class="ft015"><input type="text" name="signature-title" style="width:185px" value="{{ .company.ContactTitle }}"></p>
            <p style="position:absolute;top:980px;left:745px;white-space:nowrap" class="ft015"><input type="text" name="signature-date" style="width:110px"></p>
            <p style="position:absolute;top:955px;left:311px;white-space:nowrap" class="ft02">Printed name of person signing&#160;</p>
            <p style="position:absolute;top:955px;left:545px;white-space:nowrap" class="ft02">Title&#160;&#160;</p>
            <p style="position:absolute;top:955px;left:693px;white-space:nowrap" class="ft02">&#160;</p>
            <p style="position:absolute;top:955px;left:743px;white-space:nowrap" class="ft02">Date signed</p>
            <p style="position:absolute;top:307px;left:183px;white-space:nowrap" class="ft015"><input type="text" style="width:148px;" name="ein" value="{{ .company.EINNum }}"></p>
            <p style="position:absolute;top:307px;left:487px;white-space:nowrap" class="ft015"><input type="text" name="social-security" value="" style="width:152px;"></p>
            <p style="position:absolute;top:307px;left:362px;white-space:nowrap" class="ft015"><input type="text" name="ein-siffix" value="" style="width:25px;"></p>
            <p style="position:absolute;top:361px;left:55px;white-space:nowrap" class="ft015"><input type="text"  style="width:93px;" name="us-dot-number" value="{{ .company.DOTNum }}"></p>
            <p style="position:absolute;top:361px;left:157px;white-space:nowrap" class="ft015"><input type="text" style="width:178px;"  name="phone" value="{{ .company.Phone }}"></p>
            <p style="position:absolute;top:361px;left:347px;white-space:nowrap" class="ft015">Adam@cnsprotects.com</p>
            <p style="position:absolute;top:361px;left:706px;white-space:nowrap" class="ft015">(888)&#160;339-2490</p>
            <p style="position:absolute;top:397px;left:59px;white-space:nowrap" class="ft015"><input type="text" style="width:390px" name="company-name" value="{{ .company.Name }}"></p>
            <p style="position:absolute;top:433px;left:59px;white-space:nowrap" class="ft015"><input type="text" style="width:390px" name="company-physical-address-street" value="{{ .company.PhysicalAddress.Street }}"></p>
            <p style="position:absolute;top:469px;left:59px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.PhysicalAddress.City }}" style="width:170px" name="company-physical-address-city"></p>
            <p style="position:absolute;top:505px;left:59px;white-space:nowrap" class="ft015"><input type="text" name="company-physical-address-country" value="" style="width:392px"></p>
            <p style="position:absolute;top:505px;left:465px;white-space:nowrap" class="ft015"><input type="text" value="" style="width:392px" name="company-mailing-address-country"></p>
            <p style="position:absolute;top:469px;left:465px;white-space:nowrap" class="ft015"><input type="text" name="company-mailing-address-city" value="{{ .company.MailingAddress.City }}" style="width:170px"></p>
            <p style="position:absolute;top:469px;left:646px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.MailingAddress.State }}" style="width:100px" name="company-mailing-address-state"></p>
            <p style="position:absolute;top:469px;left:240px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.PhysicalAddress.State }}" style="width:100px" name="company-physical-address-state"></p>
            <p style="position:absolute;top:469px;left:350px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.PhysicalAddress.Zip }}" style="width:100px" name="company-physical-address-zip"></p>
            <p style="position:absolute;top:469px;left:756px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.MailingAddress.Zip }}" style="width:100px" name="company-mailing-address-zip"></p>
            <p style="position:absolute;top:397px;left:464px;white-space:nowrap" class="ft015"><input type="text" value="{{ .company.DBA }}" style="width:390px" name="doing-bussiness-as-name"></p>
            <p style="position:absolute;top:433px;left:464px;white-space:nowrap" class="ft015"><input type="text" style="width:390px" name="company-mailing-address-street" value="{{ .company.MailingAddress.Street }}"></p>
            <p style="position:absolute;top:613px;left:200px;white-space:nowrap" class="ft015"><input type="text" name="member-title-1" style="width:100px"></p>
            <p style="position:absolute;top:631px;left:200px;white-space:nowrap" class="ft015"><input type="text" name="member-title-2" style="width:100px"></p>
            <p style="position:absolute;top:649px;left:200px;white-space:nowrap" class="ft015"><input type="text" name="member-title-3" style="width:100px"></p>
            <p style="position:absolute;top:667px;left:200px;white-space:nowrap" class="ft015"><input type="text" name="member-title-4" style="width:100px"></p>
            <p style="position:absolute;top:685px;left:200px;white-space:nowrap" class="ft015"><input type="text" name="member-title-5" style="width:100px"></p>
            <p style="position:absolute;top:631px;left:80px;white-space:nowrap" class="ft015"><input type="text" name="member-name-2" style="width:110px"></p>
            <p style="position:absolute;top:649px;left:80px;white-space:nowrap" class="ft015"><input type="text" name="member-name-3" style="width:110px"></p>
            <p style="position:absolute;top:667px;left:80px;white-space:nowrap" class="ft015"><input type="text" name="member-name-4" style="width:110px"></p>
            <p style="position:absolute;top:685px;left:80px;white-space:nowrap" class="ft015"><input type="text" name="member-name-5" style="width:110px"></p>
            <p style="position:absolute;top:613px;left:80px;white-space:nowrap" class="ft015"><input type="text" name="member-name-1" style="width:110px"></p>
            <p style="position:absolute;top:613px;left:310px;white-space:nowrap" class="ft015"><input type="text" name="member-ssn-1" style="width:100px"></p>
            <p style="position:absolute;top:631px;left:310px;white-space:nowrap;" class="ft015"><input type="text" name="member-ssn-2" style="width:100px"></p>
            <p style="position:absolute;top:649px;left:310px;white-space:nowrap;" class="ft015"><input type="text" name="member-ssn-3" style="width:100px"></p>
            <p style="position:absolute;top:667px;left:310px;white-space:nowrap;" class="ft015"><input type="text" name="member-ssn-4" style="width:100px"></p>
            <p style="position:absolute;top:685px;left:310px;white-space:nowrap;" class="ft015"><input type="text" name="member-ssn-5" style="width:100px"></p>
            <p style="position:absolute;top:613px;left:420px;white-space:nowrap" class="ft015"><input type="text" name="member-street-1" style="width:150px" ></p>
            <p style="position:absolute;top:631px;left:420px;white-space:nowrap" class="ft015"><input type="text" name="member-street-2" style="width:150px"></p>
            <p style="position:absolute;top:649px;left:420px;white-space:nowrap" class="ft015"><input type="text" name="member-street-3" style="width:150px"></p>
            <p style="position:absolute;top:667px;left:420px;white-space:nowrap" class="ft015"><input type="text" name="member-street-4" style="width:150px"></p>
            <p style="position:absolute;top:685px;left:420px;white-space:nowrap" class="ft015"><input type="text" name="member-street-5" style="width:150px"></p>
            <p style="position:absolute;top:613px;left:580px;white-space:nowrap" class="ft015"><input type="text" name="member-city-1" style="width:100px" ></p>
            <p style="position:absolute;top:631px;left:580px;white-space:nowrap" class="ft015"><input type="text" name="member-city-2" style="width:100px"></p>
            <p style="position:absolute;top:649px;left:580px;white-space:nowrap" class="ft015"><input type="text" name="member-city-3" style="width:100px"></p>
            <p style="position:absolute;top:667px;left:580px;white-space:nowrap" class="ft015"><input type="text" name="member-city-4" style="width:100px"></p>
            <p style="position:absolute;top:685px;left:580px;white-space:nowrap" class="ft015"><input type="text" name="member-city-5" style="width:100px"></p>
            <p style="position:absolute;top:613px;left:800px;white-space:nowrap" class="ft015"><input type="text" name="member-zip-1" style="width:50px" ></p>
            <p style="position:absolute;top:631px;left:800px;white-space:nowrap" class="ft015"><input type="text" name="member-zip-2" style="width:50px"></p>
            <p style="position:absolute;top:649px;left:800px;white-space:nowrap" class="ft015"><input type="text" name="member-zip-3" style="width:50px"></p>
            <p style="position:absolute;top:667px;left:800px;white-space:nowrap" class="ft015"><input type="text" name="member-zip-4" style="width:50px"></p>
            <p style="position:absolute;top:685px;left:800px;white-space:nowrap" class="ft015"><input type="text" name="member-zip-5" style="width:50px"></p>
            <p style="position:absolute;top:613px;left:690px;white-space:nowrap" class="ft015"><input type="text" name="member-state-1" style="width:100px" ></p>
            <p style="position:absolute;top:631px;left:690px;white-space:nowrap" class="ft015"><input type="text" name="member-state-2" style="width:100px"></p>
            <p style="position:absolute;top:649px;left:690px;white-space:nowrap" class="ft015"><input type="text" name="member-state-3" style="width:100px"></p>
            <p style="position:absolute;top:667px;left:690px;white-space:nowrap" class="ft015"><input type="text" name="member-state-4" style="width:100px"></p>
            <p style="position:absolute;top:685px;left:690px;white-space:nowrap" class="ft015"><input type="text" name="member-state-5" style="width:100px"></p>
            <p style="position:absolute;top:755px;left:84px;white-space:nowrap" class="ft015"><input type="text" name="audit-custodian" value="{{ .company.ContactName }}"></p>
            <p style="position:absolute;top:870px;left:80px;white-space:nowrap" class="ft015"><input type="text" style="width:75px" name="completed-by-name" value="{{ .company.ContactName }}"></p>
            <p style="position:absolute;top:870px;left:165px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-title" style="width:75px" value="{{ .company.ContactTitle }}"></p>
            <p style="position:absolute;top:755px;left:220px;white-space:nowrap" class="ft015"><input type="text" name="audit-street" style="width:200px" value="{{ .company.ContactAddress.Street }}"></p>
            <p style="position:absolute;top:870px;left:250px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-street" style="width:170px" value="{{ .company.ContactAddress.Street }}"></p>
            <p style="position:absolute;top:755px;left:430px;white-space:nowrap" class="ft015"><input type="text" name="audit-city" style="width:125px" value="{{ .company.ContactAddress.City }}"></p>
            <p style="position:absolute;top:870px;left:430px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-city" style="width:125px" value="{{ .company.ContactAddress.City }}"></p>
            <p style="position:absolute;top:755px;left:565px;white-space:nowrap" class="ft015"><input type="text" name="audit-state" style="width:100px" value="{{ .company.ContactAddress.State }}"></p>
            <p style="position:absolute;top:870px;left:565px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-state" style="width:100px" value="{{ .company.ContactAddress.State }}"></p>
            <p style="position:absolute;top:755px;left:760px;white-space:nowrap" class="ft015"><input type="text" name="audit-telephone" value="{{ .company.ContactPhone }}" style="width:95px"></p>
            <p style="position:absolute;top:870px;left:760px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-telephone" style="width:95px" value="{{ .company.ContactPhone }}"></p>
            <p style="position:absolute;top:755px;left:675px;white-space:nowrap" class="ft015"><input type="text" name="audit-zip" style="width:75px" value="{{ .company.ContactAddress.Zip }}"></p>
            <p style="position:absolute;top:870px;left:675px;white-space:nowrap" class="ft015"><input type="text" name="completed-by-zip" style="width:75px" value="{{ .company.ContactAddress.Zip }}"></p>
        </div>

        <div style="position:relative;width:918px;margin:0 auto;">
            {{ template "st-scripts.tmpl" . }}
        </div>

    </body>
</html>
